[2018-06-05 03:46] tsteur opened #1 "In debug mode, add the possibility to change the debug frame height"
It would be great to show an indicator that lets users dynamically change the height of the debug iframe. Using `resize:vertical` css won't really work as the indicator is shown in the very bottom right and not is not really usable there.

[2018-06-05 03:49] tsteur opened #2 "Add option to bundle Matomo tracking code (or always do it)"
When the Matomo tag is included in a container, in all cases we are loading the Matomo tracking code async as soon as the tag manager container is being loaded.

To avoid having two requests in such cases (one for the tag manager container and one for the matomo tracking code), it would be great to directly embed the tracking code into the container. This will also simplify the logic of loading th

[2018-06-05 03:50] tsteur opened #3 "Add Tag/Container Reporting"
As Matomo Tag Manager is based on Matomo Analytics and directly integrated, it would be also great to show detailed insights into all containers.

For example how often was a certain container or tag loaded, how often was a certain trigger triggered, ... After how much time was a trigger typically triggered etc.

[2018-06-05 03:51] tsteur opened #4 "Implement versioning for tag, trigger, and variable templates"
We already have versioning for a regular container / for end user. This issue is more about developers who develop tags, triggers, and variables.

At some point we will be needing versioning for the templates as it will be no longer possible to keep BC for example etc.

It won't be implemented just yet as it is not needed and should be fairly "easy" to be added later. Eg each template can define a

[2018-06-05 03:52] tsteur opened #5 "Show pre-configured values in real time when selecting one"
When selecting a pre-configured variable for example, or configuring a variable. It would be kind of epic if we could manage to at least show the user directly the value of what the pre-configured variable currently resolves to.

Eg the ISO Date variable would show directly in the UI when selecting a variable eg `"2018-02-19T23:30:15.101Z"`. Same for Page host, Page path, ... just so people better

[2018-06-05 03:52] tsteur opened #6 "Make it even easier to define templates for tags, triggers, and variables (only based on JS)"
Currently a template is defined by having eg a `Template/Tag/MatomoAnalytics.php` and `Template/Tag/MatomoAnalytics.web.js` file. We could make this potentially easier although it also has some drawbacks.

We could make it as easy as in the simplest case let developers only define a file eg
`Template/Tag/MatomoAnalytics.web.js` where the ID would be extracted from the file name as `MatomoAnalytics

[2018-06-05 03:53] tsteur opened #7 "Let users download generated JS container"
This will be especially useful in case their analytics domain/path contains eg Matomo and is blocked by ad blockers or similar. By downloading the JS file they can embed the generated file manually and reduce risk of the generated container being blocked. Also they could directly minify it and merge it with other JS files to reduce the number of loaded files.

Obviously, when using this method, th

[2018-06-07 07:43] tomper00 opened #11 "Creating Matomo Analytics Tag fails"
When I try to create a Tag of the type Matomo Analytics, I am trying to use the dropdown to select my existing Matomo configuration(Assign a Matomo configuration), but the list is empty. (I have 2 sites configured, so there should be a result.) I even restarted my servers to try to remove the possibility of a caching issue.

[2018-06-07 07:57] tsteur commented on #11
Can you maybe post a screenshot? You may need to "Create a Matomo Configuration" first. For new sites we create a Matomo Configuration automatically, but we don't do it yet for existing sites. We might change this behaviour though.

[2018-06-07 09:57] tomper00 commented on #11
I think I misunderstood how this is working.
I expected the interface to automatically list my Matomo websites on this server, but it makes sense to have a configuration object in between since your Matomo site might be on another server.

[2018-06-07 10:52] tomper00 commented on #11
Closing this

[2018-06-07 10:52] #11 closed

[2018-06-10 21:56] peterbo commented on #7
Great idea - also a notice like "tag manager library is out out sync / needs to be updated manually" would be great if it was implemented from external (e.g. a CDN)

[2018-06-10 22:04] tsteur commented on #7
Good point. Could even think of features like "sync with a CDN" and could integrate various CDN's (eg we could create one interface for CloudFront and allow plugin developers or contributors to add more)

[2018-06-10 22:12] peterbo opened #17 "GA Implementation (Conversion/Analytics) should always use anonymize-IP settings"

[2018-06-11 03:17] tsteur commented on #17
Can we close it?

[2018-06-11 08:28] #17 closed

[2018-06-14 11:08] mannp opened #19 "Is it possible to implement and manage cookies and privacy status with the tag manager?"
Thanks for the tag manager it looks like a great addition, but I am not fully sure what I will use it for as yet, but I am sure that will become clear with time.

I wondered -> Is it possible to implement and manage cookies and privacy status with the tag manager?

Thanks in advance

[2018-06-14 22:48] mannp commented on #19
Thanks @tsteur thats exactly what I meant, all of the above.

Is there a working snippet within the tag manager so I could understand how to show a privacy notice as a start and i could then try and incorporate the js code already published from matomo to enable opt in and out at all?

[2018-06-15 11:18] scysys opened #21 "Add some statistical reports"
First, this is an absolutely great enhancement to Matomo!

As I can say at this moment, I don't have any Problems with the Tag Manager.

What I missing are some statistical reports like:

- tag loads
- tag loads over the past x days

and so on.

[2018-06-15 11:20] scysys commented on #21
I don´t see there is already the same question: https://github.com/matomo-org/tag-manager/issues/3

[2018-06-15 22:02] scysys opened #22 "Add options to choose where custom HTML is loaded"
Like:

- Load HTML in the "BEGINNING" of the "< body />"
- Load HTML in the "END" of the "< body />"
- Load HTML in the "BEGINNING" of the "< head />"
- Load HTML in the "END" of the "< head />"

[2018-06-15 22:06] scysys opened #23 "Allow to Deactivate / Activate Tags instead of delete them"

[2018-06-15 22:38] tsteur commented on #22
I wonder... does it make much sense to differentiate between beginning head and end of head? Maybe should be always end of head when placed in the head so styles can be overwritten? On the other side we can just add it, in case it is useful to differentiate between the two heads

[2018-06-15 22:56] tsteur commented on #21
I'll close it in favor of #3

[2018-06-15 22:56] #21 closed

[2018-06-17 20:39] tsteur commented on #19
There is actually an example here: https://developer.matomo.org/guides/tagmanager/custom-tag as part of the custom tag guide :)
And also here: https://developer.matomo.org/guides/tracking-javascript-guide#asking-for-consent and / or here: https://developer.matomo.org/guides/tracking-javascript-guide#optional-creating-a-custom-opt-out-form

[2018-06-17 20:39] #19 closed

[2018-06-17 20:50] mannp commented on #19
Thanks, I have seen all of those links and none of them give an example for the tag manager, but instead snippets of disperate code.

I will eventually understand them and how to put them together into a workable solution.

[2018-06-17 21:06] tsteur commented on #23
FYI: Current work around would be to set start date to a date in the past.

[2018-06-19 03:42] #22 closed

[2018-06-20 08:43] scysys commented on #23
But its not the same :)

[2018-06-27 12:12] baywet opened #28 "Typo in TagManager.MetaContentVariableDescription English Label"
Hi,
I think there is a typo in the English labels, TagManager.MetaContentVariableDescription reads "Ready a value from a "meta" HTML element." I think "Reads a value from a "meta" HTML element." was intended.

[2018-06-27 12:13] baywet opened #29 "Confusing English Label TagManager.FireDelayHelp"
Hi,
I came across a weird text in English, the wording is redundant and confusing.
I think it should be updated in English, the key is TagManager.FireDelayHelp and it reads:
"Lets you delay the execution of this tag once a fire trigger has been triggered. This can be useful if you want to wait for example for 3000ms (3 seconds) before executing the tag to allow for a blocking trigger to be trigger

[2018-06-27 19:30] #28 closed

[2018-06-27 19:39] tsteur commented on #29
Can be definitely improved. What about something like

I can see though that it might still not be 100% there. We could also just remove the second sentence. Or add an example but right now cannot think of a simple to explain example real world example.

[2018-06-27 19:41] baywet commented on #29
I personally think it's much clearer and avoids repetition compared to the previous version.

[2018-07-04 13:23] baywet commented on #29
I saw the new label in transifex, closing

[2018-07-04 13:23] #29 closed

[2018-07-04 18:09] Findus23 opened #33 "Document best practice for loading script in tag"
I am planning to add a few tags in the next days and came across a question:

The docs for sentry.io suggest adding it like this:

[code]

I guess this is quite common for tags, so how do you think should the JS file be loaded? Like this?

[code]

<sub>Thinking about it a sentry.io tag may not be that useful as for some features it needs to be loaded between the library code and application code.<

[2018-07-05 00:11] tsteur commented on #33
@Findus23 as this is something that will be used quite often I would add a method to the tag manager library to do this. Thinking:

`TagManager.loadScriptUrl('...', {...someOptions...})`

will create a PR

[2018-07-23 02:44] tsteur opened #40 "Allow users to read values from form fields into a variable"
It is already possible to read the value from a DOM element inner text or attribute. It is not yet possible to read the current value of a form element. This is because the `value` attribute only stores the initial value of a form element, but not the changed value.

We could add new "Form element" variable for example that reads the current `.value` instead of the value attribute. For checkboxes

[2018-07-27 09:31] Findus23 opened #46 "favour privacy-friendly third-party-tags"
While researching new tags, I noticed that a huge selection of third-party-tags in TagManager has one disadvantage: It makes it easy for Matomo-Users to infringe the website users privacy with a few clicks and without thinking about the implications by adding Facebook, Twitter and Google Analytics to the website.

To counteract, we could highlight tags that only depend on privacy-focused, open-sou

[2018-08-03 02:09] danielmcclure commented on #46
People are going to use what they are going to use, so instead of focusing on getting the "right" tags (whilst a great thing to do), it's probably more impactful to implement a simple and easy to understand consent mechanism. So when people add a centralised third party advertising tag, they can easily indicate that it will potentially collect PII, include privacy policy links and then activate re

[2018-08-03 23:38] tsteur commented on #46
Thinking the same and not seeing too much benefit of it actually. Tags could explain though in their help text that they may need to add a privacy notice or something. Also I think there won't be too many self-hosted or privacy-focused tags. With Tag Manager you mainly embed 3rd party sources which naturally send some data away.

Consent manager will likely developed in Matomo at some point but no

[2018-08-04 09:43] Findus23 commented on #46
Hm, I'm not a huge fan of a consent manager as I am afraid it will end up list the one by piwik pro: Annoying, because you have to click through a menu before you even know what use the website behind it provides and a huge dark pattern, because either no one will agree or you make it confusing by making the primary button not save the settings, but enable all tracking. (BTW: They changed it recen

[2018-08-04 11:45] Findus23 opened #47 "How to handle tags that depend on the integration of an SDK"
While researching ideas for tags, I came across many tags that need the inclusion of an SDK before events or other things can be done (most famously [facebook](https://developers.facebook.com/docs/javascript/quickstart))

Now if the SDK is only needed for one tag (e.g. the [facebook customer chat plugin](https://developers.facebook.com/docs/messenger-platform/discovery/customer-chat-plugin)) one c

[2018-08-04 13:13] Findus23 opened #49 "Also translate tag parameter descriptions"
https://github.com/matomo-org/tag-manager/blob/cb9826810977a550f547514ffdef414b6aabdba3/Template/Tag/CustomHtmlTag.php#L39

At the moment the descriptions of tag parameters are not translated. Ideally there should be a default translation key similar to the tag description.

[2018-08-04 23:28] tsteur commented on #47
I reckon it depends. It is even the same for Matomo. There we currently load the JS file async and check when it is loaded. There I was thinking to either have a pre-checked option "bundle Matomo JS" or always bundle the matomo.js directly into the container as the Matomo Tag will always load the JS file anyway. Although we cannot bundle matomo.js/piwik.js when the Tag is configured to be loaded f

[2018-08-05 00:28] tsteur commented on #47
Do we already have such a particular case? I would suggest we wait until we have a case, then solve it in some way and see how it goes. Can always refactor over time.

[2018-08-10 07:07] NanorPiwik opened #51 "Be able to copy tags"
GTM has this feature. It is basically just a link provided within the settings of a given tag.
When you click on it, it directly create a new tag with the same settings of the previous one and you can already edit the settings to have this new tag up and running.

[2018-08-10 07:09] NanorPiwik opened #52 "Create code editor with higlights of variables etc."
GTM has this. In the past when they didn't, one could use a Firefox or a Google Chrome extension in order to have it as a fix.
So basically it is just indicating with some colours, what is a script tag, what is a variable...

[2018-08-10 07:09] NanorPiwik opened #53 "Provide list of available variables when '{{' is typed"
In GTM, when you start writing your own custom HTML and that you use {{ a drop-down list is appearing fulfilled with all variables already available.

[2018-08-10 07:10] NanorPiwik opened #54 "Need a built-in check for code errors"
When there is a mistake within a custom HTML, variable or custom JS, MTM still accept it. Whereas GTM would refuse to execute the code.

[2018-08-13 20:58] GeraldJay opened #57 "Tel-Link with DOM-Content"
I tried to create a Matomo Analytics Tag for a phone link. But the trigger for "All Links Click" doesn't react. I'm not sure if this is because of the non-standard href-value or the nested DOM-structure inside the link. In the link-tag are two spans (an icon and the display text).  Is this a bug or does anyone know a way to make this work?

[2018-08-13 21:35] tsteur commented on #57
What do you mean by "non-standard href-value"? As long as it is an `a` or an `area` element it should work. The spans within the link shouldn't cause an issue. Is there maybe any event listener that possibly stops the event (in case you are familiar with JS)?

[2018-08-15 12:27] Findus23 commented on #52
I think adding codemirror (or ace editor) would be most useful.

That way #54 would be pretty easily solvable:
https://codemirror.net/demo/widget.html
And with a bit more programming #53 should also be possible.

[2018-08-15 23:15] tsteur commented on #52
Could work 👍 . Would need to add a new field template for this and possibly an angular form field widget similar to https://github.com/matomo-org/tag-manager/blob/0.2.0/Template/BaseTemplate.php#L29-L31 and https://github.com/matomo-org/tag-manager/blob/0.2.0/angularjs/form-field/field-textarea-variable-template.html or maybe, we can simply do something like `$field->uiControlAttributes = array('c

[2018-08-16 09:29] GeraldJay commented on #57
Sorry for the late response.
By "non-standard href-value" I ment that "tel:..." may be filtert by some kind of validator, because only links with hrefs starting with http(s) are accepted.
We have no additional JS attached to the link.
I debugged the Eventhandler from the TagManager:
![image](https://user-images.githubusercontent.com/18519418/44200472-ef566780-a146-11e8-9634-93fd767902f0.png)
My pr

[2018-08-16 22:13] tsteur commented on #57
I see... so if current element is not an `A`, we would need to traverse up and check if any of its parents is a link. That's a bug and needs fixing 👍

[2018-08-19 18:11] Findus23 opened #63 "Improve description of HistoryChangeTrigger"
https://github.com/matomo-org/tag-manager/blob/d90ff5716982769a02faf48ace9d1d5289f1d32f/lang/en.json#L256

While it is clear to me that a change to `windows.location` is meant, the wording isn't perfectly clear and can be misunderstood as e.g. in the German translation:

https://github.com/matomo-org/tag-manager/blob/f233a84c28e441973c935f8f5f42b1d67fa89314/lang/de.json#L229

I don't have a perfec

[2018-08-24 18:59] gonerator opened #66 "Double pageview generated with single Matomo Pageview tag"
Hi! Tag Manager is great, but I am having an issue while setting it up.

I created container, included JS into my website, and then created Matomo pageview tag to trigger on each pageview (I suppose this is the correct way):

![image](https://user-images.githubusercontent.com/16865753/44602396-cdf91980-a7df-11e8-971a-126c4dd0039d.png)

This is the trigger:

![image](https://user-images.githubuserc

[2018-08-24 21:02] tsteur commented on #66
Any chance you maybe still have the regular Matomo tracking code embedded?

[2018-08-25 14:01] gonerator commented on #66
@tsteur thanks for the answer! I'm sure there is no "old" code, as this is a fresh website and I started off with just MTM code. When I remove this tag, no requests are sent when page is loaded.

I have a 50% scroll tag that sends Matomo Event, and when this is triggered, it's sent properly, so there must be tracker initiated in the first place I suppose?

But as far as I checked Matomo Tag Manage

[2018-08-25 22:09] tsteur commented on #66
I can reproduce it when adding a second tag to track an event. I found the problem but will need to work on a fix or this (soon).

Cheers 👍

[2018-08-26 19:57] #66 closed

[2018-08-26 19:57] #63 closed

[2018-09-06 01:30] #57 closed

[2018-09-19 10:45] ben-dw opened #79 "Add "Match CSS Selector" trigger condition"
Hi there,
how can I use the variable "DomElementVariable". Do we have to execute the command

`$ ./console generate:tagmanager-preconfigured-variable`
?
Thank you for helping out!

[2018-09-20 07:00] ben-dw commented on #79
Sorry for the confusion.
Yes, I'd like to use it as a trigger, like in GTM.
In GTM it is possible to choose "Click Element" using CSS selector to get ".class1 .class2". Is there a similar way in matomo?

[2018-09-20 07:11] tsteur commented on #79
Yes it works pretty much the same way. Just go to the trigger you want to use and configure the variable where you need it.

[2018-09-20 12:37] ben-dw commented on #79
But is there a way to use a css selector instead of defining x variables like in GTM?
![image](https://user-images.githubusercontent.com/43407231/45818647-a152f780-bce2-11e8-954e-7f393468d42e.png)

[2018-09-20 20:28] tsteur opened #80 "Add possibility to import an exported container from Google Tag Manager"
We could try to see if it is possible to import them. Problem is that not all trigger/variable parameters can be mapped maybe and we would need to see how much they behave the same or different. Also most tags wouldn't be possible to import them.

After the import we would need to give an overview of what was imported, what wasn't imported (down to each parameter of trigger/variable/tag), and idea

[2018-09-20 21:17] tsteur commented on #79
I see, now I get it. Didn't know they had this feature :)

We could add a new comparsion "Matches CSS selector" in https://github.com/matomo-org/tag-manager/blob/0.2.3/Model/Comparison.php#L39 and process it in https://github.com/matomo-org/tag-manager/blob/0.2.3/javascripts/tagmanager.js#L202

Ideally we would have a CSS selector validator when entering a CSS selector but this is not needed for n

[2018-09-20 21:42] tsteur opened #81 "Add possibility to sync container files with CDN"
In the beginning we would probably only support one CDN, for example Amazon CloudFront. But we would make it pluggable so any adapters can be added. @mattab as this could be useful for matomo.js tracker file as well, should be maybe instead add this feature to core and tag-manager would simply use the core feature?

[2018-09-20 23:39] mattab commented on #81
It would be ideal in core 👍
considering all that we have a shift in the last few years, I feel the CDN support is the last missing piece to guarantee optimal performance at all levels in matomo 🚀

[2018-09-24 07:26] ben-dw commented on #79
Awesome!
It works for `ClickElement` and `FormElement`.

[2018-09-24 19:47] tsteur commented on #79
So far I wasn't pushing the `ClickElement` in click events as I was afraid of possible memory leaks. The DOM node would be kept in the tag manager as a reference. Would maybe need to see if we could add an API that lets it delete the reference after the conditions have been evaluated.

[2018-09-28 08:21] ben-dw opened #82 "Update button disabled if you remove a condition from a trigger"
The update button will be still disabled if you remove a condition from a trigger. The update button will only be active if you change at least one character in the conditions or in the name.

[2018-09-30 20:33] tsteur commented on #82
Thanks 👍  fixing it now.

[2018-09-30 20:33] #82 closed

[2018-09-30 20:57] #79 closed

[2018-10-01 01:12] tsteur commented on #81
I presume many/most CDNs don't need to upload a file to the CDN but they fetch it automatically. Possibly more interesting be a feature to invalidate the cache on a CDN.
--

[2018-10-01 19:47] tsteur opened #86 "Add new trigger: Print"
Be awesome to have a trigger when someone prints something. Would only work on desktop.

[2018-10-01 19:48] tsteur opened #87 "New trigger: Copy text"
It could be valuable to have this trigger as it allows you to for example track an event when someone copies something on your website which basically is an interaction. It helps you get more realistic bounce rate for example.

[2018-10-01 20:04] tsteur opened #88 "Add new trigger: Tab/Window active/visible"
Could trigger an event when the window becomes inactive (blur) and also check the visibility API https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

We already have a variable for this AFAIK, but be also good to have a trigger.

[2018-10-01 20:09] tsteur opened #89 "Add new tag: Verify your site ownership"
Helps you verify site ownership for Google see https://support.google.com/webmasters/answer/35179?hl=en
eg by adding a meta `<meta name="google-site-verification" content="String_we_ask_for">`

(to be tested if GA executes the JS of the container and recognizes it)

[2018-10-01 20:12] tsteur opened #90 "Add new tag: Facebook messenger"
see eg https://www.simoahava.com/analytics/add-facebook-messenger-chat-google-tag-manager/

[2018-10-01 20:13] tsteur opened #91 "Add new tag: Drift chat"
see https://help.drift.com/article/how-to-setup-drift-in-google-tag-manager/

[2018-10-01 20:15] tsteur opened #92 "Add new tag: Change android address bar color"
by setting `<meta name="theme-color" content="#xxxxxx">`

[2018-10-02 10:34] scysys commented on #81
I already using it with an CDN. On the most CDN´s it makes no sense in my opinion to upload these files. They automatically fetch it and it´s just working.

Sure, an feature to invalidate the cache would be great, but it saves just an minute to login to the CDN and invalidate the cache.

[2018-10-02 11:35] scysys opened #93 "console generate:tagmanager-tag (Not working)"
Reference: https://developer.matomo.org/guides/tagmanager/custom-tag

Execute: ./console generate:tagmanager-tag

Ends up in

[code]

<img width="314" alt="bildschirmfoto 2018-10-02 um 13 34 06" src="https://user-images.githubusercontent.com/1695531/46346289-d7c83500-c647-11e8-93fb-59a7c3401683.png">

[2018-10-02 11:37] Findus23 commented on #93
That's because you ` have to enter the name of an existing plugin`.

This means instead of entering random characters, enter the name of the plugin that is installed where you want to add the Tag. (In most cases this will be `TagManager`)

[2018-10-02 11:39] Findus23 commented on #89
I'd be really surprised if the verification crawler did anything more than fetch the HTML, but it's worth a try.

[2018-10-02 12:16] scysys commented on #93
You have right, thanks.

[2018-10-02 12:16] #93 closed

[2018-10-02 13:20] ben-dw opened #94 "Individual Tag created - update installed - Individual Tag deleted"
Hi there,
we have created our own event tag for etracker. By running the latest update, the files were deleted and we had to install the tag again. Furthermore we have to set up the tags again, as it doesn't work anymore.

How can we avoid this?

[2018-10-02 13:42] Findus23 commented on #94
In case you want others to be able to use the tag, you can create a pull request here so it gets integrated in MTM.
Otherwise the easiest way is to create a custom plugin and store your tag there:
https://developer.matomo.org/guides/getting-started-part-1

[2018-10-02 18:29] tsteur commented on #94
You mean you created a Tag template basically?  As @Findus23 mentioned ideally you create a pull request for this Tag here so it will be included in the next release. Alternatively, you can create your own plugin. Let us know if you have any questions about contributing that Tag to the Tag Manager with a pull request.

[2018-10-02 18:29] #94 closed

[2018-10-02 18:31] tsteur commented on #89
It says you can verify with "Google Tag Manager container snippet" on that page. So hoping it'll work for us as well.

[2018-10-02 18:32] tsteur commented on #89
Might only support GTM though.

[2018-10-03 21:30] rmros opened #97 "how i can launch matomo tag manager independent? like old seven-tag , i need to launch separate from matomo"

[2018-10-03 22:03] tsteur commented on #97
That's not possible unfortunately. It's also not planned to provide a standalone version as it is built on top of Matomo. Only thing you can do is to disable as many reporting plugins as possible.

[2018-10-03 22:03] #97 closed

[2018-10-04 02:07] mattab opened #98 "Interesting Tag Manager use cases: create & publish small guides about"
[99 Things You Can Do with Google Tag Manager](https://www.analyticsmania.com/post/google-tag-manager-use-cases/)

This page contains lots of great examples of tag manager use cases, it would be so valuable to create guides and FAQs for some of the best ones.

[2018-10-04 15:07] bnjmngrdg opened #100 "„Match CSS Selector“ comparison doesn’t trigger click events"
Hi there,
when configuring a trigger with the new css selector comparison, the trigger doesn’t fire even though the console returns a positive value for the selector. Do you have an assumption, why this is happening?

Thank you and best regards!

![console_response_selector](https://user-images.githubusercontent.com/42350712/46483402-db022300-c7f7-11e8-85d5-b75109d1e973.PNG)

![trigger_css_selecto

[2018-10-04 20:02] tsteur commented on #100
Can you check if `MatomoTagManager.dom.bySelector("[class='logo-container']")` finds the element?

[2018-10-05 07:06] bnjmngrdg commented on #100
Yes, it returns the output of all nodes, attributes and children of the link container.

![matomo_selector_output](https://user-images.githubusercontent.com/42350712/46520834-bd779c80-c87d-11e8-9a90-e9a8781888aa.PNG)

[2018-10-05 09:30] bnjmngrdg commented on #100
This works, thank you!
Am i right, that the matter will still exist, if the clicked element isn't a link container?
An example in the following screenshots.
This trigger configuration causes, that clicks on the child-elements (like the svg image) of the button container aren't firing the event.

![tag_configuration_nolink](https://user-images.githubusercontent.com/42350712/46527604-00dc0600-c892-1

[2018-10-05 09:39] bnjmngrdg commented on #100
Thank you, this works for the link container. We have a similar issue with an element container whithout an a-tag. The issue is, that the trigger only fires when the exact object is clicked, yet not one of it's child-elements (like the svg logo). How can we solve this matter? Thank you very much!

![tag_configuration_nolink](https://user-images.githubusercontent.com/42350712/46528144-5664e280-c893

[2018-10-05 10:14] Findus23 commented on #89
I checked again and it really seems like they just searched the HTML for the noscript GTM container code.
https://www.analyticsmania.com/post/solved-cannot-verify-google-search-console-with-google-tag-manager/

[2018-10-05 11:59] ben-dw opened #103 "New variable: Lookup table"
GTM provides a lookup table which might be useful to some users.

![image](https://user-images.githubusercontent.com/43407231/46533956-cb8de300-c8a6-11e8-993c-29c7e4b7855e.png)

[2018-10-05 12:00] Findus23 commented on #103
I can't provide a screenshot as I am on my phone, but I am pretty sure MTM already supports this in the advanced settings.

[2018-10-05 12:08] ben-dw commented on #103
@Findus23: You are right. Didn't know that.

![image](https://user-images.githubusercontent.com/43407231/46534341-2247ec80-c8a8-11e8-857d-0913f41ca2b6.png)

[2018-10-05 16:07] scysys opened #104 "Empty strings on Trigger Setup"
Please look at the Screenshot. Actually it is not possible to check for an "empty" string.
The first 5 arguments are working. In the last part I would check for an empty string, but the Tag Manager seems to ignore this field when its not filled.

<img width="1275" alt="bildschirmfoto 2018-10-05 um 18 03 16" src="https://user-images.githubusercontent.com/1695531/46546340-09036800-c8c9-11e8-8252-75d

[2018-10-05 16:44] scysys commented on #104
On the second column there should be an option like "is empty"

[2018-10-05 17:46] scysys opened #105 "Update button remains disabled during some actions"
Reproduce

- Open an Tag
- Click on the little remove Icon to remove an item under "Don't execute this tag when any of these triggers have been triggered."

Now the update button remains disabled.

![bildschirmfoto 2018-10-05 um 19 42 08](https://user-images.githubusercontent.com/1695531/46551046-fe4fcf80-c8d6-11e8-824f-94c65990aefa.png)

[2018-10-07 01:31] #105 closed

[2018-10-07 01:32] tsteur commented on #105
Cheers for reporting it 👍

[2018-10-07 01:32] tsteur commented on #89
👍  will close

[2018-10-07 01:32] #89 closed

[2018-10-07 01:39] tsteur commented on #86
See example: https://gist.github.com/ju1/797cdeeaaa42a38cd76abeeffae16982#file-printrecipe-json-L96

[2018-10-07 01:40] tsteur commented on #100
I wonder if in this case the selector would need to be like `.main-nav-toggle *`? This wouldn't include the `.main-nav-toggle` element itself though.

[2018-10-07 21:29] tsteur commented on #100
Just tested the `*` version and this should work

[2018-10-07 21:29] #100 closed

[2018-10-08 00:17] #2 closed

[2018-10-08 15:24] ben-dw opened #110 "Bug: Changing name of variable causes removing trigger in a tag"
If you use a variable in a tag, eg "const.enviroment" and you rename to "environment" the trigger will be removed.

![image](https://user-images.githubusercontent.com/43407231/46618016-ae634980-cb1e-11e8-882a-0e29f0f71ad7.png)

[2018-10-08 21:16] tsteur commented on #100
Don't know if this affects this feature? BTW we are not using jQuery but the browser native `querySelectorAll`: https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelectorAll

[2018-10-09 00:01] tsteur commented on #110
Where exactly is the trigger removed? Can you maybe explain the steps to reproduce this?

When you rename a variable, it shouldn't remove anything but update the variable name on all references in tags and triggers in https://github.com/matomo-org/tag-manager/blob/master/Model/Variable.php#L223-L260

[2018-10-09 06:44] ben-dw commented on #110
It doesn't matter which tag you use, as I have tested several.
eg. Honeybadger - I have used a variable called "const.environment". The trigger was set up to "All pages".
I had to change the variable name to "environment". Checking the tags, the variable was updated, but the trigger was removed from the tag. The trigger itself still exists.

[2018-10-09 09:34] bnjmngrdg commented on #100
I'm not sure aswell in this one. For the querySelector there seem to be similar problems:

https://stackoverflow.com/questions/23034283/is-it-possible-to-use-htmls-queryselector-to-select-by-xlink-attribute-in-an

https://github.com/jsdom/jsdom/issues/2028

I'm going to look a little deeper into those issues...

[2018-10-09 11:28] Findus23 commented on #90
I'm still not sure what's the best way to build tags for facebook features.

It seems like they all depend on the full facebook SDK and then are only activated and configured by adding `<div>`s with attributes (https://developers.facebook.com/docs/messenger-platform/discovery/customer-chat-plugin?locale=en_US#include).

The docs don't really mention if the order matters or if FB detects all DOM ch

[2018-10-09 11:37] Findus23 commented on #91
As the docs keep it a secret, this is their tracking code that you get during signup:
[code]

[2018-10-09 18:08] tsteur commented on #110
Cheers 👍  working on a fix right now

[2018-10-09 18:30] Findus23 commented on #90
The linked blog doesn't even mention the SDK and the JS

[code]

really only seems to add a div.

[2018-10-09 20:36] #110 closed

[2018-10-11 10:42] mattab commented on #23
(feedback from customer)

Is it possible to perhaps have a on/off option for the tags?

Currently I can only turn a tag off by going to the tag in question -> advanced options -> and set a start date in the future to delay it

Furthermore, once a tag is paused I cannot see that it is paused - only when I again go to the tag -> advanced options.

Can we maybe add something next to the tags to indic

[2018-10-14 18:33] tsteur opened #113 "Show container size and maybe show info when too large?"
It may be useful to show the size of the container in KB. Might be also useful to show the approx size gzipped.

Could maybe also show an info that when container is eg > 200KB or so, that it may be worth checking if the container could be defined slightly different. We would also link to an FAQ why it is good to try keep container size low.

[2018-10-16 09:45] NanorPiwik opened #115 "Auto-increment or auto-filled the name of a new version"
Hi,
When creating a new version in Matomo Tag Manager, it would be nice to have the version name field already filled in with a default value.
For example: 1 for version 1, 2 for version 2...
Users will still have the possibility to enter a custom name if they have the time to do it.
We could save heaps of time on the long run.
Thanks

[2018-10-16 09:58] NanorPiwik opened #116 "Clean up feature for the container"
Hi,

Would it be possible to integrate a feature in order to delete all the tags and triggers within a given container?

Typical use case is the following one: when working on test environment, we sometimes need to add many tags and triggers. Then we would like to start back from scratch without creating a new container and changing the source code. A clean up feature will really help here.

Thank

[2018-10-16 10:01] NanorPiwik opened #117 "Add a link in the UI to access the preview and debug window"
Hi,

Currently, users need to copy and past the preview link in order to activate the debug window.
It would be nice to have a simple link to click on in order to access it straight away.

Thanks,

[2018-10-19 13:41] NanorPiwik opened #118 "Cross domain tracking is not working"
Hi,
I tested the cross domain tracking through Matomo Tag Manager by following this guide https://matomo.org/faq/how-to/faq_23654/ and it does not work. I tested it without Matomo Tag Manager and it worked straight away.

[2018-10-31 22:21] mattab opened #119 "Matomo analytics tag option for setting secure cookies"
It would be fantastic to have a checkbox to enable secure cookies on the Matomo tag. It is a security requirement for some companies to use secure cookies only.

[2018-11-04 18:43] #119 closed

[2018-11-04 18:44] #92 closed

[2018-11-05 21:59] mattab opened #122 "Matomo tag: set a custom page name when tracking a pageview"
When tracking  a pageview in Matomo, sometimes it is useful to overwrite the page title and set a custom page title.

This is done via the JS function `setDocumentTitle`.

## workaround available?

When tracking a pageview via the Tag Manager, and if you need to set a custom page name, currently it may be possible (to be confirmed it works) to create a Custom html tag with the following code:
[cod

[2018-11-05 22:54] #91 closed

[2018-11-05 22:54] tsteur commented on #91
cheers @Findus23

[2018-11-05 22:58] tsteur commented on #118
That's likely because we'll need to expose `setDomains` to the Matomo Config I suppose.

[2018-11-19 10:07] ben-dw opened #125 "Change history for new version"
When you create a new version for your container you will find all your changed Tags/Triggers and so on.
In case you have renamed a Tag/Trigger etc. it will be shown twice: "Added" + "Deleted", instead of "Modified".
In my eyes it should be shown only once.

[2018-11-19 18:05] tsteur commented on #125
I think that won't be trivial/possible without a lot of work. The reason is, that the same tag or the same trigger will have a different ID and therefore you can only compare them by name, and not by ID.

Maybe could be some check to compare all other properties and then assume if only name is different, then it was likely a rename. Although checking all properties might also be difficult since ma

[2018-11-22 09:39] Paradinight opened #128 "Question: Supporting Custom Variables"
Hello Matom Team,
i have a little question: Is it possible to support custom variable?

[2018-11-22 19:12] tsteur commented on #128
It's not planned as we will be deprecating custom variables eventually. It could be added still but there's some problem that the form fields needed for this is currently not yet implemented in core. (you would need 4 fields per row/custom variable, core currently allows only up to 2 fields per row).

[2018-11-25 18:03] jrpub opened #130 "Event Value: "The value is not a number" when using variable"
Hi,

Sorry if this issue is not a bug. When I try to set a variable name as the value of an event in the tag manager, I have the error message:

`Event Value: The value is not a number.`

I tried with several variables (custom - for instance a constant - or a predefined one). Is this not supported or did I miss something? The weird thing is that there is the variable selector button near the "Even

[2018-11-25 18:03] #130 closed

[2018-11-25 18:03] tsteur commented on #130
👍  done

[2018-11-25 18:15] jrpub commented on #130
Tested, it works to validate the form, but however I don't understand something.

- My current event value is: {{ScrollVerticalPercentage}} (which is a native variable).
- Once I save that, the form shows "0" (meaning that the variable is likely replaced immediately).

I expected the same behaviour as if I put  {{ScrollVerticalPercentage}} in "Event actions", where the variable is replaced on the

[2018-11-25 18:35] tsteur commented on #130
Where is it replaced immediately? In the create/edit form it still shows the variable name for me.

[2018-11-25 19:33] jrpub commented on #130
The eventValue is correctly sent to the API:

![screenshot_2018-11-25_20-31-57](https://user-images.githubusercontent.com/26855134/48983611-475f1b80-f0f1-11e8-96a0-800a127e311e.png)

[2018-11-25 20:06] tsteur commented on #130
Sorry about that, I just noticed I've only applied part of the patch and not all my changes I had. Fixed it in https://github.com/matomo-org/tag-manager/commit/478e05718cb33c13f23d70d9409bbbbb4c67c88b

[2018-11-25 20:11] jrpub commented on #130
Ah yes, much better! It works.

I can stop to debuging it myself :p

Many thanks!

[2018-11-25 22:46] jrpub commented on #130
Not fully solved yet!

"The event value can only include numeric values and variables." when publishing the new tags.

[2018-11-25 23:13] tsteur commented on #130
So sorry about that! See fix in https://github.com/matomo-org/tag-manager/pull/131 . Was very early this morning and must have forgotten to look at the tests (which I usually always do). Should be fixed now but will wait for tests to pass before merging.

[2018-11-28 20:10] jeekajoo opened #132 "Cannot create container"
Hi,

When I try to create a container, it does nothing.
![](http://i.imgur.com/g8OahvR.png)

[code]

Manage containers is empty :

My setup w/ TagManager v0.2.6
![](http://i.imgur.com/rBpEC6X.png)

Thank you

[2018-12-04 10:59] alpening opened #133 "Variable for Matomo idSite not working"
I tried to follow the step to create a varibale with the siteID based on hostname and lookup table as written in the docs (https://matomo.org/docs/tag-manager/#advanced-variables-settings-default-value-lookup-table)

But when I try to save the Matomo Configuration, I always get this error message: `Matomo idSite: An unexpected website was found in the request: website id was set to '0' `

Im using

[2018-12-04 13:31] ben-dw opened #134 "Special chars and umlaute"
I'd like to replace HTML specialchars like
`&amp; or &uuml;`
to it's real UTF8 characters.
Every time I want to save a CUSTOM HTML tag it replaces it from:
`    pagename = pagename.replace("&amp;", "&");
`
to
`    pagename = pagename.replace("&", "&");
`
How can we fix it?

[2018-12-04 18:30] tsteur commented on #133
that's a bug, will create a PR 👍

[2018-12-04 18:58] tsteur commented on #134
I can reproduce it, at the same time I don't really know we can fix it... it's a problem "deep" in Matomo how it handles API parameters and that it "sanitizes" all input parameter which is anti-pattern and it shouldn't do it. This forces the tag manager to "unsanitize" the input parameters `Common::unsanitizeInputValue($value);` and the original value gets lost.

Maybe @sgiehl @diosmosis @mattab

[2018-12-04 19:12] #133 closed

[2018-12-06 08:59] tomper00 opened #138 "Adding a way to structure and administrate tags, triggers and variables"
For large organisations a tag manager account can quite easily grow big in numbers of triggers, tags and variables.

For that reason it would be nice to ad some kind of structuring system to it.
In Google Tag Manager there is folders, but I could also think of a more flexible system like tags or labels.
For example if a custom variable is used for several tracking purposes, then a tagg or a label

[2018-12-06 18:16] #122 closed

[2018-12-10 03:40] andiadiprasetyo opened #140 "Manage Containers Tab is Empty"
Hi,

I just updated Matomo to v.3.7.0 and just knew that Matomo now have their own Tag Manager, but when I tried to set up the container, it's just showing empty page (see screenshot).

Can anybody help me with this? Is there something wrong with my instalation

![image](https://user-images.githubusercontent.com/25949476/49709611-daf32900-fc67-11e8-9cd7-554328837b5e.png)

[2018-12-10 18:34] tsteur commented on #140
Is this still happening? Are you familiar with the browser console? Do you see any error logs in there?

Or do you have access to your server? Maybe for some reason the JavaScript files couldn't be deleted or so. Maybe you could go into your Matomo directory and execute `./console cache:clear`?

[2018-12-11 06:56] andiadiprasetyo commented on #140
@tsteur it's fixed now. I just cleared my browser cache and it's working. Probably just a cache problem with my browser. Thanks anyway

[2018-12-11 06:56] #140 closed

[2018-12-11 18:51] tsteur commented on #140
Thanks for letting us know 👍

[2018-12-30 14:13] JulianEberius commented on #132
Hi! I have the same issue with the Tag Manager in Matomo 3.7.0. No errors in browser console, no errors in Apache error log. Clearing the browser and disabling uBlock Origin (I too have this extension installed) did howerver not work for me. Any ideas how to debug this?

[2019-01-04 17:54] tsteur opened #146 "Use the name of a trigger to populate an event / use it as variable"
See https://forum.matomo.org/t/using-trigger-values-in-matomo-analytics-event/31092

I can see how this can be useful. At the same time not sure if it is possible to implement and how much it makes sense from the bigger picture meaning variables are used in various places not really only related to tags/triggers. We would need to look into it.

[2019-01-04 18:11] tsteur commented on #146
Actually, I haven't tested but I reckon it should be doable by using eg a DataLayer Variable that reads `{{ClickClasses}}` and then in advanced settings set up a look up table to translate eg a class to a Modal Open etc.

We could possibly also add the name of the trigger to the dataLayer (name of trigger that was last triggered) but I'm actually not sure we expose the actual trigger name... we mi

[2019-01-04 20:06] tsteur commented on #146
I just double checked we only add the actual trigger name to the preview release for debugging purposes but otherwise set the `name` to the trigger `type`. It may be possible to add this variable, but need to see if there is any problem with exposing the name of the trigger/tag/... ?

[2019-01-14 14:53] b-pfl opened #147 "Tag Manager startup issue - not available as plugin in the Marketplace"
Dear all,

on my Matomo installation, I have issues, getting to run the Tag Manager. I was able to activate it but then the page for creating a new container was empty. Since the manager is a plugin, my idea was to reinstall it and see if that fixes my problem. Thus, I removed it and then had to find out that it is not available in the Market place - is that intended?
What should I do to get it up

[2019-01-14 18:48] tsteur commented on #147
Hi there, the plugin is now bundled with Matomo 3.7.0+.

The creating container issue was empty was a caching issue which will be fixed in 3.8.0 which will be released soon.
See https://github.com/matomo-org/tag-manager/issues/132 and https://github.com/matomo-org/tag-manager/issues/140

Try to delete your cache by either emptying the `tmp` directory in your Matomo directory or executing `./consol

[2019-01-14 18:48] #147 closed

[2019-01-18 03:08] tsteur opened #148 "Custom JS Function isn't working when using multiple custom functions"
see https://forum.matomo.org/t/using-customjsfunctionvariable-2-or-more/31121/7

the container logs `Custom JavaScript 2` to console even though it should log `Custom JavaScript 1`:

[code]

[2019-01-18 03:10] tsteur commented on #148
Problem is there can only be one template method per type but in this case there are basically two where the second overwrites the first one.

![image](https://user-images.githubusercontent.com/273120/51363096-61d6d380-1b3b-11e9-9909-405bff9c3714.png)

Not sure how to solve this without having to use `eval` or something.

[2019-02-04 16:21] xull opened #153 "TypeError: I is null"
I'm trying to put a container on my website, and I can't seem to get this error to go away.

![error](https://user-images.githubusercontent.com/2718611/52221487-e1b4ab80-2866-11e9-8f42-d4d89b74a10b.png)

[2019-02-04 19:50] tsteur commented on #153
Moved this issue to the tag manager repository... can you send us the URL to the container? Or the container file itself? Or export the container?

For some reason it seems like `document.body` is null. If you could send us a link where you have the container embedded that would be great. Feel free to send it to us by email to hello at matomo.org if you don't want the link to be public.

[2019-02-04 19:52] xull commented on #153
Okay, I emailed it

[2019-02-04 20:49] tsteur commented on #153
Thanks, replying there :)

[2019-02-04 21:22] xull commented on #153
The issue was solved by placing the script for the container at the bottom of the page.

[2019-02-04 21:22] #153 closed

[2019-02-04 21:46] tsteur commented on #153
cheers for letting us know 👍

[2019-02-07 06:59] MoralCode opened #154 "Tag manager requires write access. Is there an alternative solution?"
As instructed by my hosting provider, I have not allowed Matomo to write files to anywhere but a tmp folder for security reasons. However, I am unable to publish versions through tag manager because my Matomo instance complains about being unable to write to a folder, which I do not want to allow.

I notice that in the tag manager code snippet, it is trying to access a file `js/container_[my conta

[2019-02-07 18:30] tsteur commented on #154
@MoralCode re download feature see https://github.com/matomo-org/tag-manager/issues/7

As for the writable.... you can configure the location in your `config/config.php` file. Likely this file doesn't exist and needs to be created. You can configure it like this:

[code]

you could point the storage to the tmp folder for example and then download the files from there. I haven't tested but you coul

[2019-02-07 18:30] #154 closed

[2019-02-08 20:24] MoralCode commented on #154
@tsteur I was able to make it work as you suggested by setting the `TagManagerContainerStorageDir` to `/../tmp`, however, because the config file is located in the plugin's `config` directory, it gets overwritten anytime I update matomo. Is there a way to set this configuration option in matomo's global `config.ini.php` file?

[2019-02-08 21:12] tsteur commented on #154
you should locate the file in `$matomoroot/config/config.php` and the file will not be replaced when updating.

[2019-02-12 00:16] #148 closed

[2019-02-20 09:00] NanorPiwik opened #155 "White label conflict with the Matomo Analytics Tag Template"
When we change the name of the Matomo solution with the white label plugin. Then every time we try to add a Matomo tag within Matomo Tag Manager, we got the following message appearing "The tag Name is not supported"

[2019-02-20 19:30] #155 closed

[2019-03-09 22:23] MoralCode commented on #154
@tsteur do i have to link to it from the `$matomoroot/plugns/TagManager/config/config.php` file? or is there a specific path/filename that TagManager looks for inside the matomo configuration directory?

[2019-03-10 06:22] tsteur commented on #154
it's an absolute path within the Matomo directory. You could use `/../..` though as well. It's just important they are still served through the web in case you want to embed them into your website directly.

[2019-03-17 10:50] danimoh opened #156 "MatomoTag loadTemplate piwik fallback looks broken"
Just by skimming though the code, the following line looks odd:
https://github.com/matomo-org/tag-manager/blob/55106e4dbeffe52196f75fa9618321fd5a070c7c/Template/Tag/MatomoTag.php#L156

The `piwik.js` fallback in line 157 will never be executed.
Should the `elseif` rather be a normal `if` such that this line executes when `@file_get_contents(PIWIK_DOCUMENT_ROOT . '/matomo.js')` failed?

See https:/

[2019-03-17 19:07] tsteur commented on #156
Good fine 👍

[2019-03-17 19:07] #156 closed

[2019-04-11 02:44] mattab opened #159 "Google Ads conversion tracking"
A few people have already ask if we could add a Google Ads conversion tracking tag.

Doc in Google ads: https://support.google.com/google-ads/answer/6095821

Example in GTM: https://support.google.com/tagmanager/answer/6105160?hl=en

[2019-05-02 11:29] tomper00 opened #160 "Add field for setDomains on the Matomo Configuration variable"
The need here is to be able to execute the setDomains command in the Matomo tags.
I am not sure if this should be available in the Matomo Configuration variable or if it is something you should set on the Event / Pageview level

This is what we want to be able to do:
// Tell Matomo the website domain so that clicks on these domains are not tracked as 'Outlinks'
_paq.push(['setDomains', '*.example.

[2019-05-13 08:18] znerol opened #162 "Do not accept tags targeting the DOM with pageview trigger"
The tag manager allows adding a tag targeting the DOM (body start / body end) with a pageview trigger. This combination leads to the following js error when the tag-manager script is loaded in `head`:

[code]

This is due to the fact that `document.body` does not yet exist at this time.

In order to prevent from that mistake, it would be great if the tag-manager gui would at least warn or better f

[2019-06-19 06:13] ohadm2 opened #165 "A problem with Tag Manager’s preview feature"
Hi Everyone!

We have a problem in version 3.9.1 that we are very surprised no one reported yet.

The problem is this: after trying to enter a preview mode of a site via the Tag Manager’s container (e.g. ?mtmPreviewMode=J4iRd2NX etc.), we get an Angular’s “The controller with the name ‘MtmDebugController’ is not registered.” error.

We didn’t do anything to cause this …

A picture of the problem i

[2019-06-19 06:28] tsteur commented on #165
@ohadm2 just tried to reproduce but it works nicely for me. IS there maybe any browser extension that could be breaking this?

[2019-06-19 06:57] #115 closed

[2019-06-19 08:48] ohadm2 commented on #165
Thanks.

After your suggestion, I tried several other browsers other than my default one (Chrome) just to negate such a case.

The most odd thing happened: the problem reproduced on the first (Firefox), and second (Explorer) tries, but when I tried a third option (Edge), the page started working!

After seeing this, I wanted to update this ticket with this new info  so to confirm the status I refr

[2019-06-19 10:01] tsteur commented on #165
There shouldn't really be anything that could cause this (eg a temp resource). At least I can't think of anything right now. When this happens, can you check the browser console if any requests maybe fail?

[2019-06-20 13:23] ohadm2 commented on #165
Hi.

1. Do you have another explanation for this behavior? I need to find a way to debug this ...
2. The problem is EXACTLY the same on our production network (this is why I originally thought this was a general Tag Manager bug). If the info I have shared is not enough please tell me what else you need.

Regards,

[2019-06-20 17:25] tsteur commented on #165
Can you maybe share a URL for us to have a quick look? Feel free to email hello at matomo.org

[2019-06-24 05:55] ohadm2 commented on #165
Yes. No problem.

I've sent the details to: hello@piwik.org.

Thanks!

[2019-06-24 08:20] tsteur commented on #165
Thanks, we replied.

[2019-06-26 07:50] andyellonen commented on #138
Hi,

We have the same issue when using Matomo Tag Manager. Google Tag Manager has folders, and similar feature, which works great for multiple tags and subdomains. And have to agree with @tomper00 , labels would be a additional feature as well.

Hope to get solutions this soon.

[2019-07-10 00:31] mattab commented on #165
Got a similar report by email ` There was an error while regenerating container releases: Entry "Piwik\Auth" cannot be resolved: the class is not instantiable`

Here is the full output:

[code]

[2019-07-14 22:23] tsteur commented on #165
@mattab I don't think this is related as in the user's case the JS files were simply not accessible from time to time for me. The issue you mentioned I can't reproduce. I would maybe suggest to update all files in Matomo again and see if it still happens (and make sure to run the latest Matomo version).
Otherwise seems like an issue with LoginLdap maybe: https://github.com/matomo-org/matomo/issues

[2019-07-14 22:23] #165 closed

[2019-07-22 10:58] tpimpao opened #169 "Tracking not working with Tag Manager | Works with direct _paq.push"
Hi there,
I'm trying the Tag Manager, i create a basic Tag and Trigger in my container.
The Tag basically set an Event with a EventCategory="FAQS" and EventAction="{{ClickID}}" and a EventName="{{ClickText}}". The Trigger is "All Element Click". Nothing special here...

Testing in the page with the Debug i see in the Log tab:

[code]

So, the Tag and Trigger are correctly fired, but watching in th

[2019-07-22 20:53] tsteur commented on #169
Can you maybe send us a link to the page where we can have a quick look? It's otherwise hard to tell. In any case, make sure the eventAction actually has a value... otherwise Matomo won't track the event. Feel free to email us link to hello at matomo.org

[2019-07-22 22:13] tpimpao commented on #169
Hi tsteur,
Sorry, but im working in an internal website, its not available to the www. I miss an important information, this issue happen in a new matomo environment. In our production environment everthing work, so for testing, I point the website to our production environment and the tag manager fire the event. It must be anything related with configuration or an issue in the new matomo instance

[2019-07-22 23:36] tsteur commented on #169
@tpimpao this sounds more like something for our forum as it seems to be working in general: https://forum.matomo.org

I would recommend you ask there.

In general make sure there is no ad blocker active, maybe compare the configuration of the container and your app if there are any differences. Eg you could export the container under "Versions" on both local and production and compare if there's

[2019-07-22 23:36] #169 closed

[2019-07-23 06:19] ohadm2 opened #170 "No read-only / read-write segmentation approach support"
Hi.

The system lacks  read-only / read-write segmentation approach support (the ability to use 2 different Matomo servers with different privileges on each - one will update settings using the UI and the other will only collect data and the UI will be blocked) which makes the Tag Manager feature cause problems.

We use this approach and we had to make changes to the code itself for it to work as

[2019-07-23 20:22] tsteur commented on #170
@ohadm2 not really 100% sure what you mean by that. Maybe you can explain in more detail. In general it doesn't sound like something we support though or plan to support.

Re the other points in the txt file:

This sounds like a Matomo issue. In general what you can do though is to execute these commands eg every hour and then the JS files will be generated on the server that you want:

[code]
Thi

[2019-07-25 13:09] ohadm2 commented on #170
Thanks for these interesting suggestions. That may help us in the future.

3. The idea here is to make the 'read/write' (a.k.a the back-end server) server the ONLY server that writes data. In such a case, every change in the UI will update only files inside this server. If another server is used as a front end for the system and only through that server system's resources (such as JS files etc.) a

[2019-07-25 21:29] tsteur commented on #170
Thanks for the explanation, will move this to Matomo repo

[2019-07-31 09:21] jurgen-reconcept opened #172 "Issue when using Matomo Analytics combined with Tag Manager"
Since last week our web app suddenly stopped working due to an error in Tag Manager, even though on our end nothing changed after successfully using it for a few months.

I already figured out that the problem **only** occurs if I'm importing both the matomo.js script and the /js/container_{id}.js file. I get the following error:

[code]

I have no clue as to what this means. I can't seem to find

[2019-07-31 20:44] tsteur commented on #172
I remember there was a similar question here (in German): https://forum.matomo.org/t/bestehende-tracking-in-tag-manager-verwenden/31644/5

We do not recommend including both the tag manager and embedding the regular Matomo tag.

* If you want to create a separate tracker manually, I would recommend removing the part from the tracking code that loads the `matomo.js`.
* Alternatively, you can disabl

[2019-08-06 08:41] toredash opened #174 "File integrity check failed on Matomo 3.11.0"
When running on Matomo 3.11.0, the systemCheckPage wrongly informs the user that it should delete the tracker.php file in tag-manager:

I would open a PR for fixing it but I was unable to figure out where the code for this is.

[2019-08-06 20:27] tsteur commented on #174
Not seeing this on our installation. Did you create the file manually?

[2019-08-07 06:50] toredash commented on #174
Yes, I add this file to improve performance as noted here: https://github.com/matomo-org/matomo/issues/14420

[2019-08-07 07:08] tsteur commented on #174
@mattab @Findus23  any thoughts on this? Would have expected this to be in the manifest file?

[2019-08-09 02:51] mattab commented on #174
would maybe work to add `tracker.php` to https://github.com/matomo-org/matomo/blob/00d15def20e9654d5855326012099a0c8654e3cb/config/global.php#L101 - @toredash feel free to test and open a PR if possible :+1:

[2019-08-09 07:27] toredash commented on #174
@mattab Thanks for the help!

PR added here: https://github.com/matomo-org/matomo/pull/14747

[2019-08-16 02:17] #174 closed

[2019-08-19 06:40] rmersie opened #180 "Matomo scalability / usability"
Hi Matomo,

We've recently installed Matomo into the SaaS version of our product and are actively monitoring 30 - 50 webshops using Matomo and this number will continue to grow in the future. During the process of installing / configuring Matomo, we ran into some 'usability issues'. I'd like to share these with you and would like to know if there would be any solutions you know of to make (mainly)

[2019-08-19 21:37] tsteur commented on #180
Hi @rmersie

You can either use the API and automate everything see https://developer.matomo.org/api-reference/reporting-api#TagManager

Or you could read the idSite from a DataLayer variable and put something like this in the website to configure the idSite: `_mtm.push({'matomoIdSite': XYZ})`. Then you would maybe need only one container for them all.

If you have other questions feel free to ask

[2019-08-19 21:37] #180 closed

[2019-08-23 07:40] robertgstoehl opened #181 "Question: tag-manager (container_xxx.js) in distributed Matomo deployments"
In distributed deployments like 2x tracker behind loadbalancer, webui separeted eg: https://matomo.org/faq/new-to-piwik/faq_134/

how does one keep the generated (and changing) container javascript files in sync? As of now I assume shared storage or file based replication would solve this (but would prefer if this would be handled transparently within Matomo itself ;) )

Thoughts on this?

[2019-08-26 01:52] tsteur commented on #181
@robertgstoehl best to ask this in forum.

Created this issue a while ago https://github.com/matomo-org/tag-manager/issues/81 to fix it through a CDN.

An alternative be to have `js` folder of Matomo a network folder like EFS or NFS. If you're familiar with PHP, you can [write a plugin](https://developer.matomo.org) that is listening to the event `TagManager.containerFileChanged` like this `functi

[2019-08-26 01:52] #181 closed

[2019-08-26 02:08] #160 closed

[2019-08-26 02:09] tsteur commented on #118
Now that https://github.com/matomo-org/tag-manager/pull/177 is merged, this feature should work when the domains are configured.

[2019-08-26 02:09] #118 closed

[2019-08-28 13:55] lockland opened #183 "How do I update a tag parameter?"
I've created a custom tag with a lot of parameters and then, on a new version of that, I've changed some parameters name and its values and deployed that plugin on matomo. The new tags works properly but the old ones broke whereas the parameters had changed.

So I wanna know if there is a documentation or a way to update those parameters without access the database and updating the parameters ther

[2019-08-28 20:20] tsteur commented on #183
Hi @lockland this sounds like a question for our forum: https://forum.matomo.org

You might want to provide a bit more details since it's not quite clear what you are after.

In general you don't need to make change on the DB though, there is an API that let's you make changes and maybe that's something for you: https://developer.matomo.org/api-reference/reporting-api#TagManager

[2019-08-28 20:20] #183 closed

[2019-08-29 17:44] lockland commented on #183
Thank you for your reply @tsteur and sorry about don't be clear enought.

I was just talking about create a plugin migration like describe here: https://developer.matomo.org/api-reference/Piwik/Updates

[2019-09-01 18:37] danimoh opened #185 "Tag Manager Preview UI tries to encode circular structure as JSON"
Hello,
If the preview UI tries to display a data structure with a circular structure it fails at JSON encoding, an uncaught exception gets thrown and the UI doesn't update.

This can happen for example in the following setting:
- define an `AllElementsClick` trigger
- open the tracked website in debug / preview mode
- give an element on the page a reference to itself, e.g. `el.selfref = el;`
- cli

[2019-09-01 22:30] tsteur commented on #185
To avoid this, we would need to have some custom method I suppose that checks if an element is a DOM element or something like this in https://github.com/matomo-org/tag-manager/blob/master/javascripts/tagmanager.js#L43 :

[code]

I haven't tested it though. @danimoh  any chance you could update your Matomo Tag Manager with this JavaScript code: https://github.com/matomo-org/tag-manager/pull/186/fi

[2019-09-08 19:01] Findus23 opened #187 "Add a system check that detects WAFs"
Multiple people have reported issues with tag manager caused by web application firewalls.
Many are blocking form submission when the POST data contains HTML.

I'd propose adding a system check that trie sending POST data with HTML in it and checks for a 403.

See also https://stackoverflow.com/questions/57843666/saving-custom-scripts-in-matomo-tag-manager-results-in-403/57844903#57844903
https://

[2019-09-09 14:08] Findus23 commented on #187
See also https://github.com/matomo-org/matomo/issues/3371 for a more general mod_security detection (which might be harder to do reliably than this specific rule).

[2019-09-10 23:26] tsteur opened #188 "Debugger: Tag fired count might not be accurate when a fireDelay is configured"
Eg use a tag with a page view trigger, and configure a fire delay of 1s.

When we send the debug values from the tag manager to the debug iframe, the tag has not been executed yet and therefore it does not increase the `fired count` for that tag. There can be many reasons why this tag will actually not be executed 1s later. We need to see how this behaviour can be changed so the debug frame reflec

[2019-09-26 11:06] AlexMisiulia opened #189 "Tag manager android/ios"
Hi! Do you have any plans for creating sdk for Android/Ios? Or are there any ways to integrate tag manager without sdk? Thanks

[2019-09-26 15:59] lockland commented on #81
Hello @scysys
Do you have a tutorial to do this configuration?
What CDN are you using in your scenario?

[2019-09-26 20:25] tsteur commented on #189
Hi there, this isn't supported yet and we're not planning to work on this.

[2019-09-26 20:25] #189 closed

[2019-09-30 23:48] mattab commented on #185
Hi @danimoh Would you be able to test the patch and confirm if it fixes the issue for you? https://github.com/matomo-org/tag-manager/pull/186/files Be great to hear from you and merge this PR eventually.

[2019-10-21 12:20] mikkeschiren opened #194 "Create new release"
Matomo core is using a commit (eef1a1d), is there any special reason why we do not have a new release of tag-manager instead?

[2019-10-21 19:31] tsteur commented on #194
Created https://github.com/matomo-org/matomo/pull/15031 👍  We usually update it shortly before the release but should have been already in rc-1 actually

[2019-10-21 19:31] #194 closed

[2019-10-23 05:05] senthilaim opened #195 "How to track user id dynamically?"
Hi Team,

Tag manager is very great. I need yours help for track user id dynamically.

![useid](https://user-images.githubusercontent.com/46022329/67359302-8a837200-f580-11e9-9758-0dd72942cc09.PNG)

I am using angular 7 framework. If i set static username is working well. But i want to set username dynamically. I would appreciate your help to resolve this issue.

Let me know if need more clarifica

[2019-10-23 06:52] tsteur commented on #195
Hi there, questions be best asked in the forum: https://forum.matomo.org

You can basically create a data layer variable named say "MatomoUserId" and you can then assign this variable to the userId in the screenshot like `{{ MatomoUserId }}` (or use the picker on the right) in the User ID field.

You can then push the userId to the data layer see https://developer.matomo.org/guides/tagmanager/data

[2019-10-23 06:52] #195 closed

[2019-10-23 08:41] senthilaim commented on #195
Thanks @tsteur

[2019-10-30 18:14] peterbo opened #200 "When in debugging mode, delete the debugger parameter from being passed to the TagManager"
In my use case, I have a Regex running against the PageUrl ((en|fr|pt|cz|ru|jp|es)(?:\/)?(?:\/index\.jsp)?$). This won't work, if the PageURL contains the mtmPreviewMode=xxx parameter. So I had to change the Regex to (en|fr|pt|cz|ru|jp|es)(?:\/)?(?:\/index\.jsp)?(?:\?mtmPreviewMode\=XXXXXX)?$ to make it work. The most elegant solution would be to hide the preview parameter from the internal TagMan

[2019-10-30 18:53] tsteur commented on #200
Indeed. The PageURL defined in https://github.com/matomo-org/tag-manager/blob/0.2.6/Template/Variable/PreConfigured/PageUrlVariable.php should ideally remove this parameter if it is present.

[2019-12-04 22:15] makarovstas opened #203 "regenerate-released-containers create wrong MatomoConfiguration variable"
I have distributed Matomo deployment, and use **./console tagmanager:regenerate-released-containers**  for sync js containers between servers.
When I open container_xxx.js, generated by this command, in another server (not where I created initially), I see that **idSite** parameter in **MatomoConfiguration** equals **0**:

[code]

This problem occurs only for new created sites, if I edit Matomo Tr

[2019-12-05 01:26] tsteur commented on #203
@makarovstas see https://github.com/matomo-org/tag-manager/pull/204 created a patch. I can't reproduce the issue but maybe the change helps.

[2019-12-05 18:34] #203 closed

[2019-12-05 22:02] tsteur opened #205 "JavaScript errors when domains are set"
This seems to be potentially a regression from https://github.com/matomo-org/tag-manager/pull/177

See js error where it basically passes an array like `[{domain: 'foo.com'}]` when it should be `['foo.com']`

![image](https://user-images.githubusercontent.com/273120/70277439-463def80-1817-11ea-8ef7-1e2c66ee36b3.png)

![image](https://user-images.githubusercontent.com/273120/70277462-51911b00-1817-

[2019-12-08 01:56] #205 closed

[2019-12-10 19:46] liquidlx opened #207 "Tag Manager AMP Support"
Tag manager has support for amp pages? If doesnt have yet, are you planning to do something about that? We need to do create a component like Google Tag Manager have.

[2019-12-10 20:13] tsteur commented on #207
Do you have some link with more information about this topic maybe?

[2019-12-10 20:13] tsteur commented on #207
Not around AMP but what should be supported there or how you expect it to be differently.

[2019-12-10 21:03] liquidlx commented on #207
AMP & Google Tag Manager: [https://support.google.com/tagmanager/answer/9205783?hl=en](https://support.google.com/tagmanager/answer/9205783?hl=en)

Creating AMP Component: [https://codelabs.developers.google.com/codelabs/creating-your-first-amp-component/index.html?index=..%2F..index#0](https://codelabs.developers.google.com/codelabs/creating-your-first-amp-component/index.html?index=..%2F..index#

[2019-12-11 14:42] liquidlx commented on #207
AMP doesn't allow you to manipulate the DOM, it allows to create a amp-script tag that runs javascript in a web worker, so you cannot access the DOM, just the virtual DOM actually ([link here](https://amp.dev/documentation/guides-and-tutorials/develop/custom-javascript/)]. Because of this restriction we can't include our tag manager, unless matomo have a AMP Component, that allows you to run JS.

[2019-12-12 18:53] tsteur commented on #207
I see, thanks. Generally, we could quite easily introduce an AMP context. If someone be keen to work on it, I could spend like 20 minutes on getting some ground work done for this to get things in the right direction and show how things could work. It would still need to be seen if it will be really possible but I reckon a proof of concept could be done quite quickly maybe. Let me know if you are

[2019-12-17 15:20] SejlaG opened #208 "Allow for cookie domain in matomo configuration to be set as a variable"
Hi All,

When setting up variable Matomo Configuration in the Tag Manager we have the option to set variables for the different values.

We have several different websites and domains are created on the go. Each website has their own dedicated track URL for instance example1.com is using track.example1.com, example2.com is using track.example2.com and so on.

example1.com also consists off say sho

[2020-01-06 21:32] Laul0 opened #212 "Support variables in Custom JavaScript variable"
# Summary

Using an existing variable into a Custom JavaScript variable can avoid a lot of dev and can be really useful.
Example: you wish return a custom attribute from current clicked element. Use `{{ClickElement}}` is essential.

## Current behavior

Into a custom javascript variable, add the `{{ClickElement}}` variable like :

[code]

This code return the following error:

<img width="985" alt

[2020-01-06 21:47] Laul0 opened #211 "Update version of Tag Manager script"
# Summary

During the tests and developments, use the latest version in Preview mode or Dev is essential.

## Current behavior

1. Edit the current version (Live) of the Tag Manager
2. Create a new version Dev
3. Change URL on the target Web site **OR** enable Preview mode

The used version still the previous one.

Here, a screenshot of the new version in preview mode:
<img width="820" alt="Screen

[2020-01-11 03:00] Laul0 opened #213 "Error when create a new version"
## Summary

After a couple of modification, a new version have to be create.

### Current behavior

After a couple of modification, a new version have to be created but after clicking on the create new version and publish, the following error message appear:

<img width="1686" alt="Screen Shot 2020-01-07 at 23 13 24" src="https://user-images.githubusercontent.com/15279205/72197790-6868f580-33f3-11

[2020-01-11 03:11] Laul0 opened #214 "Report Forms variable typo"
- Plateform: self-hosted (docker)
- Matomo version: 3.13.0

## Current behavior

From the Tag Manager variables, in the Forms area, it is possible to retrieve the "Form Destination URL" and the variable name is `{{FormDestionation}}`

![Screen Shot 2020-01-07 at 09 48 30](https://user-images.githubusercontent.com/15279205/72198015-1bd2e980-33f6-11ea-9891-dbe088d1d944.png)

## Expected behavior

Th

[2020-01-12 19:04] tsteur commented on #214
Cheers @Laul0
we'll change this as part of Matomo 4 in case the variable was already used previously because it could potentially break someones container if we just renamed the variable.

[2020-01-12 19:07] tsteur commented on #213
@Laul0 I can't reproduce this here. Are you using the latest version of Matomo?

Considering you also have issue with https://github.com/matomo-org/tag-manager/issues/211 there seems to be something not quite right with your server set up. Maybe you can tell us more about your set up or maybe even give us access to it?

[2020-01-12 19:07] tsteur commented on #211
Just checking: By any chance do you maybe have a multi server environment set up?

[2020-01-12 19:25] tsteur commented on #212
This variable is kind of a special case where the code you type is basically pasted directly into the container script. Not sure if we can prevent any errors easily. We could probably do it if we continue to not allow any variables and then we would somehow first need to evaluate the entered JS to make sure there is no syntax error before sending it to the backend. If we add the features to allow

[2020-01-12 23:49] Laul0 commented on #211
Nop. Only one Docker matomo server.

[2020-01-12 23:52] Laul0 commented on #213
Hmm, I forgot to mention the informations about my environment sorry:

- Plateform: self-hosted (docker)
- Matomo version: 3.13.0

It is totally possible to organize a remote meeting I you wish of course, with pleasure.

[2020-01-24 16:18] peterbo opened #217 "Enable Debugging mode without URL parameter"
The Debug mode doesn't seem to work without adding the mtmPreviewMode-Parameter to the URL. Enabling the Debug-Mode without the parameter would be nice, because often it is not possible to attach additional parameters (e.g. checkout funnel, security enhances sites with whitelisted parameter names, thank you pages, etc.)

[2020-01-26 19:59] tsteur commented on #217
BTW @peterbo when enabling the preview mode, it currently sets a cookie so you don't need the URL parameters. The cookie should be valid for one week. However, it doesn't work when Matomo runs on a different domain which is often the case.

We'd basically need to find a way to set a cookie on a different frame which maybe could be achieved if a landing page has the Matomo tracking code embedded. I

[2020-01-29 23:45] peterbo commented on #217
Thanks for answering, Thomas! What mechanism did GTM base this on? Do they deploy a third party cookie? It seems like they deliver some kind of JSON debug configuration from the container-URL (which is the tracking server URL) if a debug & a session cookie is present and valid. But it seems to be pretty complex from what I can see. Probably an enhancement for later! Thank you!

[2020-01-31 10:56] peterbo opened #218 "Umlauts in Event (category|action|name), probably other fields, too, destroy variable strings in the same field"
This was reproduced on multiple instances:

![event](https://user-images.githubusercontent.com/1018973/73534040-6b6a6b00-4420-11ea-990b-ce2b990ec0a2.JPG)

This results in the following event to be logged:
![event-logged](https://user-images.githubusercontent.com/1018973/73534119-a8366200-4420-11ea-83bc-267f75a21867.JPG)

[2020-02-02 19:59] tsteur commented on #218
Cheers @peterbo  created https://github.com/matomo-org/tag-manager/pull/219/files

[2020-02-05 21:20] peterbo opened #221 "Unable to attach event listener to element if theres already an event listener that stops bubbling"
Per definition: If an element has multiple event handlers on a single event, then even if one of them stops the bubbling, the other ones still execute.

But that doesn't seem to be the case. Is this caused by a certain implementation detail or could this be a non expected behavior?

Example:
`<a href="#" class="new-message-button text-uppercase"><span class="short">Nachricht</span><span class="lon

[2020-02-06 21:01] tsteur commented on #221
@peterbo The AllLinksTrigger is listening to all clicks on the `body` so this would maybe explain it? see https://github.com/matomo-org/tag-manager/blob/3.x-dev/Template/Trigger/AllLinksClickTrigger.web.js#L12

I don't think we really want to DOM modifications etc. Wonder how eg GTM works around this or whether they just recommend people to not stop bubbling or whether they do it differently all t

[2020-02-06 22:20] peterbo commented on #221
@tsteur Hi Thomas, ah, thanks for clarifying! That definitely makes sense.

Google seems to have fixed this issue, but I don't know how complex such a solution can be. They're attaching a Click listener in capture mode to the root <html> element:
![capturing](https://user-images.githubusercontent.com/1018973/73983563-012d5b00-4937-11ea-930d-053d10677854.JPG)

But I'm currently also checking, if bu

[2020-02-06 23:26] tsteur commented on #221
That makes total sense and be an easy fix. We'd just need to define the fourth parameter from our addEventListener eg in https://github.com/matomo-org/tag-manager/blob/3.x-dev/Template/Trigger/AllLinksClickTrigger.web.js#L12 but also for similar use cases and set it to `true`.

[2020-02-06 23:30] peterbo commented on #221
Perfect, thanks for the feedback, @tsteur! I changed & tested this in my codebase already, but I wasn't quite sure if there would be other implications. But then, it also makes sense that this is only usable for the All Clicks event and not for the All Links Click (because it has to bubble up to the nearest parent A element). So this makes sense and makes things much easier. Thanks!!

[2020-02-06 23:31] tsteur commented on #221
I'm probably not understanding the useCapture fully just yet or the problem. Created PR but thought it be safe to do it there as well or can at least not harm?

[2020-02-07 00:13] peterbo commented on #221
Shouldn't be a problem. I think in GTM they wanted to comply with the "standard" and also stop the tracking request once the propagation is stopped. So probably more a philosophical than a technical question.

But mostly stopPropagation is used wrong or unconscious today (mostly in form submits). The developers simply mean preventDefault, but set e.g. a "return false", which also stops the propaga

[2020-02-17 01:00] mattab commented on #79
Documented in [ How do I trigger a tag when any DOM element which matches a CSS selector is clicked?](https://matomo.org/faq/tag-manager/how-do-i-trigger-a-tag-when-any-dom-element-matches-a-css-selector/)

[2020-02-18 12:15] Findus23 opened #225 "Explain what the Tag Manager "Enable DNT" setting in the Matomo Configuration variable does"
Inspired by a confusion in https://forum.matomo.org/t/browser-do-not-track-kills-active-opt-out-ability/36116

People get confused by the fact that they can enable DNT support both in Matomo and in Tag Manager. The tag manager setting should explain that it is just an addition client-side check that stops sending the data at all.

[2020-02-18 16:04] Mepherotus opened #226 "idSite trough lookup table failing to load"
after following the guide:
https://matomo.org/docs/tag-manager/#advanced-variables-settings-default-value-lookup-table

most of the times (but not always, could it be a race condition?) I end up with a request to matomo that doesn't contain an idSite in the request:
...&idsite=&...

weirdly enough it's happening only during EEcomerce calls

    _paq.push(['addEcommerceItem', '999', 'foo, 'bar', 99

[2020-02-18 16:49] Mepherotus commented on #226
small update, even when i force the Matomo idSite to 1 in the tag manager configuration I have the same behavior (the idsite is still null in the Tracking URL)

[2020-02-18 21:01] tsteur commented on #226
Is there any chance you could send us the URL where we can reproduce this and / or export the container configuration so we can try to reproduce it? Our email is hello at matomo dot org. If there's an URL where we can quickly debug that be appreciated since it would make it easy for us to see what's happening. Cheers

[2020-02-19 00:57] mattab opened #227 "_mtm.push can cause browser to freeze in some cases when used with Angular JS"
Reported by a customer:

Matomo caused a complete freeze of our application's GUI in such a bad way, that we could see the CPU usage had been running higher and higher and every browser got absolutely unresponsiv and had to be shut down via task-manager. This was a big surprise, since there was nothing about any kind of changes to Matomo's JavaScript in the changelogs and we didn't had any changes

[2020-02-19 03:46] tsteur commented on #227
@mattab sounds like you want to document this for angular. AFAIK there isn't anything we would do and would just close this issue. adding the website label in case you want to document something.

[2020-02-19 09:27] Mepherotus commented on #226
I can confirm that's a race condition, by running:

	<script>
	    _paq.push(['addEcommerceItem', '999', 'foo', 'bar', 999, 1]);
            _paq.push(['trackEcommerceOrder', '9999993', 99]);
            console.log("Hello");
	    setTimeout(() => {
            _paq.push(['addEcommerceItem', '999', 'foo', 'bar', 999, 1]);
            _paq.push(['trackEcommerceOrder', '9999994', 99]);
            c

[2020-02-19 20:12] tsteur commented on #226
Cheers, I can reproduce this on the link you shared.

Basically, what is happening, Matomo Tag Manager is adding the first tracker using

`Matomo.addTracker(trackerUrl, undefined)`

This triggers `createFirstTracker(matomoUrl, siteId)`.

This causes all previously registered `_paq.push` to be evaluated including ecommerce.

At this time the `idSite` is not set yet because we are setting the idSite

[2020-02-20 10:04] Mepherotus commented on #226
works! her's the workaround that we're deploying:

`

var getDomainConfig = (domain) => {
--
  | switch (domain) {
  | case 'travelcircus.de':
  | return 1;
  | case 'tcsrv.net':
  | return 2;
  | case 'travelcircus.sandbox':
  | return 3;
  | case 'travelcircus.nl':
  | return 4;
  | case 'travelcircus.be':
  | return 5;
  | case 'urlaubsguru.de':
  | return 6;
  | case 'holidayguru.nl':
  | retu

[2020-02-20 10:13] Mepherotus commented on #226
Works! here's the workaround we're deploying

	var getDomainConfig = (domain) => {
		switch (domain) {
			case 'a.de':
				return 1;
			case 'a.net':
				return 2;
			case 'a.sandbox':
				return 3;
			case 'a.nl':
				return 4;
			case 'a.be':
				return 5;
			case 'b.de':
				return 6;
			case 'b.nl':
				return 7;
			case 'b.ch':
				return 8;
			case 'b.at':
				return 9;
			default:
				retur

[2020-03-01 04:48] X-Coder commented on #100
I run into similar issue with this, when the classnames of the element I want to select using the css selector contains other classnames (which could change over time).

Just a simple example, I want to select it by css selector using class name my-element:
[code]
Take a look at this code from tagmanager.js (especially last line):
[code]
Why are you selecting the elements using DOM.bySelector (whi

[2020-03-01 06:31] tsteur commented on #100
@X-Coder

It should compare the actual element whether it is in the list of nodes, not the element class name.

[2020-03-01 06:36] X-Coder commented on #100
For me actualValue contains all the class names of the element as string, and not the element itself, as you say.

This is chrome console debug output:
[code]

[2020-03-01 06:51] tsteur commented on #100
Unfortunately, for this selector you must provide an HTML element to the trigger condition. Meaning it only works on elements. If you have a css class, you can maybe use the contains or equals selector.

[2020-03-01 07:04] X-Coder commented on #100
Thank you, had just same thought, at the same time :)

This was my fault. I should have used the condition "Element-Klick" instead of "Klick Klassen".

[2020-03-04 21:19] mattab commented on #227
FYI: someone else confirmed they experienced a browser lockup issue, and that applying these changes have fixed the issue. This might be an issue experienced by a lot of people.

[2020-03-04 21:21] tsteur commented on #227
There is nothing we can do @mattab
This may be a pure angular thing. I suppose they already use `window._mtm` if not maybe that makes a difference instead of `_mtm`

[2020-03-06 10:46] Chardonneaur opened #230 "Tag names are not encoded"
Hi there,
When I create a tag in Tag Manager with a ' within the title, the debug mode carries the name like &amp.
Could you please correct it?

[2020-03-07 02:55] tsteur commented on #230
Cheers @Chardonneaur

Can you maybe check if this patch works https://github.com/matomo-org/tag-manager/pull/231/files ?

You'd need to change that file, and then for example disable and enable the debug mode to regenerate the preview JS file

[2020-04-02 15:09] liquidlx opened #234 "Matomo Tag Manager Workflow"
Hello, I need to know if exists a workflow of how tag manager works, something visual. Thanks!

[2020-04-02 19:31] tsteur commented on #234
Hi there, likely this month we'll publish a lot of videos around this.

[2020-04-05 20:14] liquidlx commented on #234
Good to hear that! Keep me updated :) (if you already have a link for the youtube channel or something like that I appreciate)

[2020-04-05 22:49] tsteur commented on #234
Check out https://www.youtube.com/playlist?list=PLu58d85wNIlYIogzrh7hJj5LUFcmN92M- and be great to let us know what you think

[2020-04-05 22:49] #234 closed, assigned to nobody

[2020-04-12 16:47] Chardonneaur opened #237 "Variables not showing up within the UI when using the API"
Hi there,
I am importing variables through the API within Matomo Tag Manager.
Here is my request:
curl "http://localhost/mat311/matomo/index.php" -G -d "module=API&method=TagManager.addContainerVariable&idSite=7&token_auth=ed6fb0020d5758e5e94aef3a7f37bb5f&idContainer=UXu2xVDF&idContainerVersion=74&type=DataLayer&parameters[dataLayerName]=testou&name=1840"
When I export the json file of the contain

[2020-04-13 20:56] tsteur commented on #237
Is the ID of the container version 100% correct? The UI uses the same method so it generally seems to work. Maybe you can confirm this by adding a data layer variable through the API. This would than indicate it seems of an issue around sending correct variables etc rather than a bug (where technically https://forum.matomo.org/ would be a better place to discuss).

This is how the request looks li

[2020-04-14 14:43] Chardonneaur commented on #237
Hi Thomas,
Thank you so much for your help.
It was indeed my fault.
Here is what the documentation of the API is saying "The current version that a user is editing is called the "draft" version. You can get the ID of the "draft" version by calling {@link TagManager.getContainer}." so one need to call "TagManager.getContainer", then need to look through the result and look for the draft tag, then i

[2020-04-14 14:43] #237 closed, assigned to nobody

[2020-04-14 23:16] tsteur commented on #237
Glad it works now @Chardonneaur

[2020-04-28 05:24] mattab commented on #134
@tsteur the only way I think of would be to have a special case where the "Custom HTML" field value would not use the defaut method but directly read the value from the raw request? it would be if we didn't modify people's code in a custom html block!

[2020-04-30 05:46] mikkeschiren opened #241 "Call for CustomJsTracker when it is not present"
I have not digged into this yet - but in a installation were we are not using CustomJsTracker, TagManager still try to use it, which make Matomo crash when we regenerate tags.

[2020-04-30 06:00] tsteur commented on #241
Cheers @mikkeschiren marking this for now as duplicate of https://github.com/matomo-org/matomo/issues/15884

[2020-04-30 06:00] #241 closed, assigned to nobody

[2020-05-01 19:46] peterbo opened #242 "TagManager fired Event does not contain pv_id when using different configurations - Therefore, pageView correlation missing"
Events triggered (and fired) by the Matomo TagManager "native" event tag doesn't seem to include the pageView correlation, when a different "Matomo Configuration" Variable is used.

We're using different "Matomo Configuration" Variables for PageViews and Events, since the number and types of attached CustomDimensions for these two actions are fundamentally different.

The "Matomo Configuration" se

[2020-05-04 00:11] tsteur commented on #242
They are basically different tracker instances (one instance per variable in https://github.com/matomo-org/tag-manager/blob/3.x-dev/Template/Tag/MatomoTag.web.js#L104-L106)

Therefore they would have different IDs. At first I was wondering if this is actually something that needs to be done in Matomo core (making pageViewId global or so and sharing it across trackers). However, this doesn't work s

[2020-05-04 15:51] peterbo commented on #242
Hi @tsteur , thanks for your thoughts and comments on that matter! It's really hard to think about a solution that fits every use case. The fact that we have different tracker instances per configuration is good - a lot of use cases may need to have different endpoints / Site-IDs / settings.

Agreed!

Agreed, but this could be the right place for a potential setting - Proposals:
a) When setting up

[2020-05-12 00:47] Laul0 opened #247 "Trouble with the preview mode"
# Summary

The preview mode of Tag Manager container does not appear and the JavaScript seems not be the latest version neither.

## Current behavior

Once connected to Tag Manager:
1. Edit tag, trigger and/or variables
2. Enable preview mode
3. Add suffix URL to enable the preview mode on the target site
4. No preview panel
5. From Tag Manager, disable preview mode
6. Publish the current changes

[2020-05-12 02:03] tsteur commented on #247
Hi @Laul0 When you enable preview mode, maybe check if the file for this container exists in `$matomoDir/js` folder when you activate preview mode. And ideally also check after enabling preview mode if the regular container file starts with code like this:

![image](https://user-images.githubusercontent.com/273120/81630292-5195e680-9459-11ea-85a2-a8bc972135c6.png)

I tried to reproduce but things

[2020-05-12 03:11] Laul0 commented on #247
I enable Preview mode with the browser developer tools opened but I don't see any error...

[2020-05-12 03:12] Laul0 commented on #247
System check seems good
<img width="1284" alt="Screen Shot 2020-05-11 at 23 12 05" src="https://user-images.githubusercontent.com/15279205/81634382-e0185280-93dc-11ea-9b97-0f2ba44e3eaf.png">

[2020-05-12 04:27] tsteur commented on #247
Be good to check the files on the filesystem directly whether there's eg a file like `container_BTYwl0Vy_preview.js` (assuming container ID is `BTYwl0Vy`) and whether the file `container_BTYwl0Vy.js` contains above mentioned code.

[2020-05-12 13:26] Laul0 commented on #247
When I am enabling the preview mode, the file container_[ID]_preview.js is created and when I disable the preview mode, this file is deleted

[2020-05-12 13:32] Laul0 commented on #247
Note: in my site, I added manually the URL of the preview script and the debug console appears

[2020-05-12 20:42] tsteur commented on #247
Can you also check when preview mode is enabled if the file `container_[ID].js` starts with code like this?

![image](https://user-images.githubusercontent.com/273120/81743405-b0a93900-94f5-11ea-85c4-a7cfae3ad631.png)

[2020-05-14 20:39] Laul0 commented on #247
here, this is what I have once the preview mode enable:

[code]

[2020-05-14 20:45] Laul0 commented on #217
I opened an issue related to this one in the wrong repo: matomo-org/matomo/issues/15941

[2020-05-14 20:55] Laul0 commented on #217
In my case, if I enforce the domain into the cookie, the preview mode appears:

<img width="1367" alt="Screen Shot 2020-05-14 at 16 49 19" src="https://user-images.githubusercontent.com/15279205/81984879-76c65880-9603-11ea-9371-fb8fc4a8f5fc.png">

By default, the cookie domain is : `yourmatomo.domain.ext`

Edit this one with: `yourwebiste.domain.ext` and the preview appears.

[2020-05-14 21:22] tsteur commented on #247
@Laul0 it's looking all good I would say. The preview mode should just appear as the code to enable it exists, and the preview file itself exists too. Feel free to send us a link to your page where we can try and reproduce it to hello at matomo.org

[2020-05-24 23:33] Laul0 opened #245 "Custom event trigger with _mtm doesn’t work"
# Summary

For catch a partial loading page, a custom event must be created and triggered in JavaScript directly but it does not work.

## Current behavior

1. Matomo Tag Manager is included and loaded into the page
2. Create a custom trigger into Tag Manager (Name and eventName = PartialPageview)
3. Enable preview mode
4. mtm.PageView is triggered
5. Try to trigger manually the event from the bro

[2020-05-25 00:40] tsteur commented on #245
Works nicely here.

BTW the example has a leading underscore in `_var` which should be `var`. Can you maybe send us a link where we can reproduce this?

[2020-05-25 15:56] Laul0 commented on #245
Hi @tsteur,

Yes, I quickly wrote an example of test that I performed.

Because I am using a local self-hosted and a SharePoint online site, it will be difficult to give you a link easily. But it is possible via remote or if we plan a time range for your own tests.

[2020-05-26 02:40] tsteur commented on #245
@Laul0 we usually don't do remote sessions or arrange a time unless there was maybe a support plan involved. Is there a way that it's possible to maybe save the website as HTML including all assets and send it to us or so? Or even better build a simple page outside of SharePoint where we can reproduce this? Like maybe you can simply create an HTML page, embed the container JS, and try to trigger t

[2020-06-07 02:42] peterbo opened #248 "Matomo Configuration: Using variable in Matomo URL results in validation error"
![trackingdomain-variable](https://user-images.githubusercontent.com/1018973/83959036-3ad88900-a879-11ea-805a-5948dc5b9539.JPG)

[2020-06-07 02:49] peterbo opened #249 "Add description/comment field to Tags/Triggers/Variables for better documentation of functionality"
This feature would come in handy when more than one person is administering the TagManager.

[2020-06-07 20:09] tsteur commented on #248
Thanks @peterbo I can see in https://github.com/matomo-org/tag-manager/blob/3.x-dev/Template/Variable/MatomoConfigurationVariable.php#L59 it's only validating for URL but should be more like the idSite check https://github.com/matomo-org/tag-manager/blob/3.x-dev/Template/Variable/MatomoConfigurationVariable.php#L74-L86 . I'm actually now thinking it should probably only validate for not empty sinc

[2020-06-07 20:13] tsteur commented on #249
Makes sense 👍

[2020-06-07 20:14] peterbo commented on #248
Hi @tsteur - I removed the URL validator for some instances yesterday and it works perfectly. Yes, this would definitely make sense to a) remove the URL validation completely or b) if "{{" is in string, then only validate NotEmpty, if not, validate also for URL.

[2020-06-07 20:22] tsteur commented on #248
👍  created https://github.com/matomo-org/tag-manager/pull/250

[2020-06-07 20:57] #248 closed, assigned to nobody

[2020-06-11 03:39] SARAVANA1501 commented on #81
@tsteur Instead save the  script in CDN, Can we  store the script in database and enable  the endpoint to serve the script from db?

[2020-06-11 04:06] tsteur commented on #81
@SARAVANA1501 it's currently not possible to store it in the DB (which would be likely bit slow)

[2020-06-11 04:12] SARAVANA1501 commented on #81
@tsteur We are trying to host tag manager in load balancing  environment, I would like to contribute to this, Would you give me the technical details for CDN sync?

[2020-06-11 04:22] tsteur commented on #81
If you are familiar with PHP you would want to [create a plugin](https://developer.matomo.org/guides/getting-started-part-1)
and then listen to [this event](https://developer.matomo.org/guides/events):

* `TagManager.containerFileChanged` which has an argument `$file`

So you could listen to that event using a method like

`syncWithCdn($pathToFile) { ... do the sync logic ... }`

eg like

[code]

[2020-06-11 04:56] krithikabalu commented on #81
@tsteur can you please elaborate on "it's currently not possible to store script in the DB"? If we are able to store scripts in db and serve them through endpoint, wouldn't matomo tagmanager be independently supporting multi_server_environment?

[2020-06-11 06:21] tsteur commented on #81
You could also store it in DB and develop your own endpoint to serve it. It just be significantly slower compared to a CDN plus it puts more load on your DB.

[2020-06-14 02:15] #218 closed, assigned to tsteur

[2020-06-14 21:56] #214 closed

[2020-06-14 21:58] #230 closed, assigned to nobody

[2020-06-17 06:58] Mepherotus opened #253 "unwanted pixel response triggering adblockers"
Hello guys, the default behavior of the matomo JavaScript tracker seems to be sending the 1st request on the page with  "request_image" set to 1, this theoretically should trigger a 200 with the 1*1 pixel as a response but some of the major adblockers have really strict rules for bocking image requests.

Is there any way in JS/matomo config/anywhere else to permanently set the  request_image param

[2020-06-18 18:44] Chardonneaur commented on #245
I am facing a similar but opposite issue.
If I follow the documentation at https://developer.matomo.org/guides/spa-tracking
"or in your Single Page App, if you are using the 'Pageview Trigger' to trigger a Pageview, you can trigger a Tag Manager Event {event: 'mtm.PageView'} by calling the following line in JavaScript: _mtm.push({'event': 'mtm.PageView'});.

    This would also work similarly when

[2020-06-18 18:59] Chardonneaur commented on #245
Interesting as well, it seems that if I don't name the custom event mtm.PageView then the custom event is not recognized.

[2020-06-18 21:11] tsteur commented on #245
@Chardonneaur feel free to email me a link where this can be reproduced and I have a look

[2020-07-03 16:58] Chardonneaur commented on #245
@tsteur thank you for your answer, I just recorded a video showing the issue that I am facing https://youtu.be/VW_zAGbK6pY
unless I don't understand the documentation properly, but to me clicking on the button should fire the popup.

[2020-07-05 20:29] tsteur commented on #245
@Chardonneaur any chance you could share a URL to that page somehow or zip the files and send it to us so we can debug it?

[2020-07-08 20:09] peterbo opened #257 "TagManager _mtm dataLayer is an object not an array -> use Array for dataLayer"
In contrast to GA's dataLayer array, Matomo's _mtm datalayer is an object. Quite a lot of solutions, when it comes to consent management, plugins for CMS, shop integration plugins and so forth, implement a method to rename the datalayer variable name nowadays (to use another solution than GA). In most cases, this fails with _mtm, because it is not an array (it just implements some array methods).

[2020-07-08 20:17] tsteur commented on #257
@peterbo I reckon it's an object because it's an object in the Matomo JS tracker too and was "copied" from there. We basically set

[code]

so we get notified easily whenever someone pushed something to `_mtm`. I suppose there might be by now also some way to check if anything was pushed to `_mtm` , meaning the array was modified, with a plain array? Not sure how others do it. Basically as soon as

[2020-07-08 20:55] peterbo commented on #257
Jep, this makes sense!
Would it be possible to easily change that to a construction e.g.

[code]
So that it's an array with an overridden push function to notify the TagManager of a new element? I think that's basically how GA does it.

[2020-07-08 21:06] tsteur commented on #257
I haven't tested it should be possible I reckon. If I see this right it might be fairly easy to do.

btw any chance you could explain a bit more what they do there and how it works with an array and not an object just to better understand what's happening?

[2020-07-08 21:20] peterbo commented on #257
Definitely. There are probably more cases, but I have two examples at the moment:
1) One of the most popular consent solution tools here pushes its designated consented infos to the dataLayer:
![consents](https://user-images.githubusercontent.com/1018973/86970911-85973a80-c170-11ea-9b11-309c01e194f0.JPG)
For checking its own state and consents given, it expects array access to the dataLayer. (See

[2020-07-09 01:02] tsteur commented on #257
@peterbo I haven't fully tested it but maybe something like this would work? https://github.com/matomo-org/tag-manager/pull/260/files

[2020-07-11 22:34] cherkavi commented on #225
With/Without "Support Do Not Track preference" Tag manager JS part (client) doesn't send any data to server.

Tag Manager Debug/Preview is showing in the Logs that "firing this tag" but no requests in browser log.

[2020-07-12 08:52] cherkavi commented on #225
Official docker container Matomo.
matomo              latest              4f05222e2406

Dry run working properly from browser: http://127.0.0.1:8080/matomo.php?idsite=4&rec=1
( it is nice to have the same for curl )

Error writing working properly:
[code]

Debug flag is working as expected:
[code]

UI ( JS ) code for sending "visits" and write down to table working properly
[code]

Tag manager ( C

[2020-07-12 19:25] #211 closed

[2020-07-12 19:26] Laul0 commented on #213
Not reproduce until the latest version

[2020-07-12 19:26] #213 closed

[2020-07-12 19:45] Laul0 commented on #247
Hi @tsteur,

Maybe I found a sort of workaround to unblock me.
This is due to the permissions... After reboot the Docker or after a couple of time, the permissions seems changed. If I perform a `chmod -R 777 /opt/bitnami/matomo/js` that's fix the issue until next time.

[2020-07-12 19:48] tsteur commented on #247
👍 I'll close the issue. We noticed this somewhere else recently too which is why we created https://github.com/matomo-org/tag-manager/pull/255 so people become aware of it. I'll close this issue for now. Let me know if we need to reopen.

[2020-07-12 19:48] #247 closed, assigned to nobody

[2020-07-12 19:50] tsteur commented on #212
@Laul0 I'll reopen the issue for now as we're still planning to support this eventually.

[2020-07-12 22:41] Laul0 commented on #245
Hi @Chardonneaur,

I finally found a solution for my use case and maybe that will resolve your issue too.

I performed a copy/paste from the [documentation](https://developer.matomo.org/guides/tagmanager/datalayer) to trigger custom events:

[code]
I noted my custom scripts worked but no event was send to the Matomo server... Because the context of my Single Page changed the scope of the variable

[2020-07-12 23:38] tsteur commented on #245
@Laul0 that would explain the issue 👍  BTW few days ago we changed the default code for _mtm so that when people copy/ paste it, it'll automatically work https://github.com/matomo-org/tag-manager/pull/259/files

[2020-07-16 13:14] Chardonneaur commented on #245
@Laul0 thank you, did it work for you? I tested by my side with the new Matomo code and it didn't work.

[2020-07-16 13:19] Laul0 commented on #245
It seems to be working. I didn't perform all tests yet but it is on the right way.

[2020-07-16 21:02] #172 closed

[2020-08-04 02:05] jmumby opened #262 "Set the publish buttons to active when the version number field is clicked"
It is great to have the auto increment for the version number, however you still have to type in the field for the publish buttons to become active. This maybe a small thing but you have to click in the field press space or add a description for the publish buttons to become active.

[2020-08-04 02:12] tsteur commented on #262
@jmumby this is already fixed in Matomo 4 https://github.com/matomo-org/tag-manager/pull/210

[2020-08-04 02:12] #262 closed, assigned to nobody

[2020-08-11 12:54] ben-dw opened #263 "Tag is fired even though it's blocked - runtime/priority issue?"
Hi there,
I have created a tag "et all pageviews" with a trigger "pageview all pages" and a blocking trigger "pageview onlineservice".
The trigger "pageview onlineservice" will be fired if the page path contains "onlineservice".

Currently the tag "et all pageviews" will always by fired even though the URL contains "onlineservice".
The debug mode might show the problem.
1. Trigger: pageview all pa

[2020-08-11 20:45] tsteur commented on #263
@ben-dw thanks for creating the issue. Is there any chance you could send us a link to a site where we can reproduce this? Or ideally send us the JS file for the container and simple HTML example to reproduce this? If you don't want to share here or email is hello at matomo.org. Just comment here in case you send an email.

[2020-08-11 22:21] #185 closed

[2020-08-12 06:45] ben-dw commented on #263
@tsteur I have send an email :)

[2020-08-13 01:37] tsteur commented on #263
Thanks @ben-dw I replied by email.

[2020-08-13 06:14] ben-dw commented on #263
Thank you! I've send you an update via email @tsteur

[2020-08-13 23:02] tsteur commented on #263
Created a PR @ben-dw

[2020-08-17 10:48] mattab opened #267 "Triggers are triggered only once per visit in a Single Page App"
Creating from customer feedback and request:

the "scroll" trigger is only triggered once per pageview.

Imagine the case of a Single Page App, when we navigate to a new page, the "scroll trigger" should then be able to be triggered again.
But the Tag Manager does not know that we have changed the page, and does not reset triggers and events, so the scroll is not triggered again.

-> Could we intr

[2020-08-31 12:59] DanielBoch opened #268 "New "Click Button" variable and "All Elements Click" and "All Links Click" will trigger on middle and right click also"
I try to track for example a "Download Button" that opens another page instead of the current one. When I try to open it with firefox "open in new tab" than the MTM Debugger is not showing any click, windowload or download. This is true for all Buttons that open new pages.

I work with the Matomo Plugin for Wordpress.

![2020-08-31 14_56_40-Matomo Tag Manager Debugger](https://user-images.githubus

[2020-08-31 21:47] tsteur commented on #268
@DanielBoch thanks for creating this issue. Which click trigger are you using in the container?

If you could additionally maybe also send us a URL to a page where we can reproduce this (including on what link to click) that might make it a lot easier for us to investigate. Feel free to send us the URL to wordpress at matomo.org

[2020-09-01 07:11] DanielBoch commented on #268
The site I have this issue with is under construction right now and is not available to the public. But I can show you the version 1 of this site that is public (but not for very long as we are about to launch version 2): https://evolvingregions.com. You can try to get it to work with the download link section of the onepager.

I work with the normal "All Elements Click" impulse/trigger. I hope th

[2020-09-01 14:23] b-r-u-h opened #269 "TagManager gets deactivated periodically"
Hi there,

since a couple of weeks we are facing issues with the TagManager. Although we defined the Plugin in the "config.ini.php" the plugin does not get activated if we deploy Matomo. Not only it does not get started but since a few weeks the TagManager plugin gets deactivated periodically and has to be activated again manually in System --> Plugins. Is there an option that we are missing that

[2020-09-01 20:42] tsteur commented on #269
@b-r-u-h it only needs to be persisted in the config file and there's no other place. It seems the image is not reading the config file properly or has some other issues with it. I hate to say this but there might be an issue with the bitnami image (I checked in the code Matomo should not automatically disable that plugin). Sorry for referring you back to this but it doesn't sound like any issue h

[2020-09-01 20:42] #269 closed, assigned to nobody

[2020-09-01 21:51] tsteur commented on #268
@DanielBoch I just checked out the site but it loos like the container is not embedded? Only the Matomo tracking code. Could you embed the container again?

[2020-09-02 13:27] b-r-u-h commented on #269
@tsteur , Thanks for having a look at this. Will forward this to the Bitnami queue then

[2020-09-02 14:31] DanielBoch commented on #268
@tsteur Its supposed to work. Its behind a cookie consent:
![MicrosoftTeams-image (8)](https://user-images.githubusercontent.com/49716644/91950168-9beced00-ed00-11ea-8581-0f8769f7e9a0.png)

[2020-09-02 22:20] tsteur commented on #268
@DanielBoch I did give consent but the cookie consent tool js always triggering a JS error so I reckon this is why it's not loading
![image](https://user-images.githubusercontent.com/273120/92042803-0bc9a900-edcf-11ea-9acb-9d2a5d7cc273.png)

[2020-09-08 05:23] KarthikRaja1388 opened #271 "Tag Manager: Change the location of Preview window"
Possibility of changing the location of Preview window.

**Request from a user:** We are working on measuring a chatbot. I use Matomo Tag Manager and the preview/debug functionality to test the triggers. However, because there is no option to minimize/resize the preview/debug mode i am not able to use this option on the chatbot. Since the chatbot is located at the right-bottom of the page (and the

[2020-09-08 06:09] tsteur commented on #271
If someone is keen to work on this here would be a start based on URL parameter:

[code]

Ideally though there was a feature to move the debug frame so it's easer to use and the setting persisted in cookies. controlling it per URL parameter wouldn't be needed then.

[2020-09-08 09:13] Miri225 opened #272 "easy copy and paste of tags and targets."
If you have to use the same tags again and again on different websites, it would make sense not to have to rewrite them every time, but can apply them from one page to the other website (batch processing)

[2020-09-14 09:26] DanielBoch commented on #268
The thing is: This is the old version 1 of the page I am currently working on. I cant fix this issue because we are already working to launch the new site. It would make no sense to us to fix an issue on an already outdated site.
Maybe we should just wait for the launch of the new site so that you can see the issue I initially explained.

[2020-09-15 22:27] tsteur commented on #268
sounds great @DanielBoch

[2020-09-17 13:09] cjriks opened #277 "JS error in Tag Manager preview mode"
In preview mode I get this error in renderPreviewFrame() from the tag manager preview.js:

Uncaught TypeError: document.body is null
    renderPreviewFrame https://piwik.ub.uni-duesseldorf.de/piwik/js/container_B4dIhmVH_preview.js:34

Matomo Version is 3.14.1, Browser is Firefox 80.0.1 on OSX. The MTM-Code is added at the top of the &lt;head&gt; tag.

If I edit the preview.js and add a timeout tha

[2020-09-17 21:49] tsteur commented on #277
Thanks for this @cjriks

I have prepared a fix for this in https://github.com/matomo-org/tag-manager/pull/276/files but couldn't test it yet. It should work though.

Feel free to patch this if needed in your Matomo installation `plugins/TagManager/javascripts/previewmode.js`

[2020-09-18 09:34] cjriks commented on #277
The fix works for me, thanks.

[2020-09-18 19:02] #277 closed, assigned to tsteur

[2020-09-18 19:02] tsteur commented on #277
Great @cjriks

merged https://github.com/matomo-org/tag-manager/pull/276

[2020-09-24 21:43] #221 closed, assigned to nobody

[2020-09-25 00:18] #257 closed, assigned to nobody

[2020-10-12 08:07] DanielBoch commented on #268
The final site is now online: https://evolvingregions.com/en/ Can you try and replicate the issue?
I encountered the issue I explained with several projects in the past so I kind of think its either a matomo issue or I am just to stupid. What makes me confident in trusting my abilities is that the same thing works with GTM but not with Matomo.

[2020-10-12 19:14] tsteur commented on #268
Hi @DanielBoch just had a look but not getting any error. Not sure where I need to click to reproduce it?

[2020-10-12 23:46] mattab opened #278 "Reload the preview panel when clicking in a Single Page App"
Customer, with experience in Google Tag Manager, reported that in Matomo the main difference and issue they're having is that the Preview panel doesn't refresh, when they click on other pages within their single page app.  (apparently GTM supports it)

This is an issue for them as they're a team that need to test many new tags/triggers, and eventually setup A/B Tests all via Matomo tag manager wit

[2020-10-13 01:04] tsteur commented on #278
I'm not sure what you mean there but I don't think everyone would want that behaviour. Maybe clarify more clearly how it works in GTM.

[2020-10-13 07:11] DanielBoch commented on #268
When you go to service: https://evolvingregions.com/en/services/ and click on request under "CONTACT PERSON". If you open it in  another tap the click is not showing in MTM Debugger. I cant explain it otherwise or I have to share my screen.

[2020-10-13 19:32] tsteur commented on #268
Hi @DanielBoch I had another look. Preview mode is currently not enabled so I'm relying on information from so called "developer console logs".

It seems a tag is triggered when clicking on it with a mouse click and I think one other tag is not triggered because of some block condition.

Do I understand it right you are basically meaning the tag is not fired when doing a `right click -> open in a

[2020-10-14 07:32] DanielBoch commented on #268
You are right. I mean the right click. You technically clicked it, it just opens in another window. So this action should count the same as a left click.

[2020-10-14 19:50] tsteur commented on #268
Thanks @DanielBoch I've updated the title of this issue.

From what I understand in your previous comment is that GTM always triggers the click triggers on a middle or right click so it would make sense to behave the same for consistency.

[2020-10-25 12:48] utrautmann commented on #217
It's not only an issue with different domains. In my case is the preview cookie set to the same domain like my website, but no preview panel appears.

But the preview cookie contains a path "/piwik" , because Matomo is installed in mydomain/piwik/

![grafik](https://user-images.githubusercontent.com/25771066/97107447-e1f27b80-16c7-11eb-852d-45f78abe6b65.png)

As I edited the preview cookie path an

[2020-10-27 18:37] peterbo opened #282 "When using _paq.push(['trackPageView']); in a Custom HTML tag (with bundled and default tracker in configuration), no tracking request is fired"
When no "Matomo Analytics" prepared pageView tag is fired, the _paq.push call will not trigger a pageView request and _paq stays an array. The tracker object doesn't seem to be initialised without firing a "Matomo Analytics" prepared pageView tag.

[2020-10-27 19:26] tsteur commented on #282
Hi @peterbo the Matomo tracker only gets initialised once the Matomo Tag fires meaning on an event, page view or goal. I would say this is currently expected because we wouldn't maybe 100% correctly know when to initialise the tracker. Like we might not be able to initialise the Matomo tag on "pageview" or when the script is loaded directly because the dataLayer etc might not be prepared yet etc.

[2020-10-27 20:30] peterbo commented on #282
Hey @tsteur! Thanks for your fast response! I think this might help. I don't have the architecture of the Container in mind, but would it make sense to initialise _paq directly after loading the configuration that bundles / sets the default tracker, independently of the fact that a pageView/Event/Goal tag is being attached? Or might this introduce more problems?

This feature might come in handy i

[2020-10-27 23:47] tsteur commented on #282
@peterbo could you try https://github.com/matomo-org/tag-manager/pull/283 ? It might be as simple as that.

Yeah I'm thinking this might cause issues depending on what variables work at this point yet etc. For example the siteId might only come from a variable etc and then things might not work correctly.

[2020-10-28 21:46] #282 closed, assigned to nobody

[2020-10-29 19:32] tsteur commented on #226
This should be fixed now in Matomo 4

[2020-10-29 19:32] #226 closed, assigned to nobody

[2020-11-04 10:01] tomper00 opened #284 "Add field to set custom setReferrerUrl to Pageview configuration in Matomo Analytics Tag"
When you work with SPA applications like React or Angular you often want to execute virtual pageviews in Matomo.
This can easily be done through setting up a trigger on history change and we execute a pageview tag where we use {{HistoryHashNewUrl}} in the **Custom URL** field and then read the title of the page use **Custom Title**  field.

What is problematic right now is that the referrer sent w

[2020-11-04 11:45] tomper00 commented on #284
Hm I might have misunderstood this one. The setReferrerUrl is not connected to the action, it is connected to the visit.
Will close this.

[2020-11-04 11:45] #284 closed, assigned to nobody

[2020-11-20 15:20] vickram10 commented on #195
hi, understood the configuration part in  data layer i configured it..but index page i am doing some error can you please share me a example to script in index page ...thanks

[2020-11-21 17:18] scysys opened #286 "Support for Multiple Matomo trackers"
Based on: https://developer.matomo.org/guides/tracking-javascript-guide#multiple-piwik-trackers
It should be great to integrate the option for this directly inside the Matomo Configuration variable.

[2020-11-22 03:28] tsteur commented on #286
Hi @scysys it should work to simply configure two Matomo Tags with two different Matomo configurations. Can you check if this is working for you?

[2020-11-25 15:37] scysys commented on #286
@tsteur

I didn't think of this solution. It´s working. Thanks!

[2020-11-25 15:37] #286 closed, assigned to nobody

[2020-11-28 14:59] delokman commented on #207
I'm interested in how to use matomo tag manager to support Android, iOS and AMP platforms,

Please help me understand how to implement this

[2020-11-29 21:52] tsteur commented on #207
Hi @delokman

# step 1 add new context
The first step be to define a new context:
See for example here I added an AMP context: https://github.com/matomo-org/tag-manager/compare/ampcontext?expand=1#diff-16fdc85d92abf991bfc9d1aa6a8b1281cdad305991882c1346b921543f916421R1

An Android and iOS Context already exists. The context defines basically two things:

1. How should the container be generated. eg

[2020-12-01 18:35] delokman commented on #207
@tsteur
Thank you very much for your complete answer,I will do your explanation as soon as possible and tell you the result,Please keep this issue open,

[2020-12-15 08:06] Chardonneaur commented on #249
I confirmed that this need is still an existing one. I got today a measurement plan to implement, and within the spreadsheet documentation of the analyst, there is a line regarding the description of the variable. Definitely an optionnal line but still valuable.

[2020-12-15 19:55] jmumby opened #290 "Preview does not work when # is in the URL"
If you have an URL like `https://example.com/#/login` and add the preview parameter `https://example.com/#/login?mtmPreviewMode=123xyz` the preview does not work. If you place the parameter before the # it does work fine e.g `https://example.com?mtmPreviewMode=123xyz/#/login` but the parameter is removed after the page loads.

[2020-12-16 01:14] tsteur commented on #290
@jmumby not sure what you mean by "the parameter is removed after the page loads"? Do you have an actual URL where this can be reproduced?

[2020-12-16 06:33] jmumby commented on #290
If you use the URL https://example.com?mtmPreviewMode=123xyz/#/login after the page is loaded the URL changes to https://example.com/#/login. If you are testing and want to reload the same page you would need to add the parameter each time. I will share a URL privately.

[2020-12-16 06:46] tsteur commented on #290
@jmumby created https://github.com/matomo-org/tag-manager/pull/291 We will then look in the entire URL for the activation parameter. This should make this work so the URL parameter can be at the end. I can put this on cloud on next deploy already.

[2020-12-16 06:46] tsteur commented on #290
Otherwise only https://github.com/matomo-org/tag-manager/issues/217 would help

[2020-12-22 02:13] danieljwonder opened #292 "No Error Messages When Calling Non-Existant Variable in Tag Manager"
I just spent a good while trying to discover why data from a certain tag wasn't being collected even though the tag was firing in the debug view. Ultimately it seems that the Matomo Configuration variable had been renamed but the Tag calling that configuration variable was still firing and looking for the old name.

It seems to me that it would be good to either identify the tags via a unique pers

[2020-12-22 02:48] tsteur commented on #292
Hi @danielmcclure just fyi AFAIK when you rename a variable it is supposed to rename it in other places as well automatically. It should have done that

[2020-12-22 03:20] danieljwonder commented on #292
Ok, thanks. I'm not sure how it got out of sync but this was definitely the issue and it is working since I fixed it.

[2021-01-04 21:48] dl-lim opened #294 "Sequencing Tags in Tag Manager"
In Google Tag Manager, there’s a Tag Sequencing feature to allow tags to fire sequentially, so that, for example, one initiates a tracking pixel, and another fires asynchronously for individual events but are dependent on the first pixel.

Is there a similar feature here on Matomo Tag Manager? I note “Fire delay” and “Priority” but if the first script hasn’t finished firing, the second one may fir

[2021-01-06 01:08] tsteur commented on #294
Thanks for creating this feature request @alderson59 👍

I don't think there is a similar feature yet except for fire delay and priority.

[2021-01-21 05:29] #290 closed, assigned to nobody

[2021-01-21 07:54] ben-dw opened #297 "Fail to create new version after upgrade to 4.1 (from 3.14) - renaming form destination #214"
I'd like to create a new version after upgrading from Matomo 3.14 to 4.1. But there is a bug:
![matomo-form-destination-bug](https://user-images.githubusercontent.com/43407231/105319770-9d428780-5bc5-11eb-8130-843256d4b801.png)

Trigger conditions are not renamed if there are some existing:
![Bildschirmfoto 2021-01-21 um 08 28 32](https://user-images.githubusercontent.com/43407231/105320034-fa3e3d

[2021-01-21 19:25] tsteur commented on #297
@ben-dw sorry about that. There should have been an update script to correct this. Can you select the correct value there as it was renamed?

[2021-01-21 20:34] Starker3 opened #298 "Add option to allow case-insensitive URL Paramaters in Tag Manager variable"
Would it be possible to add a tick box to the allow case-insensitive matching of a URL Parameter in MTM?

The current implementation only allows the extraction of a case-sensitive URL parameter when creating a variable.
So when setting eg: "lang" as the paramater it will not match any parameter that has "LANG" or "Lang" in the URL.

![image](https://user-images.githubusercontent.com/20905821/10540

[2021-01-21 20:54] tsteur commented on #298
It should be technically possible to add such a feature @Starker3 but likely not a priority any time soon unfortunately.

[2021-01-22 07:11] ben-dw commented on #297
@tsteur That's the way how I fixed it ;-)
Just wanted to let you know and maybe otherones who have the same issue with "FormDestionation".

[2021-01-22 11:32] ben-dw opened #299 "Improve container size by using parameter references instead of full variable content"
Hi everybody,
I'm wondering how large a container file can get. In my case it is about 1 MegaByte! Using 100 tags and triggers and about 80 variables.
I had a closer look into the container file and found out, that every tag using a variable includes the full variable content.
For example: you use a matomo config variable for 50 tags, the same content of the variable is used 50 times. Each matomo

[2021-01-24 00:52] tsteur commented on #297
Thanks @ben-dw very appreciated. I'll close this for now as it's answered and we'll keep this in mind for next time 👍

[2021-01-24 00:52] #297 closed, assigned to nobody

[2021-01-24 01:00] tsteur commented on #299
Good point @ben-dw

We might not have realised this before or we just thought when using GZIP it shouldn't make a huge difference but it would still all need to be parsed etc. And I think there could be maybe potentially issues if the same variable is created multiple times but I don't think so. Generally, GZIPed the file be a lot smaller?

[2021-01-25 14:56] ben-dw commented on #299
GZIP makes a huge difference for sure. But not websites/server are configured correctly.
In my case:
actual site: about 1 MB
transfered size (gzip): 70 kB

You are not able to create two variables with the same name. So there shouldn't be any potential issue.

[2021-01-25 21:04] tsteur commented on #299
Thanks for checking @ben-dw 👍

[2021-02-03 14:12] Pepelepep commented on #146
Was there any evolution to use the name of the trigger to feed events?

Indeed this would avoid redundancy in the creation of tags, and ensure the wording, in my case, of the visible elements on a page.

[2021-02-11 02:47] tsteur opened #300 "_paq.push cannot be used when also using Tag Manager unless it is used in the same Tag Manager container itself."
refs https://github.com/matomo-org/wp-matomo/pull/421 and once this is fixed this PR would need to be reverted.

refs https://wordpress.org/support/topic/archive-warning-error-unserializing-wp_matomo_logtmpsegment/#post-14030042

This is especially an issue in Matomo for WordPress as it means the correct tracking of Ecommerce doesn't work when using the Tag Manager. It's not only a problem for Mat

[2021-02-17 00:58] jmumby opened #301 "Typo in tracking type"
When choosing tracking type it says

`Initialise tracker only. Don' track anything.`

This should be

`Initialise tracker only. Don't track anything.`

[2021-02-17 01:26] tsteur commented on #301
Cheers @jmumby created https://github.com/matomo-org/tag-manager/pull/302

[2021-02-17 01:33] #301 closed, assigned to tsteur

[2021-02-26 17:17] KevMou opened #304 "Google Tag Manager type of dataLayer doesn't triggers in Matomo Tag Manager"
Hello,

I have a problem with the detection of Google Tag Manager dataLayer in Matomo.
The detection work when the dataLayer is sent when a page is loaded but when the dataLayer is sent on an interaction like a click on a button the dataLayer is not detected by Matomo Tag Manager.
The dataLayers are based on the Google Tag Manager type
For example
window.dataLayer = window.dataLayer || [];
window.

[2021-03-01 02:06] tsteur commented on #304
Hi @KevMou thanks for creating this issue. This is indeed expected behaviour currently and documented in https://developer.matomo.org/guides/tagmanager/datalayer#migration-from-google-tag-manager

I will keep this issue open though in case we can manage in the future to listen to these data layer pushes and update our data layer.

[2021-03-04 13:49] peterbo opened #305 "Enable Tag Manager to trigger (supported) pixels serverside"
If we think of a Tag Manager more like a data pipeline and less of a javascript library container, it would make sense to support serverside tracking.

The goal is to collect all data from a website via one client tracking solution and internally coordinate and enrich data to be sent to their destinations server side. This would also make handling of consent and privacy a lot easier, since you are

[2021-03-04 19:23] tsteur commented on #305
Interesting @peterbo didn't hear about this before. Was just reading a wee bit about it. Just so I understand it correctly the serverside part would be eg a new subdomain that runs a specific package. The web container configures the JS tags to send the data (where possible) to the subdomain instead of the analytics provider directly and then the subdomain issues the request? Not sure yet how the

[2021-03-05 00:11] peterbo commented on #305
Hey @tsteur - the subdomain thing is Google specific. GTM is not a "server" per se, so they urge you to spin up a GCE to trigger your serverside tags. For (on premise) Matomo, this wouldn't be a thing, because it can directly call the tags (because it's already running on a server).

I scribbled an (ugly) structure of this:
![tm-serverside](https://user-images.githubusercontent.com/1018973/1100479

[2021-03-05 02:03] tsteur commented on #305
Thanks for this @peterbo I understand it now how it works technically. What is not 100% clear yet is when this becomes interesting or for which audience this is interesting. Of course with Matomo the benefit is this would come out of the box but spinning up a GCE is a bit more work etc so I wonder when / why companies/orgs make this effort. I'm assuming of course when they need to guarantee a cert

[2021-03-18 21:49] danieljwonder opened #306 "Inaccurate Content Tracking when enabling both checkboxes on Matomo variable."
Within the Matomo Variable it is possible to enable **Track All Content Impressions** and **Track Visible Content Impressions** at the same time. This can lead to double tracking of some impressions.

![content-tracking-checkmarks](https://user-images.githubusercontent.com/2772782/111702146-b784a300-88a0-11eb-90bf-3d532802ec86.png)

This could be prevented with some form of validation check that e

[2021-03-18 22:34] diosmosis commented on #306
Thanks for the report! You're right, this seems to be an issue.

[2021-03-22 21:31] Starker3 opened #308 "Using special characters in variable name results in errors in trigger configuration"
Currently it seems when creating a variable it's possible to use a `/` or `&` in the variable name. Doing so however results in the following error when creating a trigger using that variable (For example):
`Conditions: The variable "URL Variable with / and &" in the condition at position "0" cannot be found.`

![image](https://user-images.githubusercontent.com/20905821/112061027-c6ca6000-8bc2-11e

[2021-03-22 21:40] Starker3 commented on #308
An easy fix for now would be to simply add a warning to the description saying something like:
"Only use numbers, letters and spaces for a variable name, using special characters will result in errors when using the variable"

[2021-03-23 13:40] brangebrange commented on #304
Hi,
We are also in a project that are in the migration from GTM/GA to MTM/Matomo. We have a lot of custom dataLayers on the website and it would be very nice to avoid changing these.

We are also using CookiePro from OneTrust and their functionality is also based on updating the dataLayer if the user is changing the consent of the website.

Is there a way to make some custom code that will push ch

[2021-03-25 10:25] heurteph-ei opened #309 "Changing MTM Container Name or Description leads to HTTP 414 URI Too Long when many container versions"
# Expected Behavior
I just want to update some MTM container informations
![image](https://user-images.githubusercontent.com/79993552/112454362-e4c9c900-8d58-11eb-9d5a-3e1ebb6e750e.png)

# Current Behavior
When the container has many versions (it had 21 versions), the update is impossible due to HTTP 414 (URI Too Long). Also, no error message is displayed on the screen to the user. No message at a

[2021-03-25 10:44] sgiehl commented on #309
Hi @heurteph-ei ,
thanks for creating the issue. I guess those parameters would need to be sent as post values.
I will have a look if I'm able to reproduce and maybe even fix this issue quickly.

Note: I'll move this issue to the tag-manager repo, as it only affects the tag-manager

[2021-03-29 10:20] heurteph-ei commented on #272
Related to #51 ?

[2021-03-30 13:50] heurteph-ei opened #314 "Fixed issue when renaming Matomo Configuration variable, its name is not propagated to the tags using it"
# Expected Behavior
When I rename a **variable** of type `Matomo Configuration`, its new name should be propagated to the **tag**s using this **variable**.

# Current Behavior
## Prerequisite
I have defined a **tag** of type `Matomo statistics` in the MTM. This **tag** uses a **variable** of type `Matomo Configuration`. The name of this `Matomo Configuration` **variable** is, for example _MatomoCo

[2021-03-30 20:28] diosmosis commented on #314
Hi @heurteph-ei, this is indeed a bug, thanks for creating the detailed bug report!

[2021-03-31 12:47] peterbo opened #315 "When deploying Container, sometimes half of the logic is missing, tracking stops"
Even with minor or no changes to the TagManager / Container configuration, the deployment mechanism creates different containers with sometimes most of the business logic missing (Matomo 4.2.0). The example shows the same container, that is deployed just with a minor change. Interestingly, the change history of the Container always shows a bunch of Tags (even if they were not changed):

![containe

[2021-03-31 19:24] diosmosis commented on #315
Hi @peterbo, do you have steps to reproduce? Or it just that a deploy suddenly removes business logic?

[2021-03-31 19:58] peterbo commented on #315
Hey @diosmosis! - It is really just publishing the release (Publish -> Create new version and publish release/without publish). Everytime this is done, the resulting container has other sizes and misses other parts.

[2021-03-31 20:38] tsteur commented on #315
@peterbo can you reproduce this consistently? Is there anything special about this setup maybe?

[2021-03-31 20:41] Starker3 opened #316 "Setting cookie domain causing conflicts with Require Cookie Consent"
### Description of issue:
When using a cookie domain such as .example.com and requiring cookie consent causes cookies for both www.example.com and .example.com to be created when cookie consent is given when using MTM
However, when cookie consent is withdrawn only one set of cookies are deleted (.example.com).
The www.example.com cookies remain including the mtm_cookie_consent cookie which causes

[2021-03-31 21:10] peterbo commented on #315
Hey @tsteur - nothing special with the setup really. Unfortunately, I don't have the setup under "control", so I'm also just checking the "surface". I already established, that there is a timeout while calling method=TagManager.createContainerVersion (Maximum execution time of 30 seconds exceeded).

But two things, I/we would have to figure out:
1) The release process, although timed out, created

[2021-03-31 21:20] tsteur commented on #315
Is it using the latest Matomo version? If not, I'd recommend upgrading and checking if this is still an issue. We added some detection for recursion like `variable a references variable b which references variable A` and would usually run in a loop

[2021-03-31 21:23] peterbo commented on #315
Matomo 4.2.0 at the moment. Thank you both for the fast feedback! I'll report back after the update!

[2021-04-11 20:44] #309 closed, assigned to sgiehl

[2021-04-11 22:50] flamisz commented on #308
I investigated a little bit, what is the root cause of this issue. For me, the `/` character was not a problem, only the `&`. I checked it and when we save it to the DB we save it like `&amp;` so we can't find it when we search it.
I'll look into it how to save and search in the same way.

[2021-04-12 00:20] flamisz commented on #308
@tsteur I've found the root cause of the issue, see my comment above.

an easy fix can be, to `encodeURIComponent(this.variable.name)` before we post the `name` to the backend, and on the backend we `urldecode(name)` before we save it to the DB. this way we don't need the new validation.

are you happy with this solution? I can modify the #317 PR than

[2021-04-12 01:03] tsteur commented on #308
sounds good 👍

[2021-04-12 12:27] peterbo commented on #300
Hi @tsteur, I stumbled upon this problem as well. The use case is to set the Cookie Lifetime using:
[code]
The Tag, containing the Cookie settings is set with priority 950 (the PageView Tag has 999).

After that, the "Pageview" is fired, but it ignored the manual cookie settings. This is quite critical, because quite some instances use that feature (it is documented or in the forum somewhere), but

[2021-04-12 21:40] peterbo commented on #300
@tsteur sorry, I forgot that we already came up with a solution for that. The "Initialise tracker, don't track anything" Matomo-Tag was introduced to solve this. I'm keeping the last comment, because it is probably another use case, but the workaround (tracker init) works!

[2021-04-12 22:03] peterbo opened #319 "Add option to deactivate a tag or trigger"
Sometimes, it would be very useful to deactivate / disable a tag / trigger, if you just need it from time to time (e.g. for A/B testing, or work in progress).

[2021-04-12 22:06] tsteur commented on #319
Thanks for creating the issue @peterbo I'll close it as a duplicate of https://github.com/matomo-org/tag-manager/issues/23 where there's also a workaround mentioned (not ideal but works this way)

[2021-04-12 22:06] #319 closed, assigned to nobody

[2021-04-13 15:39] heurteph-ei commented on #263
Is this issue closed now, as there was #266?
@snake14?

[2021-04-14 08:06] heurteph-ei commented on #146
Another suggestion (also copied-pasted in the forum),
maybe it could be a good idea for a new feature to be able to capture some attribute(s) value(s). This could maybe solve this issue.
eg: `<span my-attibute-1="value i want to capture" my-attribute-2="something else">blabla</span>`

Then it could be possible to create a trigger on CSS selector `[my-attibute-1]` ; configure this selector to captu

[2021-04-14 09:34] heurteph-ei commented on #104
As a workaround, maybe you could also put a default value to your `Cookie Consent Level`  (eg. `$$the-cookie-consent-level-is-empty$$` or simply `empty`). Then you can use this default value for your trigger setup...
But the `is empty` / `is not empty` operators are still a good new enhancement to be developed :wink:

[2021-04-23 15:22] #308 closed, assigned to flamisz

[2021-04-24 07:19] amenk commented on #217
Why not just set a cookie when the target-site is called with ?mtmPreviewMode= so at least the preview mode persits?

A workarkound is to check the cookie on the Matomo URL and then go to the tracket site's console to enter (replace ..... by the code)

    document.cookie = 'mtmPreviewMode=..........; expires=Sun, 1 Jan 2023 00:00:00 UTC; path=/'

[2021-04-26 23:04] tsteur commented on #217
That was a workaround I was thinking if nothing else works 👍   The only thing might be that it's not super obvious how to disable it again unless you disable preview mode. But that be a similar issue when setting the cookie directly.

[2021-04-27 07:19] csaeum commented on #217
Do you mean by setting cookies directly in the browser to set it by hand?

Is it currently possible to set a cookie by hand, etc.?
We just want to test the ordering process and would have to add the parameters by hand, which is not possible at the end of the process.

I have read that you can set such a cookie manually in the browser. But with what parameters?

[2021-04-27 20:34] tsteur commented on #217
I think it should work when you execute below JavaScript in the browser developer tools. You only need to adjust the idSite and the tagmanager container ID. I didn't fully test it but I think it should work.

[code]

[2021-05-12 08:52] Chardonneaur commented on #128
Hi there,
do you have any updates dealing with this feature? A client of mine has already Matomo Tag Manager set on all the website and need a multiple value for page type, which correspond exactly to what custom variables can do.
From my understanding, this is a template change within the Matomo variable configuration.
What I don't know is how hard it is to make this change?

[2021-05-18 16:22] Japhys opened #324 "Restoring version, somewhat confused, it this a bug or just how it works?"
I am somewhat confused

Let's say I create Tag A and publish it
The create Tag B but delete Tag A and publish it
Restore version with Tag A

I go to Container -> Tags and I expect to see Tag A
Instead I see Tag B
It's not being fired though

Is this how it is supposed to work? Why does it not restore the complete container in the UI?

So how do I take an older version as a new starting point then?

[2021-05-18 19:16] diosmosis commented on #324
Hi @Japhys, when you say "restore version with Tag A" do you mean re-publish the older version with Tag A (ie, the rocket button in the versions table):

![image](https://user-images.githubusercontent.com/125140/118710164-c7eac880-b7d2-11eb-8c3c-f2156319bce9.png)

?

[2021-05-18 19:18] Japhys commented on #324
Hi @diosmosis yup that's indeed what I was doing.

[2021-05-18 19:53] diosmosis commented on #324
@Japhys I see, I believe that just makes the previous version the live version, it doesn't restore the entities in Matomo to their previous state. Tag A will still be deleted in the Matomo UI, but it should still be available in the previous container version's JavaScript. Does that answer your question? And is it still inconvenient for you to not have access to the old Tag?

[2021-05-18 20:01] Japhys commented on #324
I was wondering if this is how it works. Well I guess it will not be an issue I will run into often. But it would make sense to me to have access to all the tags triggers and variables from that re-published container. But maybe that's just me. But thanks for clearing it up!

The reason I ran into this was that I underestimated the strain Tag Manager can put on a server. I created a couple of tags

[2021-05-18 21:05] tsteur commented on #324
@Japhys you might be able to achieve this by exporting a specific version and then importing it. You can export any specific version and then in the bottom there is an import button. The publish feature itself is supposed to not update the current "draft" version you are editing.

![image](https://user-images.githubusercontent.com/273120/118723248-4736d580-b881-11eb-91e9-ffe6942bec39.png)

[2021-05-19 06:01] Japhys commented on #324
@tsteur Good one! I was actually wondering the same thing last night, I was pretty sure I did that before when migrating to a new installation a couple years ago, after that UI was up to date!

Thanks

[2021-05-19 20:19] tsteur commented on #324
Great @Japhys . Glad this worked. I'll close this issue for now

[2021-05-19 20:19] #324 closed, assigned to nobody

[2021-05-23 22:19] KarthikRaja1388 opened #326 "Fix for Tagmanager working along with CSP when triggering a HTML tag"
Customer's explanation of the issue:

I create a nonce for the actual embed Script, read: the regular matomo one, and the embed script for the tag manager. These two codes work perfectly fine. No csp issues arrise here.
Now lets say, i create a tag, that for the sake of simplicity, fires on every click to the page. The tag it self is a "CUSTOM HTML" tag, that simply says: '<script>console.log("Hel

[2021-05-25 08:23] heurteph-ei commented on #324
Hi @tsteur , maybe it could be good to disable the feature of publishing an old version if it does not work as could be expected... ?

[2021-05-25 20:00] tsteur commented on #324
@heurteph-ei the feature works exactly as it is expected currently. It's not supposed to change the version you are editing, it will only update the environment you are publishing it to.

[2021-05-26 20:25] mattab opened #328 "Observe DOM element changes even when a user doesn't scroll on the page"
currently in the "Element visibility" trigger (and possibly others), the DOM is re-scanned (only?) when a "Scroll" is detected. But sometimes, a new Element might become visible, yet the user is not scrolling (for example when the user clicks on a button and a new DOM element appears). The Element visibility trigger wouldn't be triggered in this case (until the user scrolls).

In terms of solution

[2021-05-27 08:21] heurteph-ei commented on #328
I think if you solve #B, you'll solve #A.
But could "Observe DOM change" feature detect for example a pseudo-element displayed by CSS on the :hover selector?

[2021-05-27 09:09] Jaimeapo opened #329 "Users with "view" permissions have access to the Tag Manager"
Users with "view" permissions have access to the Tag Manager, something that was not possible in previous versions 3.13.6.
Is there any intention of this to be the case as of version 4.1.1.?

Fortunately, it is not possible to make changes, but an error message appears "Your session has expired due to inactivity. Please log in to continue." But it goes back, in the browser, you can continue browsi

[2021-05-27 17:50] diosmosis commented on #329
Hi @Jaimeapo, this appears to be intentional and was added in https://github.com/matomo-org/tag-manager/pull/73. Users w/ view permissions should only be able to view the information, they should not even be able to see icons required to go into edit mode. Is this not the case for you? If not, can you provide some screenshots to show us what you see (for example, the manage containers page w/ the

[2021-06-15 16:11] ishantsolanki-vakt commented on #328
I am facing exactly the same issue.
I initially thought the `Element Visibility Trigger` would serve the purpose. But i was wrong. It only works (in my case) when i resize the window.
I would like to capture events like When a modal was opened or when showing an error message for an incorrect validation. In such cases there is no scroll events happening.

[2021-06-17 15:20] aleksijohansson commented on #212
I'm looking forward to this feature! Any updates on the schedule on this?

[2021-07-02 14:44] heurteph-ei opened #332 "Container version creation: timeout"
## Current Behavior
When I create a new version of the container, The request reaches an **HTTP500**: `Matomo encountered an error: Maximum execution time of 30 seconds exceeded (which lead to: Maximum execution time of 30 seconds exceeded)`

## Steps to Reproduce (for Bugs)
MTM container with 46 variables :
![image](https://user-images.githubusercontent.com/79993552/124289162-4d8fc100-db52-11eb-8

[2021-07-02 15:00] heurteph-ei opened #333 "Error in import/export of container when using WhiteLabel plugin"
##Current Behavior
When importing a container from another container on a Matomo instance with whitelabel enabled, the import fails.

##Steps to Reproduce (for Bugs)
I use an MTM container within a Matomo instance with whitelabel plugin enabled.
I changed the brand of Matomo into: `UX Solutions Analytics`
Export a container then import the json to a container on the same server, an error appears:

[2021-07-04 21:16] diosmosis commented on #332
Hi @heurteph-ei, it's interesting this timeout still occurs, I see that `max_execution_time` is set properly for you. Can you double check that is the case in your php.ini file? Is there a `TimeOut` directive in your apache configuration?

[2021-07-04 21:30] diosmosis commented on #333
Hi @heurteph-ei, thanks for the report! We've confirmed it's a bug and have a fix that should be out soon.

[2021-07-04 23:02] #333 closed, assigned to nobody

[2021-07-04 23:19] diosmosis commented on #333
Hi @heurteph-ei, this should be fixed in the latest WhiteLabel release. Can you download it and check?

[2021-07-06 09:32] heurteph-ei opened #334 "Added goal revenue field to tag edit view"
Hi,

I use MTM and the goals feature.
When defining a goal, it is possible to set a revenue... Also, following https://developer.matomo.org/api-reference/tracking-javascript it should be possible to track a goal with its revenue though javascript API:
![image](https://user-images.githubusercontent.com/79993552/124577638-bfffea00-de4d-11eb-998a-85485b5a36e9.png)

But when I create a goal in the MTM

[2021-07-06 09:33] heurteph-ei commented on #334
Sorry, I missed an option in the MTM configuration...

[2021-07-06 09:35] heurteph-ei commented on #333
Hi @diosmosis
Thanks for the speed of the fix :-)
I'll check the new release as soon as our server administrator comes back from vacation, and then I'll let you know...

[2021-07-06 14:08] heurteph-ei commented on #334
## Matomo version
### Mandatory checks

#### Version PHP >= 7.2.5:
 ✔ 7.3.20

#### PDO Extension:
 ✔

#### PDO\MYSQL Extension:
 ✔

#### MYSQLI Extension:
 ✔

#### Extensions requises:
 ✔ zlib ✔ SPL ✔ iconv ✔ json ✔ mbstring ✔ Reflection ✔ filter ✔ hash ✔ session

#### Fonctions requises:
 ✔ debug_backtrace ✔ eval ✔ hash ✔ gzcompress ✔ gzuncompress ✔ pack

#### Configuration PHP requise (php.ini):

[2021-07-09 09:43] heurteph-ei commented on #333
Hi @diosmosis
It works fine now,
thank you again for the fix!

[2021-07-09 09:46] heurteph-ei commented on #332
Hi @diosmosis ,

I cannot check now, I'll be able to do it after my vacation ;-)
I let you know when I come back...

[2021-07-30 18:21] pgassmann opened #337 "If xdebug is enabled then change limit to prevent self-referencing variable loop"
As Operations Engineer, I had to debug a infinite loop happening in Matomo in all requests.

500 Internal Error , `Xdebug has detected a possible infinite loop, and aborted your script with a stack depth of '256' frames`

In the end I found the culprit to be  user defined variable in Tagmanager, that referenced itself. UserID variable had `{{UserID}}` in its user id field.

The `Enable Preview` fu

[2021-08-01 20:35] tsteur commented on #337
Hi @pgassmann which version of Matomo are you using? This should have been fixed by https://github.com/matomo-org/tag-manager/pull/293

[2021-08-02 16:39] pgassmann commented on #337
@tsteur We are always using the latest version of matomo and plugins. Currently Matomo version 4.4.1

Note: the self reference was in the User ID field, perhaps that's not covered by #293
![grafik](https://user-images.githubusercontent.com/460192/127895188-27065054-de32-4ded-b200-56c0a533b6e9.png)

![grafik](https://user-images.githubusercontent.com/460192/127895087-5183cb9d-1810-4f0d-8059-220e09f

[2021-08-02 22:05] tsteur commented on #337
I believe the issue is that your stack depth is set to 256 but we're allowing up to 500 nested calls there: https://github.com/matomo-org/tag-manager/pull/293/files#diff-47b63f22b17072a002612b9a8f234e6e8e085f6d29eb3efaaddb1d895f3bf570R168

I suppose we could reduce it to say 230 calls or so. I suppose that should be still enough-ish. Is there maybe a chance you could change the stack depth to say

[2021-08-02 22:35] pgassmann commented on #337
When debugging, I did increase it to 512 and it just took longer.

Thomas Steur ***@***.***> schrieb am Di., 3. Aug. 2021, 00:05:

[2021-08-02 23:18] tsteur commented on #337
You might have to set it to 550 or so since there are also few method calls involved. Or actually maybe because each nested call will has 3 calls:

[code]

Meaning the limit may need to be 2000 or so. It would also mean that setting internally our limit to 230 nested calls would still require allowing a depth of 230*3 + some overhead = 720 or more.

[2021-08-03 12:06] pgassmann commented on #337
I did not set the limit explicitly. I just installed the xdebug extension in my php docker image.

The default setting of xcode is 256 https://xdebug.org/docs/all_settings#max_nesting_level

Can you change your limit to fit into the default settings and add a message on how to increase it if needed? Or could you explicitly raise the setting in your code for that feature? `ini_set('xdebug.max_nesti

[2021-08-03 20:18] tsteur commented on #337
Makes sense. Something like this should likely work  (to be tested): https://github.com/matomo-org/tag-manager/compare/m337?expand=1

In case you are familiar with patching files adding the following code to your `plugins/TagManager/TagManager.php` might  make this work:

[code]

It would go just below `public static $enableAutoContainerCreation = true;`. If you could give this a try and confirm t

[2021-08-03 21:07] tsteur commented on #329
@Jaimeapo as @diosmosis it is indeed intentional that the configurations can be viewed but not edited. You should however not see any message like "Your session has expired". I've just tried to reproduce this using the latest version of Matomo and couldn't. I'll close this issue for now but if you still have this issue please comment with steps to reproduce this and we'll reopen again and have a l

[2021-08-03 21:07] #329 closed, assigned to nobody

[2021-08-03 21:14] tsteur opened #339 "Visibility trigger add feature to observe DOM changes etc."
from https://github.com/matomo-org/tag-manager/issues/328

we got another report from a user, which reads:

Here is what the element visibility trigger looks like in GTM:

![image](https://user-images.githubusercontent.com/466765/119725870-948bf600-bec4-11eb-9d1d-5d57375b92bb.png)

Maybe we could introduce a feature "Observe DOM changes" like in GTM?

[2021-08-03 21:15] tsteur commented on #328
fyi splitted this into two issues: https://github.com/matomo-org/tag-manager/issues/339 because this one is a lot easier to implement compared to #339 and can therefore be put in current sprint etc

[2021-08-03 21:22] tsteur commented on #7
BTW the easiest way to achieve this is using your own CDN and configure it to point to the Matomo installation the `js` directory for pattern `container*.js` . This way you pretty much don't need to do anything except for setting up CDN once (or you could set up your own proxy like haproxy or in apache etc)

[2021-08-04 00:58] Starker3 opened #340 "Add option to filter events in Preview mode"
## Context:
Currently when creating triggers (For example an `All Elements Click`) that has a filter, an event is logged in the Preview mode for every trigger regardless of if the trigger condition was met or not or if it fired a tag or not.

This can cause issues, especially when users create more than a few triggers. It's not unreasonable for users that are tracking even a single website or appl

[2021-08-04 12:55] pgassmann commented on #337
I reproduced the issue on test instance. If I add the ini_set code, the UI reports the error when enabling the Preview.
![image](https://user-images.githubusercontent.com/460192/128183883-e34e23e8-d99b-4006-babe-f4d1733cb28a.png)

On the CLI, the command `console  tagmanager:regenerate-released-containers` still aborts after 256 calls.

[2021-08-05 07:56] imightmax commented on #340
Current use case for our product requires me to have quite a few events. We are looking at approximately 50 in our tracking plan. All events have unique triggers, often they are a `All Elements Click`. While debugging this causes the preview mode to fill up very quickly. Just a couple of clicks and I am looking at +- 100 events logged in the preview mode.

Now as mentioned in the OP this can defin

[2021-08-16 09:50] heurteph-ei commented on #332
Hi @diosmosis ,
There was a misconfiguration in Apache. We fixed it and now everything works perfectly!
Thanks for your help!

[2021-08-16 09:50] #332 closed, assigned to nobody

[2021-08-16 19:57] tsteur commented on #332
Great to hear @heurteph-ei 👍

[2021-08-30 03:15] #328 closed, assigned to AltamashShaikh

[2021-08-30 09:51] Findus23 opened #345 "add missing description to tags"
A few tags (and other things) are currently missing descriptions:

https://github.com/matomo-org/tag-manager/blob/4d0f899b7f22f5dbc7643712e2f664ff3651914d/lang/en.json#L238
https://github.com/matomo-org/tag-manager/blob/4d0f899b7f22f5dbc7643712e2f664ff3651914d/lang/en.json#L302-L317

[2021-08-30 15:22] heurteph-ei opened #349 "The `WindowUnload` event should be triggered only once for Microsoft Internet Explorer in Edge mode"
## Expected Behavior
When I use the `WindowUnload` event, it should be triggered only once for every browsers when refreshing the page or browsing to another page or closing the browser...
(yes: sorry, in our company the used browser is still Internet Explorer Edge :sob: )

## Current Behavior
╳ On Internet Explorer Edge (last version of Internet Explorer), the event is triggered twice in case of

[2021-08-30 20:12] tsteur commented on #349
Thanks for reporting this issue @heurteph-ei Not sure why it would trigger twice there but created https://github.com/matomo-org/tag-manager/pull/350/files which should fix this.

[2021-08-31 03:26] tsteur opened #351 "Add a github action for building tag manager js minified"
Same as https://github.com/matomo-org/matomo/blob/4.x-dev/.github/workflows/buildtrackerjs.yml

However, it would build `javascript/tagmanager.js`.

We should then also document this. Maybe we could create a new category `Matomo Tag Manager Development` on https://developer.matomo.org/piwik-in-depth and have a page `Tag Manager JS`.

[2021-08-31 03:29] tsteur opened #352 "Set up a file watcher that automatically rebuilds all the tag manager container when a file changes"
Only for development. If you otherwise change anything in TagManager or any of the Tags/Triggers/Variables you otherwise always need to manually execute the `tagmanager:regenerate-released-containers` command to test the changes.

Something similar to https://github.com/matomo-org/matomo/blob/4.x-dev/tests/angularjs/Gruntfile.js#L14-L32 where we then call `./console tagmanager:regenerate-released-

[2021-08-31 07:46] heurteph-ei commented on #349
Thank you @tsteur for your very fast fix...
We are currently testing it, I'll let you know if this is OK

[2021-09-06 04:13] Starker3 opened #360 "Editing existing Tag Manager variable results in double encoding request URI"
Refs L3-149

We received a report from a user that editing a Tag Manager Variable that was created with 4.3.1 after updating to 4.4.1 when the UI is in French results in a 400 Bad Request.

According to the user, it only happens if the Variable was created before the update and seems to be happening due to the space character (%20) being double encoded to %2520

They also say that commenting out t

[2021-09-06 04:24] tsteur commented on #360
We likely won't be able to reproduce this one but we might just try to remove that line and test if things still work. We need to check though that the variable would be still encoded in the request when updating or creating a variable. It seems we don't have such an encoding for the name in `manageTrigger/model.js` and `manageTag/model.js`

[2021-09-06 09:00] Findus23 commented on #49
Interestingly there is
https://github.com/matomo-org/tag-manager/blob/f5db47ffc05225ad25f4eeb92c22f503a731e107/lang/en.json#L133

which has another description (which is translated and shown in the UI), so maybe the only thing left to do is remove the unused hardcoded descriptions.

[2021-09-07 05:47] AltamashShaikh commented on #49
Fixed in this PR : https://github.com/matomo-org/tag-manager/pull/358

[2021-09-07 05:47] #49 closed

[2021-09-07 05:49] #225 closed, assigned to nobody

[2021-09-07 19:39] #349 closed, assigned to tsteur

[2021-09-08 15:49] heurteph-ei commented on #349
Hi @tsteur
Sorry for the time to test... But as the test failed, I wanted to be sure the problem would not come from my test procedure...
With your suggested fix, now the `WindowUnload` event is not called anymore in any browser when I go to an external website... :'(
The same for browser / tab close... Previously it was triggered, now it is not anymore

[2021-09-08 20:25] tsteur commented on #349
I've just tested it and the logic I added does seem to work nicely. Also the trigger itself works. It is tricky to test this trigger. Maybe you are performing an action in a tag that isn't allowed in the beforeunload trigger or so? does anything appear in the console logs?

[2021-09-08 23:31] tsteur opened #362 "Element visibility trigger may trigger too often"
While testing #339 noticed a problem with the element visibility trigger.

I think this may have been an issue before, haven't checked though.

I have this configuration
![image](https://user-images.githubusercontent.com/273120/132598293-053f1ce7-996d-46b0-8303-a7f014e0ae9e.png)

Where something should be triggered every time the element appears. It seems the scroll listener is triggering heaps of

[2021-09-09 12:41] heurteph-ei commented on #349
OK, sorry, the admin who deployed the patch did not set the good access rights on the file, then the file was ignored...
Now the file is really used, everything works well, either on FF, Chrome and Internet Explorer Edge.
Sorry again, and thank you again for the quick fix ! :-)

[2021-09-13 03:08] AltamashShaikh commented on #362
I tested this on my local with following cases.
Observer only via Scroll - too often being triggered
Observer only via InterSectionObserver  - not triggered too often
Observer via Scroll + InterSectionObserver - too often being triggered
Observer via Scroll + InterSectionObserver + new condition - not triggered too often

Fixed in: https://github.com/matomo-org/tag-manager/pull/363

[2021-09-13 03:08] #362 closed, assigned to nobody

[2021-09-14 04:01] #268 closed, assigned to nobody

[2021-09-14 04:01] #208 closed

[2021-10-06 01:22] justinvelluppillai commented on #339
@AltamashShaikh is this issue fixed and can be closed now?

[2021-10-06 01:26] justinvelluppillai commented on #217
This was fixed in #355

[2021-10-06 01:26] #217 closed, assigned to AltamashShaikh

[2021-10-06 02:11] #339 closed, assigned to AltamashShaikh

[2021-10-08 17:22] peterbo opened #368 "Ability to reset custom dimension when tracking SPA with Matomo Tag Manager"
For tracking with the legacy tracking code, there is `_paq.push(['deleteCustomDimension', 1]);` - that doesn't work with the Tag Manager. That results in custom dimensions being tracked for pageviews and actions that should not contain this data.

[2021-10-11 01:00] tsteur commented on #368
@peterbo would this be fixed by https://github.com/matomo-org/tag-manager/pull/201 maybe? I think there was some discussion in https://github.com/matomo-org/tag-manager/pull/201#discussion_r343315901

Or how do you reckon would this work best?

[2021-10-11 09:59] peterbo commented on #368
Hey @tsteur - https://github.com/matomo-org/tag-manager/pull/201 would definitely help to get rid of tons of workarounds. But in this case, it would not solve the problem. As an example, the following use-case:

- An SPA, sending us an event "virtualPageView" with some variables, e.g. "topic_name", "course_name", etc.
- These variables should be set as action custom dimensions
- "topic_name" and "

[2021-10-12 03:41] tsteur commented on #368
I wonder if in that case maybe somehow needs to be hooked into this using Custom HTML tag and calling `_paq.push()` directly?

I would have suggested to maybe have an option to delete custom dimensions after the page view or after the event was tracked. But if I understand things correctly that wouldn't help in that case?

[2021-10-13 22:43] peterbo opened #369 "Allow Regex for Custom Event, Event Name"
Oftentimes, there are different event names, that basically should do the same thing. For example consent management.

On pageload, the event "consent_initialised" is triggered by consent services. On consent change, a "consent_changed" or "consent_category_changed" event is sent. I would like to have one trigger for both/all events with the condition (e.g.) "Google Analytics Audiences" is true.

[2021-10-13 23:04] peterbo commented on #368
I tried to execute `_paq.push(['deleteCustomDimension', 1]);` in a custom HTML tag, but this had no effect. Sorry, I should have explained that a bit better.

Mostly, variables for SPA are set with an event. (e.g. event: virtualPageview, section: test, page_type: test, business_unit: test, etc) - perhaps an option would be great to have an option for events to reset one or more variables, when it

[2021-10-13 23:13] tsteur commented on #369
Thanks for this @peterbo

I think a checkbox for regex matching be easiest there.

[2021-10-13 23:53] peterbo commented on #146
+1 for being able to use the trigger name that triggered a certain tag as a variable.

@heurteph-ei - this is another issue. What you're trying to achieve is already possible (however, it is a bit complex):
- Create a trigger (e.g. Click) with conditions "Element click" - equals CSS selector - (e.g.) span[my-attribute-1]
- Create a variable that returns TagManager.dataLayer.get('mtm.clickElement')

[2021-10-14 03:34] tsteur commented on #368
Got it 👍
it almost goes into the concept of interactive vs non-interactive events or so maybe. But that's again a different story.

[2021-10-14 15:01] pgassmann commented on #337
@tsteur what is this bugfix waiting for? https://github.com/matomo-org/tag-manager/compare/m337?expand=1

Can you create a pull request, so it can officially be tested and included soon?

[2021-10-14 19:26] tsteur commented on #337
@pgassmann the patch would actually not work I think. My idea was to restrict to say max 500 nested variables checks. However, each nested variable check results in 3 or 4 nested calls meaning we would exceed any default limit again.

We'll need to find a better solution.

we'll probably also need to try configuring the default xdebug limit locally and then checking if there's no way to increase i

[2021-10-21 22:29] Starker3 opened #370 "Add Click Name to trigger conditions"
Currently we have several different options of setting up a trigger, but we don't currently have a trigger that can be used for a page elements "name" attribute.

For example, the following in an HTML page:
`<a href="/my-link/here" target="_self" class="classes" name="specific_element_name"> <h2 class="other-classes">This is an H2 link </h2> </a>`

Using a trigger of `Click Element contains specif

[2021-11-08 03:34] Starker3 opened #375 "Richt clicks trigger twice for "All Links Click" and "All Elements Click" in Firefox"
It seems that Right Clicks trigger twice in Firefox for both All Links Clicks as well as All Elements Clicks

This can be reproduced with the following:
Setup an All Links Click or All Elements Click trigger (It's easier without any filters)
![image](https://user-images.githubusercontent.com/20905821/140679649-f084530b-435a-43df-a74c-34d4d6da2c92.png)

Setup a tag to send an event to Matomo
![imag

[2021-11-08 04:42] mattab commented on #375
@Starker3 Thanks for creating the report. Could you confirm you have reproduced the issue and confirmed it?

[2021-11-08 05:14] Starker3 commented on #375
@mattab yes, I reproduced it in my testing instance. The screenshots were from that instance (self-hosted)

[2021-11-08 08:39] AltamashShaikh commented on #375
@tsteur I was able to reproduce the same and the easiest fix is to check `e.which` and post that initiate a callback.
Currently: Event listener for `contextmenu` was triggering both middle and right click

[2021-11-08 08:49] AltamashShaikh commented on #375
@Starker3 There is also a quick fix if we want to just track right clicks, we have a filter option called "Click button"
Refer: https://matomo.org/faq/tag-manager/how-do-i-get-the-click-triggers-to-only-trigger-on-left-middle-or-right-click/

[2021-11-11 02:33] #375 closed, assigned to nobody

[2021-11-11 02:37] AltamashShaikh commented on #375
@Starker3
Added a fix for this, but we need to wait till new Matomo version is released as this plugin is shipped with core.

[2021-11-18 15:26] mikkeschiren opened #380 "Override url for site in TagManager script"
When adding the Matomo Tag Manager script to a site, it looks like this:

[code]

But if I have UI and tracking (tagmanager and matomo.js etc.) on another URL, can I override g.src?
Like:

[code]
I can change URL by hand and add that to my site, but that is open for "human errors".

In Matomo core I can override the URL, can I also do it with the TagManager?

[2021-11-18 19:24] tsteur commented on #380
So far this would be only possible using a plugin where the plugin file does something like this:

[code]

Something like above we're using on some system and it works there. Eventually it might be nice indeed to have this configurable so it's a built-in feature.

[2021-11-18 22:04] mikkeschiren commented on #380
Great, thanks, I added this to https://plugins.matomo.org/TrackerDomain

[2021-11-18 22:04] #380 closed, assigned to nobody

[2021-12-06 00:49] Mazino888 commented on #340
Hi all. Since I am new in analytics I would like to kindly ask a question in regard to Matomo Tag Manager. I have set up some tags and triggers, which do not activate in the preview mode. It is ONLY in preview mode that I am able to see on the Visitors Log the events of my actions. However, I tried to check if I could see those events without the preview mode, but it does not work unless I place a

[2021-12-06 00:51] Mazino888 opened #385 "Events apprear in Visitors Log only with "?mtm_preview_mode= container_ID" How to activate tags & triggers without it?"
Hi all. Since I am new in analytics I would like to kindly ask a question in regard to Matomo Tag Manager. I have set up some tags and triggers, which do not activate in the preview mode. It is ONLY in preview mode that I am able to see on the Visitors Log the events of my actions. However, I tried to check if I could see those events without the preview mode, but it does not work unless I place a

[2021-12-06 02:26] Starker3 commented on #340
Hi @Mazino888
It sounds like you've not yet published the changes you've made to the "Live" version of your Matomo Container.
When using the Preview mode, you will automatically see the "Draft" version of your container.

You can find more information on publishing a container and all the changes you've made in our documentation: https://matomo.org/docs/tag-manager/#publish

[2021-12-06 02:26] Starker3 commented on #385
Hi @Mazino888
It sounds like you've not yet published the changes you've made to the "Live" version of your Matomo Container.
When using the Preview mode, you will automatically see the "Draft" version of your container.

You can find more information on publishing a container and all the changes you've made in our documentation: https://matomo.org/docs/tag-manager/#publish

[2021-12-06 03:50] Mazino888 commented on #385
Hi @Starker3. Thanks for your reply. I just published the tags & triggers however still the same stituation. After disabling the preview mode, I published the newst version. What could be the problem? Would be gratefull for some help. Thank you all :)

[2021-12-06 04:09] Mazino888 commented on #385
Recently I created 3 containers which are empty with the tracking code is installed in the CMS I use. Do I maybe have to copy-paste the tracking of the main container to the new ones? Might this be the issue?

[2021-12-06 20:46] tsteur commented on #340
@Starker3 do you have a page public where this can be reproduced maybe?

Maybe if the condition wasn't met, or can send us a zip with HTML + JS to reproduce it?

Generally, what we can potentially do, if a condition wasn't met, and we are about to post a duplicate event just like the previous event, then we could potentially skip it.

This might not always work but potentially could be a compromis

[2021-12-06 22:11] Starker3 commented on #340
@tsteur I can see if I can get an example that's public.

I was thinking again about this - maybe a better option instead of trying to filter out events that did/didn't trigger anything would be to add a search/filter function to the preview mode? Since in most cases people are looking for a specific trigger or tag that fired we could maybe have a search box style filter to help them find the tag/

[2021-12-06 22:38] tsteur commented on #340
There's definitely value in showing events where conditions weren't met. We'll see what we do there. Maybe we signal met conditions a bit better or have a additionally a checkbox or some other ideas.

[2021-12-07 00:40] Starker3 commented on #385
@Mazino888 You would need to make sure that the container you're publishing the changes to is the same container that is setup on your websites. If you're using different containers for different sites, then you'll need to make the necessary changes in each of the containers and then publish each of those containers.

I'd recommend creating a forum post to get some further help from the community:

[2021-12-07 01:18] Mazino888 commented on #385
Thank you for your help and advice. Appreciate it :)

[2021-12-08 13:35] rabbit28399 commented on #297
Hello,

I am still having this problem on Matomo 4.6.
Could you tell me how to solve this?

Thank you.

[2021-12-08 14:36] ben-dw commented on #297
@vonnyp you have to change your triggers/variables and select "FormDestination" before you are able to create a new version.

[2021-12-09 19:38] tsteur opened #388 "Fixed error when importing a container: This variable cannot be deleted as it is used in other places"
![image](https://user-images.githubusercontent.com/273120/145463528-98184565-0a8f-4966-a86d-d4f7b1bcc4e1.png)

* Create a new container.
* Go to versions
* Click on import
* Import below data

[code]

What this import represents (refs https://github.com/matomo-org/tag-manager/pull/293 ):

The above one there is a variable that references itself which is causing this issue. Technically, this should

[2021-12-10 10:42] matmicro opened #390 "FB pixel changed data type to string from INT"
Not able to save a Facebook Pixel ID in Matomo Tag Manager 4.6.1
It is always reset to value 2147483647.
This value correspond to the max possible value of INT.

Looking to the code looks that it could be solved by modifying :
Line 22 on  `plugins/TagManager/Template/Tag/FacebookPixelTag.php`

Replace :
`$this->makeSetting('pixelId', '', FieldConfig::TYPE_INT, function (FieldConfig $field) {`

By

[2021-12-13 04:40] #390 closed, assigned to AltamashShaikh

[2021-12-13 04:58] AltamashShaikh commented on #390
@matmicro
Thank you for reporting this, we have fixed this issue it will be released along with Matomo 4.7.

[2021-12-13 11:33] pgassmann commented on #332
Related to improvement: https://github.com/matomo-org/tag-manager/pull/387

[2021-12-13 19:49] tsteur commented on #388
As part of this issue for now we will adjust the error message.  We will keep this issue open once the message is adjusted. Then as a next step we would need to see if we can revert to the previously active draft as the import would then have worked partially I assume and be incomplete. Ideally on any import failure we would revert to the previous version.

[2021-12-13 20:12] matmicro commented on #212
Up, i am also interested to know if this could be integrated as weel. If yes which ETA to expect ?
Regards

[2021-12-15 08:02] froger-me commented on #300
How about triggering an event on the window when `_paq` becomes available to use for sure?
Something like:

[code]

This way, whether tag manager is being used or not, the code for users could be safely called like:

[code]

For now, as an unreliable workaround of sorts, I'm using:

[code]

[2021-12-16 03:15] #388 closed, assigned to AltamashShaikh

[2021-12-17 17:10] sgiehl opened #393 "Top menu no longer visible"
The top controls menu seems no longer to be visible with latest 4.x-dev version.
I guess this is related to the vue migration that is currently taking place.
The tag manager adds a custom control field to the menu. Maybe that doesn't work anymore.
Not sure if that needs to be fixed here on in core...

[2021-12-20 05:56] AltamashShaikh commented on #393
@sgiehl
Just FYI, this works in 4.6.1.
I did raise this with Thomas and he told it should be fixed once we merge the 4.6.1 branch back to 4.x-dev

[2021-12-20 08:53] sgiehl commented on #393
Yes. That works with 4.6.1. This one is caused by the vue migration taking place in core, which is done by @diosmosis. Therefor I had already assigned the issue to her, to ensure it will be fixed before the next release. There is already a PR to fix this....

[2021-12-20 10:34] #393 closed, assigned to diosmosis

[2021-12-21 18:02] FalkHe opened #400 "Unable to access MatamoTagManager variable in matomoTagManagerAsyncInit"
I want to access the dataLayer of MTM. The [Documentation](https://developer.matomo.org/guides/tagmanager/embedding#accessing-the-matomo-tag-manager-directly) says, the following should do the tick:

[code]

Doing the exact same thing, the console yields: "MatomoTagManager is undefined"

however, the following works but shouldn't be the right solution.
[code]

IMO this line:

https://github.com/ma

[2021-12-21 18:18] FalkHe commented on #400
I created a (my first) [Pull Request](https://github.com/matomo-org/tag-manager/pull/401)

[2022-01-11 06:00] #400 closed, assigned to nobody

[2022-01-11 09:09] FalkHe commented on #400
Thanks for the accepted PR  :)

The Documentation should be Updated, too.

Instead of
[code]
it should now be
[code]

I created a [PR](https://github.com/matomo-org/developer-documentation/pull/600) on this, too.  :)

[2022-01-21 03:40] AltamashShaikh commented on #360
@tsteur
Removing this line will result in variable name to be not encoded

Example with encoding
Name: Matomo Configuration (1)
Encoded Name in request: Matomo%20Configuration%20(1)

Example with encoding line removed
Name: Matomo Configuration (1)
Encoded Name in request: Matomo Configuration (1)

[2022-01-21 03:54] tsteur commented on #360
@AltamashShaikh could you reproduce the initial issue? @Starker3 do you remember what word that was that caused the issue?

[2022-01-21 04:46] AltamashShaikh commented on #360
Nope unable to reproduce this

[2022-01-21 17:35] utrautmann opened #411 ""En-/Disabling/ Share the preview" panel: Links are not working"
Since Matomo 4.6 is in Tag Manager a new lightblue panel after activating the debug mode.

Neither the button (1) nor the deactivation link (2) work. When I click that, nothing happens. There is also no JavaScript error.
One more request: The FAQ link (3) opens in the same tab, which is not optimal. Can you please change that, that would be great?

![grafik](https://user-images.githubusercontent.c

[2022-01-24 03:34] AltamashShaikh commented on #411
@utrautmann This issue was fixed in #383
You need to update your Matomo core to latest version or you can simply append this to your debug URL
`{YOUR_URL}?mtmPreviewMode=XVIK4E2R&mtmSetDebugFlag=1`

For the FAQ link we will try to open in new tab instead of same.

[2022-01-24 03:34] #411 closed, assigned to nobody

[2022-01-24 20:10] Starker3 commented on #360
@tsteur @AltamashShaikh I'll check if I can find the original word that caused this issue. But what I do remember about this one is that the issue only occurs for variables that were created in French before a specific version. I.e. The variable has to be created to to a specific version, Matomo needs to then be updated and then the issue can be reproduced according to the user.

[2022-01-25 04:31] AltamashShaikh commented on #411
@utrautmann The fix will go live with next release(Matomo 4.7) you can update your Matomo instance and reopen this issue if the issue still persists in Matomo 4.7 too.

[2022-01-27 07:58] tsteur opened #414 "Tag Manager preview is causing a failed HTTP request `API.getPagesComparisonsDisabledFor`"
Seeing in the console `Access to XMLHttpRequest at '/?module=API&format=json&method=API.getPagesComparisonsDisabledFor&date=' from origin 'http://...' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

The site itself is HTTP, Matomo Tag is embedded from HTTPS.

Ideally we wouldn't execute this API call in preview mode as it shouldn't b

[2022-01-27 07:58] tsteur opened #478 "Tag Manager preview is causing a failed HTTP request `API.getPagesComparisonsDisabledFor`"
Seeing in the console `Access to XMLHttpRequest at '/?module=API&format=json&method=API.getPagesComparisonsDisabledFor&date=' from origin 'http://...' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

The site itself is HTTP, Matomo Tag is embedded from HTTPS.

Ideally we wouldn't execute this API call in preview mode as it shouldn't b

[2022-01-28 08:45] #340 closed, assigned to nobody

[2022-01-28 14:27] jorgeuos opened #415 "Change color of button: Create new version (without publishing)"
Hi,

I just discovered that a client hasn't received data for a site for quite some time. It was because the tracking URL had changed, so they updated their Matomo Configuration Variable, but then pressed the "Create new version (without publishing)" instead of "Create new version and publish release". They both look the same and have the same color.

<img width="608" alt="Screenshot_2022-01-28_at

[2022-01-30 23:30] tsteur commented on #415
Makes sense @jorgeuos thanks for the suggestion. I put it in the current milestone.

[2022-02-01 03:49] #415 closed, assigned to nobody

[2022-02-01 03:50] AltamashShaikh commented on #415
Hey @jorgeuos thanks for the feedback, we have implemented the change suggested and should be available with Matomo 4.8.

[2022-02-10 13:16] Chardonneaur opened #420 "Implementing a workspace feature"
Within Google Tag Manager, the "Workspace" feature allow multiple persons to work on Google Tag Manager: https://support.google.com/tagmanager/answer/7059647?hl=en.
This concept does not exist yet within Matomo, so to say, one individual can, work at the same time as another individual on the same version and mess up the work of the other.

[2022-02-10 14:09] MatomoForumNotifications commented on #203
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/tag-manager-on-mulitple-ec2-instances/44580/2

[2022-02-11 11:05] peterbo commented on #370
The Click Element of the trigger should work in this case with the CSS selector -> a[name="specific_element_name"]

[2022-02-11 11:37] peterbo opened #421 "Trim whitespace from matomoUrl,idSite,cookieDomain and cookiePath fields"
Whitespaces are not trimmed from (text) input fields. That often results in errors, when copy/pasting information from other sources.

![trim_input_fields](https://user-images.githubusercontent.com/1018973/153584832-ac4752ab-ee35-4273-9112-ef608dbc478c.PNG)

[2022-02-11 14:33] sgiehl commented on #421
I guess we shouldn't do that automatically for all input fields, as a leading or trailing whitespace might in some cases be added on purpose. But for some fields I guess it makes sense to prevent such problems...

[2022-02-11 14:38] peterbo commented on #421
@sgiehl - Definitely a good point! However, for most input fields, the need for trailing / leading whitespaces are the rare exception and trimmed inputs are the "default". But e.g. for "chained" inputs (or things that get concatenated somewhere), this absolutely makes sense to have untrimmed inputs.

[2022-02-13 18:56] tsteur commented on #421
We could do this for few specific parameters fairly quickly. Like above the URL and idSite, cookieDomain, etc. Also for some other variables. If we're in doubt if it should be done, then we wouldn't.

[2022-02-14 06:57] AltamashShaikh commented on #337
@tsteur
I tried replicating this issue by Creating the "UserID" variable as mentioned above but we cannot create such variables now as `EntityRecursionException` is thrown and we cannot create the variable to replicate the issue.

[2022-02-15 01:50] tsteur commented on #337
@AltamashShaikh just to double check: When you tested this, can you confirm that the xdebug max nesting level was set to 250 and xdebug was enabled? The setting is `xdebug.max_nesting_level`.

[2022-02-15 01:51] tsteur commented on #337
@AltamashShaikh in case we can reproduce it, and we can't fix it with something like ` if (nesting_level < 2500)    ini_set('xdebug.max_nesting_level', 2500);` then we might push the issue back into a different sprint as it would only happen when xdebug is enabled, and when referencing a variable itself.

If we can't reproduce it, then we would push it back into the next milestone and won't work o

[2022-02-15 04:22] AltamashShaikh commented on #337
@tsteur I checked my `xdebug.max_nesting_level` values which was set as 10001, I updated it to 250 but I still get an EntityRecusion Exception.

I have very few tags and variable for this container, could that be the reason I am unable to reproduce this one ?

[2022-02-15 11:35] fabritw opened #426 "Added changes for tawktotag to work with new widgetID changes"
The embed script for the Tawk To service is no longer working:

[](https://github.com/matomo-org/tag-manager/blob/4.x-dev/Template/Tag/TawkToTag.web.js)

The embed URL now contains a second Widget ID parameter. For example:

`https://tawk.to/chat/<Property ID>/<Widget Id>`

If the "default" parameter is used, a 404 response is returned.

`s1.src = 'https://embed.tawk.to/' + tawkToId + '/default';`

[2022-02-16 01:48] tsteur commented on #337
@AltamashShaikh I had a look as well and I can reproduce the problem after setting the max nesting level to 250.

Note that the xdebug mode develop needs to be set for this to be reproduced. (see https://xdebug.org/docs/develop )

Meaning I set below ini config

[code]

and then ran the test ` ./console tests:run plugins/TagManager/tests/Integration/Context/WebContextTest.php --filter test_detects

[2022-02-17 12:12] Jaimeapo opened #433 "403 error when trying to post custom JavaScript Variable"
I'm using Matomo 4.7.1
and when I'm trying to create a new Custom JavaScript Variable it doesn´t save any changes
seems to be a rights problem but I've been able to create other kind of variables without problem.
![image](https://user-images.githubusercontent.com/2892389/154479289-6ace6e18-aa1b-4abe-a95c-1351411167a2.png)

[2022-02-17 20:15] tsteur commented on #433
@Jaimeapo this looks to me like your webserver is maybe blocking this request. Could you ask your sysadmins if there is maybe a web application firewall active that could block such a request?

[2022-02-17 21:55] atom-box opened #434 "Change maximum allowed value for Facebook Pixel ID"
User writes:
_"
I am currently facing a bug with Matomo 4.6.1
When using Matomo Tag Manager in order to use Facebook Pixel ID.

I can't save my ID, which is greater than the maximum value of an INT.
then the value saved is always reset to 2147483647

Could you please provide a fix asap ?

Trying to save this field :"
![bug1](https://user-images.githubusercontent.com/22874146/154577283-7ef10bc2-6d4

[2022-02-17 22:10] #426 closed, assigned to nobody

[2022-02-17 22:14] tsteur commented on #434
fyi @AltamashShaikh this might be a quick fix

[2022-02-17 22:40] matmicro commented on #434
It has been fix3d in 4.7
Duplicate of https://github.com/matomo-org/tag-manager/issues/390

[2022-02-17 23:03] tsteur commented on #434
Great, thanks for this @matmicro

[2022-02-17 23:03] #434 closed, assigned to nobody

[2022-02-18 03:50] #337 closed, assigned to nobody

[2022-02-18 09:46] Jaimeapo commented on #433
Thanks @tsteur , for quick answer, but why can I create other variables that doesn't use JavaScript?  are "Custom JavaScript" variables using other port to be saved?

[2022-02-20 10:20] Jaimeapo commented on #433
Yes it was behind a firewall

[2022-02-20 10:20] #433 closed, assigned to nobody

[2022-02-20 18:51] tsteur commented on #433
@Jaimeapo the firewall probably doesn't like certain words or characters in the request like `function(`

[2022-02-22 02:12] #421 closed, assigned to AltamashShaikh

[2022-02-22 23:47] peterbo opened #440 "TagManager (variable) values are not reset for tracking, even if they are set to "" or null."
In an SPA, I'm tracking a pageView with a configuration using a bunch of custom dimensions. (Virtual) PageViews are triggered by a custom event, that is pushed into the dataLayer with a bunch of variables.

The problem is, that after setting a variable, e.g. "section" to a value (e.g. "test") in the first dataLayer push, and in a later push, you set it to "" or null, the triggered pageView will ne

[2022-02-22 23:58] tsteur commented on #440
@peterbo not 100% sure if I can follow. Do I get it right that the problem is happening when using the Matomo Tag?

I'm thinking maybe `dimension.value` check in https://github.com/matomo-org/tag-manager/blob/4.x-dev/Template/Tag/MatomoTag.web.js#L220 is the issue. And we should only check if the property exists but not if the value is empty/not empty

[2022-02-23 00:05] peterbo commented on #440
@tsteur exactly!

It's an out-of-the-box Matomo Configuration containing the Custom Dimensions and an out-of-the-box Matomo PageView Tag, triggered by a certain "customPageView" event that gets pushed to the dataLayer alongside the mentioned variable. The snippet you provided is spot on. This causes the exact issue that I'm seeing!

[2022-02-23 01:03] tsteur commented on #440
👍  great, thanks. should be an easy fix

[2022-02-28 09:59] niklasternstedt commented on #304
@tsteur what is the status on this? Is there a workaround we can use instead?

[2022-02-28 19:37] tsteur commented on #304
Hi @niklasternstedt

I don't really have a workaround yet. I will post some untested snippet that could potentially do something like that. However, I don't know if there's any event in GTM that let's you know if GTM (or its datalayer) is loaded or not. Since GTM is loaded async we wouldn't know when GTM replaces the dataLayer variable with their own (if they do at all).

Generally we could invest

[2022-03-01 12:12] niklasternstedt commented on #304
@tsteur alright, thanks for the update. Why do it work with pageviews toady but not with an interaction like click on a button?

Maybe you can find something useful here: https://developers.google.com/tag-platform/tag-manager/web/datalayer

[2022-03-01 15:00] ben-dw commented on #388
Currently my Import process will not work, as I'm facing this issue. How can I tell which variable is giving me the most trouble?

[2022-03-02 13:54] ben-dw commented on #388
If a variable uses other variables, it might break. So I have tried out, which variable is responsible, removed it and re-import the container. It worked like this.

[2022-03-04 01:24] tsteur commented on #304
@niklasternstedt I'm not quite sure what you mean there?

[2022-03-08 09:38] heurteph-ei commented on #421
... Or else just trim in case of (copy)-paste... ?

[2022-03-08 09:48] AltamashShaikh commented on #421
@heurteph-ei we are trimming after you have saved, so it wont matter if its copy paste or by typing

[2022-03-08 09:57] heurteph-ei commented on #421
Was just to apply the same rule on all fields without having to check for each field if white spaces are welcomed or not (for sure you will forget some, and maybe also trim one that should not)...
If the user specifically type a white space, the user interface won't escape it without let him know.

[2022-03-09 19:00] tsteur opened #443 "Add new option to Matomo Variable to disable browser feature detection in Matomo Tag"
See https://matomo.org/faq/how-do-i-disable-browser-feature-detection-completely/

We need a new checkbox that when enabled, would call the method `disableBrowserFeatureDetection` in the Matomo Tag.

This will help people stay privacy compliant with TTDSG if they want/need to.

[2022-03-10 16:50] ben-dw opened #444 "Variable type shows variable name instead of type"
Seems to be a small bug, that the variable **type** is now the same like the variable **name**.
![Bildschirmfoto 2022-03-10 um 17 48 11](https://user-images.githubusercontent.com/43407231/157713366-07c002c3-1eeb-476e-bd33-e33203f4bc20.png)

Matomo Version 4.8

[2022-03-10 18:24] sgiehl commented on #444
@diosmosis might that be a Vue regression?

[2022-03-10 21:40] Starker3 opened #446 "Changes to Custom Title or Custom URL on existing Pageview Tag doesn't allow saving the changes"
With the recent update to 4.8.0 it seems that making changes to a "Pageview" tag's Custom Title or Custom URL options is not detected as a change that would allow you to save the tag. For example a tag before making any changes:
![image](https://user-images.githubusercontent.com/20905821/157759133-dc53b558-3026-41a9-b5b6-901d95e5a69e.png)

And after making changes to both the Custom Title and the

[2022-03-10 21:45] sgiehl commented on #446
@diosmosis might be vue related as well.

[2022-03-11 02:07] Starker3 opened #448 "Preview mode blocking footer/lower page elements"
I'm not sure if this issue was something that started recently, I never noticed it specifically before.
But when preview mode is enabled and the preview mode overlay is showing on the page, it blocks elements in the footer/lower page area.

For example a page without the preview mode:
![image](https://user-images.githubusercontent.com/20905821/157787982-a2a6b01b-da2f-4530-b451-850f9d3350df.png)

A

[2022-03-11 02:18] tsteur commented on #117
This one has been fixed a while back 👍

[2022-03-11 02:18] #117 closed

[2022-03-11 02:18] tsteur commented on #448
@Starker3 is this a duplicate of https://github.com/matomo-org/tag-manager/issues/271 ?

[2022-03-11 02:28] Starker3 commented on #448
Looks like it is (Although that one looks like a feature request rather than a bug report).

I have actually created a temporary fix for anyone that has this issue to implement it within the Tag Manager itself using a Trigger with a filter and a Custom HTML tag to add a margin to the footer element (It won't work in all cases, but it worked for the one users website that I tested it with and my ow

[2022-03-11 02:32] tsteur commented on #448
Great 👍  Nice workaround. I'll close it for now as a duplicate of https://github.com/matomo-org/tag-manager/issues/271 let me know if it's not the same.

[2022-03-11 02:32] #448 closed, assigned to nobody

[2022-03-11 02:33] Starker3 commented on #448
If we do implement #271 then this shouldn't be an issue any more since people can change the position. But It might be easier to fix the z index issue rather than create a feature such as that one since it'll be probably a lot more work.

[2022-03-11 03:13] tsteur commented on #448
👍 @Starker3 I'm pretty sure this has always been the case re the overlaying etc. Not sure though how a z-index could fix it?

[2022-03-11 03:22] Starker3 commented on #448
I don't know why I thought this was z-index related. That was my mistake.

[2022-03-11 03:29] #444 closed, assigned to nobody

[2022-03-11 06:40] #446 closed, assigned to nobody

[2022-03-11 08:03] ben-dw opened #450 "Fix bug preventing "0" value for trigger condition"
Good morning,
I'd like to use "0" or "1" as conditions but I get an error no matter which type I choose (equals, equals exactly, regex):
![Bildschirmfoto 2022-03-11 um 09 00 23](https://user-images.githubusercontent.com/43407231/157826746-372e6bc1-7898-443c-9fa7-9505d14b5d85.png)

[2022-03-11 08:09] ben-dw opened #451 "Tags - Update button disabled after changing settings"
Hi folks,
the update button is still disabled if I change settings within a Tag (eg. Event Category name). It is only enabled if I change the tag name or use a different trigger.

[2022-03-11 08:24] sgiehl commented on #451
that seems to be kind of a duplicate of #446

[2022-03-11 08:28] ben-dw commented on #451
Yes!

[2022-03-11 08:28] #451 closed, assigned to nobody

[2022-03-11 10:14] sgiehl commented on #450
Hi @ben-dw. Thanks for reporting this issue. I'll prepare a PR to fix that.

[2022-03-11 15:37] #450 closed, assigned to sgiehl

[2022-03-12 18:41] Kixell-NicolasJardillier commented on #245
To trigger event it works, but to trigger pageView it is still does not work :
    <script>
        var _mtm = window._mtm = window._mtm || [];
        _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='https://metimur.kixell.fr/js/container_PCe6LpEC.js'

[2022-03-13 22:01] Starker3 opened #456 "Selecting Start/End Date in Tag doesn't allow for changes to be saved"
There are actually two different issues here:

1. When you select a Start and/or End date for a tag using the UI  dropdown, it doesn't allow you to save the changes. If you edit any other options in the tag such as name, fire delay, priority, etc. it does allow you to save the changes. But in that case, only the Time is saved without the actual date.
2. When you do have the option to save the chan