[2022-03-14 03:08] AltamashShaikh commented on #456
@diosmosis is this related to vue changes ?

[2022-03-14 03:32] diosmosis commented on #456
Yes, looking into this now.

[2022-03-14 05:42] #456 closed, assigned to nobody

[2022-03-14 09:38] kslstn opened #458 "'Element Visibility' trigger requires 'Observe DOM changes' to detect presence of 'hidden' attribute"
I noticed that the removal of the `hidden` attribute from an element wasn't picked up by my 'Element Visibility' trigger. Trying to debug by setup, I think I found that the issue seems to be at Tag Manager.

**Expected behavior**: given an element matching the selection method and having a `hidden` HTML attribute, the 'Element Visibility' trigger should by applied when the `hidden` attribute is re

[2022-03-15 06:10] AltamashShaikh commented on #458
Hello @kslstn

I tried reproducing the same

- Added new DOM Element `<div id="test-hidden" hidden>1234555</div>` on the test website.
- Created 1 New Tag and trigger(Element Visibility Trigger).

Noticed following things
- Set the `hidden` attribute to `false` --> This will not work since its a boolean and `hidden` does not have a value, to make it work you have you can try removing the `hidden`

[2022-03-15 08:03] kslstn commented on #458
Ah thanks, that works!

A few comments on this though:
1. When a node is added with the `hidden` attribute, the trigger is applied (and again when the attribute is removed).
2. The UI says "Note: This might slow down the website if there are lot of DOM changes". As 'a lot' is unspecific (2 per second? 3000 per second?) I was perhaps overly cautious not enabling it.
3. If removing the `hidden` attr

[2022-03-15 08:49] AltamashShaikh commented on #458
@kslstn `Observe DOM changes` is required only when you are adding the element dynamically.

1. The ElementVisibility trigger is executed when the specified element is made visible
2.  Its for sites which has too many dynamic changes like on scroll new Ads are added to the DOM with new element, you don' need to worry if there are very few DOM changes happening in your website
3. Can you share an e

[2022-03-15 10:52] kslstn commented on #458
Thanks good to know about 2)!

Regarding 3), what I consider inconsistent behavior is that while 'Observe DOM changes' is not enabled:
1. Remove the attribute `style="display: none;"`: the trigger picks it up
2. Remove the attribute `hidden`: the trigger ignores it

I tested this simply by editing the DOM of one of my pages in the console.

With the help in the answers above, I understand that thi

[2022-03-15 15:17] AltamashShaikh commented on #458
@kslstn The trigger is firing for me in both the cases.
Just to make sure your edited element is in your visible viewport correct ?

Also please share your Matomo version

[2022-03-16 08:32] ivan-toriya commented on #80
Hi @tsteur,

Our team really looking forward to that feature. Do you have any updates?

[2022-03-16 08:32] kslstn commented on #458
@AltamashShaikh you're right! I'm sorry. I now realize in trying to debug the issue, I _added_ the test element to the DOM and of course it's to be expected that that requires 'Observe DOM changes' enabled.

[2022-03-16 08:32] #458 closed, assigned to nobody

[2022-03-16 20:29] tsteur commented on #80
Hi @nirakon sorry I don't have any update on that one yet.

[2022-03-16 23:21] #443 closed, assigned to nobody

[2022-03-17 17:16] peterbo opened #459 "Tag Priority (and possibly other settings) not being saved anymore"
The last update -> Matomo 4.8.0 introduced a regression:

Reproduce with the following:
- Open Tag Configuration
- change Tag Priority (e.g. from 999 to 950)
- save the setting
- Reload the Tag configuration - The Tag priority is still 999

[2022-03-17 18:50] tsteur commented on #459
@diosmosis @justinvelluppillai is this maybe a regression similar to https://github.com/matomo-org/tag-manager/issues/456 ?

[2022-03-17 19:01] diosmosis commented on #459
Created a fix in #460

[2022-03-17 23:54] #459 closed, assigned to nobody

[2022-03-18 00:42] tsteur commented on #304
Here's a post partially related to this issue: https://hume.dev/articles/forward-datalayer-events/ (not tested)

[2022-03-30 21:25] patricktobias86 opened #466 "The output is difference from input (Custom HTML tag)"
I created a tag using the Custom HTML tag, I entered this code as you read it:

[code]

The output is different, the two scripts have change order and that means the script wont work:

[code]

[2022-03-31 04:41] AltamashShaikh commented on #466
@patrickdanielsson I tried replicating the issue, can you confirm if the position you have selected is "Body Start" ?
Also can you try changing the position to "Body End" and check if it works ?

[2022-04-04 23:32] AltamashShaikh commented on #271
can anyone check #470 here?
will this solution be more useful or the solution discussed in comments to move to top will be more helpful?

[2022-04-07 03:32] Starker3 commented on #271
@AltamashShaikh #470 looks like a better solution to this problem. One thing I noticed though is that the preview window shows up at the bottom of the page and not at the bottom of the viewport when it first renders. This might confuse some people who are used to it showing at the bottom of the viewport always.
For example:
![image](https://user-images.githubusercontent.com/20905821/162114416-6bc0

[2022-04-07 16:45] chopsol opened #471 "Set disableBrowserFeatureDetection with Tag Manager"
We need an option to set disableBrowserFeatureDetection introduced in 4.8.0 with Tag Manager. (https://matomo.org/faq/how-to/how-do-i-disable-browser-feature-detection-completely/)
I tried different ways via custom HTML, but it wasn't successful. Sometimes it works, sometimes it don't work, so there will be two different client_ids for one visitor having some pageview here and some actions there.

[2022-04-07 16:50] AltamashShaikh commented on #471
@chopsol This is already implemented in #449  and would go live with Matomo 4.9

[2022-04-07 16:50] #471 closed, assigned to nobody

[2022-04-08 06:19] AltamashShaikh commented on #466
@patrickdanielsson we added a fix for the ordering issue via #467
This however throws error while executing this line `<script> var rellax = new Rellax('.rellax'); </script>`

Simple workaround is to update the above code to below code
[code]

Keeping this issue open till we find an actual fix for `<script> var rellax = new Rellax('.rellax'); </script>`

[2022-04-08 06:21] AltamashShaikh commented on #466
@patrickdanielsson
Note: This changes would go live with Matomo 4.10 which is scheduled to be released by early next month i.e May 2022

[2022-04-10 20:16] tsteur commented on #466
@AltamashShaikh could you maybe leave a bit more information about the remaining error and what you know about etc? Just so someone else wouldn't start from scratch and it'll also help prioritising the issue.

If we're not planning to fix this issue anytime soon, it may be worth documenting the issue and the workaround quickly as it's unexpected and CustomHTML tag is probably one of the most used

[2022-04-11 01:55] AltamashShaikh commented on #466
For anyone working in future
The original issue states that the output of CustomHTML was diiferent

Example
[code]

Output on page
[code]

On further checking it was found that the issue exist when the **Position** selected is **BodyStart**.

After applying #467 the Output on page
[code]

However, It was noticed that there exist one more **error** of **JavaScript** `Uncaught ReferenceError: Rellax

[2022-04-11 18:40] BobOtike opened #472 "Tag priority is not updated but reset"
When creating a new tag, the priority value is not persisted anymore. No matter which value I use, it always shows 999 after I click _Update_ and the page reloads.

When editing an existing tag, the priority value is reset to 999 after a click on _Update_.

I checked in the console and found that there is no value for the `priority`  in the query parameters. This is what an example looks like:

[c

[2022-04-11 20:01] justinvelluppillai commented on #472
Thanks for reporting @BobOtike. @AltamashShaikh is this possibly a regression?

[2022-04-11 23:23] AltamashShaikh commented on #472
@BobOtike This is a duplicate of #459 and it was fixed via #460
The fix would be released with Matomo 4.9.

[2022-04-11 23:23] #472 closed, assigned to nobody

[2022-04-11 23:26] AltamashShaikh commented on #472
@BobOtike Link on How to check your Matomo version - https://matomo.org/faq/how-to/how-do-i-know-which-version-of-matomo-i-am-using/#matomocloud

[2022-04-11 23:26] AltamashShaikh commented on #472
currently Matomo cloud is on 4.8.0

[2022-04-12 05:18] AltamashShaikh commented on #271
@Starker3 I removed the previous solution of drag and drop and updated with a simple link "Stick to Top/Stick to Bottom"

[2022-04-19 23:20] #271 closed, assigned to nobody

[2022-04-26 13:34] peterbo commented on #440
Hey everyone, sorry, we'll have to reopen this issue, since the fix introduced some unexpected / unwanted behaviour that I didn't think about before.

When e.g. setting Custom Dimensions from TagManager Variables (e.g. URL Parameter) for a visit scope custom Dimension (e.g. a click ID, Sub-ID or something), the dimension gets set on a page where the parameter is present, but gets reset (to empty)

[2022-04-27 03:40] AltamashShaikh commented on #440
@peterbo This is ought to happen with the current change.
Currently we check if the object has value(not checking if its empty or null) and set the CustomDimension, earlier we were checking if the value is not empty and then only setting the customDimension.

What we can do here is go back to old solution to set only for non empty values and also add an exception to set if value is set as `null`

[2022-04-28 13:15] jonalange commented on #146
This would really be a good feature. This keeps the tags clean without the need of multiple tags basically doing the same thing just with different names.

[2022-04-28 14:24] MatomoForumNotifications commented on #146
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/use-trigger-name-as-eventname-in-tag/45743/2

[2022-05-03 23:48] peterbo commented on #440
Hey @AltamashShaikh - thank you for that proposal! I'll test it in the next few days, if there is any unexpected behaviour with this!

[2022-05-04 10:24] santoshyadavdev commented on #414
Same issue

Access to XMLHttpRequest at 'https://matomo.xxx.com/?module=API&format=json&method=API.getPagesComparisonsDisabledFor&date=' from origin 'https://xxx.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2022-05-04 10:24] santoshyadavdev commented on #478
Same issue

Access to XMLHttpRequest at 'https://matomo.xxx.com/?module=API&format=json&method=API.getPagesComparisonsDisabledFor&date=' from origin 'https://xxx.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2022-05-04 10:30] santoshyadavdev opened #476 "400 Bad request after adding tag manager"
We are getting 400 bad request after adding tag manager, I can see the below error in console.

https://matomo.xxx.com/matomo.php?action_name=action_name&idsite=&rec=1&r=705306&h=12&m=18&s=3&url=https%3A%2F%2Fxxx.com%2Fapp%2Fsearch%3FmtmPreviewMode%3D82VmGOa2&_id=4c6fa0f44972ac20&_idn=1&_refts=1651659484&_ref=%2Fapp%2Fsearch&send_image=0&pdf=1&qt=0&realp=0&wma=0&fla=0&java=0&ag=0&cookie=1&res=1728

[2022-05-05 03:12] AltamashShaikh commented on #476
@santoshyadavdev can you check if you are setting the `Matomo idSite` field correctly ?
Also how do you define your idsite in Matomo Configuration variable via some another variable or is it hardcoded ?

[2022-05-05 03:43] AltamashShaikh commented on #414
@tsteur Isn't this a core issue ?
I see the request was initiated by `jquery.min.js`

[2022-05-05 03:43] AltamashShaikh commented on #478
@tsteur Isn't this a core issue ?
I see the request was initiated by `jquery.min.js`

[2022-05-05 06:04] tsteur commented on #414
I suppose it could be fixed in core quite easily 👍

[2022-05-05 06:04] tsteur commented on #478
I suppose it could be fixed in core quite easily 👍

[2022-05-05 07:29] sgiehl commented on #478
@AltamashShaikh Yes. That one is triggered by core, but it can be disabled using an event, which needs to be added to TagManager.
See e.g. https://github.com/matomo-org/matomo/blob/cd541083f351a2712e58fa83a2c54861a92c120e/plugins/MultiSites/MultiSites.php#L18-L31

[2022-05-05 08:12] santoshyadavdev commented on #476
We are using single container approach, where we have configured multiple siteid and injecting the container code directly in the app, using this approach we don't need to pass the siteid, and this happens on only first call, post this I can see success call and even everything is tracked properly with the correct instance and tags configured work.

[2022-05-06 02:48] AltamashShaikh commented on #476
@santoshyadavdev Is there any URL/site on which we can check this behaviour ?

[2022-05-06 06:26] #478 closed, assigned to nobody

[2022-05-06 07:35] AltamashShaikh commented on #478
@santoshyadavdev The fix would go live with Matomo 4.11 which is scheduled to be released by early next month

[2022-05-09 09:21] santoshyadavdev commented on #476
Hi @AltamashShaikh,

Unfortunately this is an internal site and not available publicly, once it it available I can share.

[2022-05-11 13:40] Chardonneaur opened #480 "Keep the tags/triggers/events of the old versions and to be able to revert them"
When we delete a trigger, tag... in MTM they are deleted for ever even if we are going back to a previous version.
The idea would be to keep them as it should be the expected behavior.

[2022-05-12 16:35] micvm opened #481 ""Observe DOM changes" in Visibility Trigger causes JS error on load"
I am using matomo 4.9.1 and I wonder if I am doing something wrong or if there is a bug in the tag manager. If I check the option "Observe DOM Changes" in a  Visibility trigger, regardless of which element I want to observe (i.e. whether the element exists or not), I get the following error in the container-js file upon loading the page:

[code]
The corresponding line in the code of the container-

[2022-05-13 03:33] AltamashShaikh commented on #481
@micvm what's your browser version?

[2022-05-13 06:46] micvm commented on #481
Happens with Firefox 99 (64-bit) as well as with Chromium (Version 101.0.4951.64 (Official Build) snap (64-bit)), both on Ubuntu. I am not a JS expert but when the JS debugger stops because of the exception the index variable has the value `"each"` which looks somehow weird because if I set a breakpoint within the loop before the exception `index` has as expected the values 0,1,2,... as it should.

[2022-05-13 06:57] AltamashShaikh commented on #481
@micvm possible to share any URL where I can check this issue ?

[2022-05-13 07:25] micvm commented on #481
I've sent you the URL of the corresponding page via email.

[2022-05-13 09:58] AltamashShaikh commented on #481
@micvm
I see `76e6a1758.combined.js.h-1905639948.pack` has some each function which is adding an extra element with `each` as index in the mutation list which is a function and hence we cannot parse the node.
We can add a check for array at most

[2022-05-13 10:02] AltamashShaikh commented on #481
@micvm can you replace Template/Trigger/ElementVisibilityTrigger.web.js with this [file](https://github.com/matomo-org/tag-manager/blob/0375f3b641ed937cbe360f610e407c7df45758d4/Template/Trigger/ElementVisibilityTrigger.web.js)

After replacing the file, you need to run `./console tagmanager:regenerate-released-containers` and check if the error persists or not

[2022-05-13 11:05] micvm commented on #481
Hi there! Awesome, the changed version works perfectly. I wonder where precisely this "each" is added... If you have a clue, very appreciated as it looks like something should not happen :) Thanks for the fix!!

[2022-05-13 12:24] peterbo opened #483 "Sometimes, Variables do not get resolved in the container - {{Variable name}} is parsed directly"
In some containers, even after re-publishing a containers, Variables do not get resolved and the (old) placeholder name {{Variable}} is included in the container output.

In this case, the container was imported via JSON import and the Variable is a matomoConfig which is correctly referenced in the tags. Changing the matomoConfig variable name, changes also the referenced matomoConfig, that is sel

[2022-05-16 00:54] tsteur opened #484 "Use correct async init method to detect when tracker is loaded"
I just noticed [here](https://github.com/matomo-org/tag-manager/blob/4.x-dev/Template/Tag/MatomoTag.web.js#L32-L35) it's using `piwikPluginAsyncInit` when this was actually removed in Matomo 4. It should use `matomoPluginAsyncInit` instead.

I believe this would be a problem when the Matomo JS tracker is loaded separately and not bundled with the Tag Manager which is a feature.

In that case, Mato

[2022-05-16 01:30] #481 closed, assigned to nobody

[2022-05-16 02:20] AltamashShaikh commented on #481
@micvm The fix was merged, but it will be released with Matomo 4.11 which will take atleast a month to release, since Matomo 4.10 was released today if you update it the current fix would go away and you might need to reapply the patch after upgrade.

[2022-05-16 03:35] #484 closed, assigned to nobody

[2022-05-16 05:08] AltamashShaikh commented on #483
@peterbo Can you help with more detailed steps to reproduce this ?

[2022-05-16 06:09] bshankarpandey commented on #217
The Matomo Tag Manager is not showing the debug or preview mode under websites page. I have placed the code in site (https://www.grunenthalhealth-campus.de/de-de 1)” but not able to see the Matomo tag manager’s preview mode under websites page.

[2022-05-16 06:16] AltamashShaikh commented on #217
@bshankarpandey There is a JS error in your Matomo Configuration  can you resolve that first ?
The error us due to custom JS function

![Screenshot from 2022-05-16 11-44-10](https://user-images.githubusercontent.com/14902277/168530393-c128b2bf-c620-4b0b-8175-e254f983fa1f.png)
![Screenshot from 2022-05-16 11-44-00](https://user-images.githubusercontent.com/14902277/168530397-46ef9e34-1291-4219-bf26

[2022-05-16 06:40] bshankarpandey commented on #217
There is no such custom javascript in matomo

[2022-05-16 06:47] micvm commented on #481
No problem. Thanks for letting me know and the quick fix!

[2022-05-16 06:50] AltamashShaikh commented on #217
@bshankarpandey Please check you variables created under Matomo Tag Manager which will have a custom JS function
Also make sure you are selecting the correct container ID when viewing Matomo variables

[2022-05-16 06:54] bshankarpandey commented on #217
You are I could see custom variable there.
function() {
  var status = {{video_percent}} ;
  switch (status) {
    case 0;
      return 'Start';
    case 25:
      return '25%';
   case 50:
      return '50%';
case 75:
      return '75%';
case 100:
      return 'complete';

  }
}

[2022-05-16 07:05] bshankarpandey commented on #217
S

I have corrected and selected right containerId still facing issue. Not able to open debugger mode

[2022-05-16 07:11] AltamashShaikh commented on #217
you need to fix the `var status = {{video_percent}} ;` you can hardcode it for now and later fix it, once done please publish the container again.

[2022-05-16 07:58] bshankarpandey commented on #217
Can you check now if any error is still there, bcoz still not working

[2022-05-16 08:01] AltamashShaikh commented on #217
@bshankarpandey I can see the debug view
![Screenshot from 2022-05-16 13-29-56](https://user-images.githubusercontent.com/14902277/168546382-d71a0f47-7a5e-4e3d-9595-d94c38d20a36.png)

Please refer this [FAQ](https://matomo.org/faq/tag-manager/preview-debug-a-tag-manager-container/) to enable debug view

[2022-05-16 08:15] bshankarpandey commented on #217
Yes, thanks for your support 👍

[2022-05-23 00:25] Starker3 opened #487 "TypeError: Converting circular structure to JSON in Angluar apps in Preview Mode"
Same type of issue as #185
However, this is happening on the most recent version of Matomo (4.10.0).
This issue seems to only be happening on sites that use Angular (PHP sites for example do not have the issue using the same container).

![image](https://user-images.githubusercontent.com/20905821/169722889-abf4d06c-079b-4881-897b-c3697140626b.png)

The user was able to reproduce the error by first

[2022-05-23 12:57] Vneb commented on #369
Hi, anything new about this feature ? I need to listen every events then filter them later with my cookie consent tool... And it doesn't work.
Should I let the event name empty ?

[2022-05-24 19:46] Starker3 commented on #487
User downgraded to 4.9 and the same issue is still present.

[2022-05-25 03:42] AltamashShaikh commented on #487
@Starker3 I tried replicating the issue by creating a test HTML, but unable to reproduce it
[code]

[2022-05-25 21:41] Starker3 commented on #487
@AltamashShaikh I'll ask the user if they have any public facing sites that we can try test this on.

[2022-05-26 09:19] Chardonneaur commented on #104
@scysys it seems that this regex could work: ^(?![\s\S]) -  https://www.youtube.com/watch?v=Idq2iLf3cTU

[2022-05-27 11:38] jr-ewing opened #488 "{⁣{UserAgent}} in Tag Manager is empty"
The Variable {⁣{UserAgent}} in Tag Manager is empty

## Expected Behavior
I want to integrate the pre defined User Agent as a custom Dimension.
I expected that i get values like "Mozilla/5.0 (X11; Linux x86_64; rv:100.0) Gecko/20100101 Firefox/100.0"

## Current Behavior
I added {⁣{UserAgent}}{{RandomNumber}} in the custom dimension fields. The fields i using are in the matomo configuration variab

[2022-05-30 03:10] AltamashShaikh commented on #488
@jr-ewing I tried replicatio your issue and I can see the data being logged correctly
![Screenshot from 2022-05-30 08-38-51](https://user-images.githubusercontent.com/14902277/170910169-0feaff39-f6e7-4c3e-81a3-6e9bd0b0df02.png)

Same is being displayed in reports
![Screenshot from 2022-05-30 08-39-42](https://user-images.githubusercontent.com/14902277/170910233-1bdc6c68-47d1-4639-bc73-970bfd22f159

[2022-05-30 03:23] AltamashShaikh commented on #488
@jr-ewing Which browser and Matomo version are you using ?

[2022-06-01 11:16] bshankarpandey commented on #217
How to call EVENT Tracking for (Category, Action, Label, Name, Value)  Using custom HTML  : _mtm.push method
             var _mtm = _mtm || [];     and  _mtm.push({ });

simillar to below method which working but not supporting properly in matomo

_paq.push(['trackEvent', category, action, name, value, {dimension1: 'DimensionValue'}]);

[2022-06-01 11:20] heurteph-ei commented on #217
@bshankarpandey , GitHub is dedicated to bug resolutions or feature requests... Not for support
Please ask at: https://forum.matomo.org/

[2022-06-02 03:00] AltamashShaikh commented on #487
He everyone this is a regression and I was able to identify the cause, will raise a PR for same to fix it

[2022-06-08 07:21] #487 closed, assigned to nobody

[2022-06-09 03:47] Starker3 opened #490 "Add Click Value as variable"
There currently isn't a way to get the value of a page element as a variable in the Tag Manager. For elements that don't have a text value this means that it's not possible to dynamically track the value of those elements in the Tag Manager.

This could be useful for things such as Checkboxes, Radio buttons, etc. that only have a value without any text set in the element directly and usually have

[2022-06-10 11:54] heurteph-ei commented on #490
Or better (more flexible): define the attribute in which reading the value to track.
Eg:
[code]

[2022-06-14 06:51] mattoii commented on #487
@AltamashShaikh hi friend. Is Bug have been comleted? I dont see changing(

О Matomo 4.10.1, http://joxi.ru/nAyw9pbH9z94ym , http://joxi.ru/J2bG3xDTq6qlBA

[2022-06-14 07:47] AltamashShaikh commented on #487
Hey @mattoii It will be fixed with Matomo 4.11
[4.11-rc1](https://github.com/matomo-org/matomo/releases/tag/4.11.0-rc1) is released already

[2022-06-14 11:53] ulcuber opened #491 "TagManager.url.parseUrl int port"
Why is there not `string` like in try block:
https://github.com/matomo-org/tag-manager/blob/40fe81926161077383ef5260797b2fb994aee769/javascripts/tagmanager.js#L517

[2022-06-14 12:16] ulcuber opened #492 "Type-hinting in templates"
Maybe create types
[code]

to use like this:
[code]

[2022-06-14 12:54] sgiehl commented on #491
guess there is no specific reason. Feel free to create PR to adjust that

[2022-06-15 02:32] #491 closed, assigned to nobody

[2022-06-15 06:35] mattoii commented on #487
Hey @AltamashShaikh. We installed Matomo 4/11, but preview whatever with error. What i do wrong?

![image](https://user-images.githubusercontent.com/106577702/173758642-3a8ffccb-ca3a-4dd5-b89b-7f25de3d5d22.png)

![image](https://user-images.githubusercontent.com/106577702/173758050-de87c1af-50b4-45be-a43a-1726e29c2b6e.png)

[2022-06-15 06:46] AltamashShaikh commented on #487
@mattoii Can you check if the following file(plugins/TagManager/vue/src/Debugging/Debugging.vue) has identical content on your instance?
File for comparison
`https://github.com/matomo-org/tag-manager/blob/4.x-dev/vue/src/Debugging/Debugging.vue`

[2022-06-15 11:32] Chardonneaur opened #495 "Show info icon documentation links when defining triggers"
Hi there,
When defining a trigger, there is no information icon dealing with what the variables are about.
Though, when we look at the variable panel, there are those information icons.
Would it possible to make those information icons available as well when defining a trigger.
Typical use case: click button variable definition.

[2022-06-15 13:05] mattoii commented on #487
@AltamashShaikh yes, what else can i check?

![image](https://user-images.githubusercontent.com/106577702/173833723-a78320dc-88e2-425b-9d4d-1b3a257e602a.png)

[2022-06-15 13:19] AltamashShaikh commented on #487
@mattoii is there any way I can test it?

[2022-06-16 01:58] AltamashShaikh commented on #487
@mattoii The fix is with `4.11` we completed the fix a bit late due to which its not available in `4.11-rc1` branch.
If you want to test it you might have to update the TagManager plugin to latest code and regenerate the container.

[2022-06-16 11:38] ulcuber opened #496 "Status column too big"
Variables: https://github.com/matomo-org/tag-manager/blob/44d38e81d696509c6c071afcf1d3f3e0a2e223b4/Dao/VariablesDao.php#L29
Triggers: https://github.com/matomo-org/tag-manager/blob/44d38e81d696509c6c071afcf1d3f3e0a2e223b4/Dao/TriggersDao.php#L29
Tags: https://github.com/matomo-org/tag-manager/blob/44d38e81d696509c6c071afcf1d3f3e0a2e223b4/Dao/TagsDao.php#L30

`TINYINT` for **status** should be suff

[2022-06-16 13:47] Chardonneaur opened #497 "Add automatically an annotation when a new version of the container is published"
When publishing a new container, its code can influence the data collected within Matomo, for example the bounce rate, it could be interesting to automatically send annotations to Matomo about it.

[2022-06-17 16:01] ulcuber opened #498 "Translation TagManager.CustomHtmlTagHelp"
Said about tag but then mentioned trigger:

    The Custom HTML tag allows you to embed any tag which is not supported yet. The possibilities with this **trigger** are pretty much unlimited.

[2022-06-20 07:45] sgiehl commented on #497
Hi @Chardonneaur ,
thanks for this valuable suggestion. Guess it makes sense to make it possible to have such events automatically added as annotation.

[2022-06-20 08:01] sgiehl commented on #498
Hi @ulcuber.
Thanks for the report. I'm not deep enough into this one to confirm if the description is correct or not. But if it isn't correct, feel free to create a pull request to fix it.
The string can be found here: https://github.com/matomo-org/tag-manager/blob/4.x-dev/lang/en.json#L137

[2022-06-20 08:10] ulcuber commented on #498
@sgiehl OK. I have started translating through weblate and come to this inaccuracy. I was not sure if it should be changed via source or through weblate: https://hosted.weblate.org/translate/matomo/plugin-tagmanager/en/?checksum=5445c10490cdd163&q=CustomHtmlTagHelp&sort_by=-priority%2Cposition
Since English is a main language I was not able to edit that on weblate

[2022-06-20 08:12] sgiehl commented on #498
English needs to be changed in source.

[2022-06-21 02:10] #498 closed, assigned to nobody

[2022-06-22 11:06] mattoii commented on #487
@AltamashShaikh we already installed last version TM
![image](https://user-images.githubusercontent.com/106577702/175013718-6570eca9-325b-462c-8780-1a93bb3d6f35.png)

and we created new tag and installed it.
![image](https://user-images.githubusercontent.com/106577702/175014034-53a3b455-0d94-4bce-a276-2e99862f022c.png)

and debug still crashed
![image](https://user-images.githubusercontent.com/106

[2022-06-23 01:48] AltamashShaikh commented on #487
@mattoii you have upgraded to `4.11-rc1` which doesn't have this fix, btw how do you update Matomo ?
If via git you can do following things.
1. `cd plugins/TagManager/;`
2. `git checkout 4.x-dev; git pull;`
3. `cd ../../;`
4. `./console tagmanager:regenerate-released-containers`

[2022-06-23 09:33] mattoii commented on #487
@AltamashShaikh hi, we updated it through web interface
![image](https://user-images.githubusercontent.com/106577702/175267240-fd6aed06-1eeb-437a-a899-67b704b103ef.png)

Is this enough or should I do something else?

[2022-06-23 09:59] AltamashShaikh commented on #487
Hey @mattoii
Its 4.11-rc1 the fix is in 4.11 and 4.11 should release next week and you can update using the above method

[2022-06-23 12:12] Chardonneaur opened #503 "Add support for `data-matomo-mask` attribute on events"
Currently the data-matomo-mask works for the heatmap and session recording but it does not work when it comes to events.
The typical use case is the following one, if you set the tracking of your events on any clicks happening on your website, then, a user may click on a personal data (for example his login while logged), as a result, the {{click text}} information may be sent to Matomo.
It would

[2022-06-23 12:44] sgiehl commented on #503
Hi @Chardonneaur
Thanks for creating this suggestion. I'm actually not sure if that is an issue for core. The core features only allow to send events using a method, that allows passing custom data. The normal tracking won't fetch any data from certain elements and thus doesn't know where it might come from.
But I would assume this could possibly be something that might be considered for tag manag

[2022-06-23 13:55] ulcuber commented on #304
That one uses `Proxy` which will not work in old browsers: https://caniuse.com/?search=Proxy

Matomo `setMethodWrapIfNeeded` util almost the same as example above but not suitable for this since it can wrap itself and applies old and new method in the same context

[2022-06-25 05:06] Chardonneaur commented on #503
Thank you @sgiehl, yes, you got it right, I was also hesitating between putting it here or put it on the tag manager repository.
Can you move it to Tag Manager or should I create another issue on the tag manager repository?

[2022-06-29 03:54] AltamashShaikh commented on #503
@Chardonneaur Thanks for creating the issue, our product team will review and add this to planned issues accordingly.
Meanwhile you can use a Custom JS variable to mask this, something like this
![Screenshot from 2022-06-29 09-18-34](https://user-images.githubusercontent.com/14902277/176347790-838949c6-1489-4683-9eb6-7a0e54ad5280.png)

[2022-06-29 07:15] Chardonneaur commented on #503
@AltamashShaikh whao extra, thank you.

[2022-06-29 07:16] heurteph-ei commented on #503
@AltamashShaikh, it could be a good idea, to put this sample of code in the Matomo FAQ during the time of implementation of this enhancement...

[2022-06-29 07:19] AltamashShaikh commented on #503
@heurteph-ei Sure

For others above code if in case anyone needs it
[code]

[2022-06-29 09:17] tsteur commented on #503
fyi from a privacy / compliance point of view our variables should support this directly though. Because as a website owner you want to ensure compliance. But you can never know what variables developers or marketers use and they could track personal data at any time thus even if there's above workaround, you can't guarantee that people use this.

So the only way for a website owner to guarantee t

[2022-06-30 12:22] ulcuber opened #504 "Fixes UI issue by setting container selector max width"
There is space for full width selector

## Expected Behavior

![image](https://user-images.githubusercontent.com/32728904/176672050-9157d16a-d088-43ce-be0f-3e28dba269fe.png)

## Current Behavior

`max-width: 250px`

![image](https://user-images.githubusercontent.com/32728904/176671451-825a96e7-b6a7-4a2d-af59-62d0a8a02121.png)

## Possible Solution

- Remove common `max-width`
- Add `max-width` for

[2022-07-05 05:59] #504 closed, assigned to ulcuber

[2022-07-07 20:45] atom-box opened #509 "Enhancement: Server-Side Tagging with MTM"
In July, one user asked if they could,
_"use Matomo Tag Manager for the implementation of Tags in server side."_

In May, one user asked does Matomo have,
_"Server-Side Tag Manager (similar to GTM Server Side, but obviously, sticking with Matomo, and staying away from all ____ products; so anything else outside of ____ cloud too). This is for analytics, but not for tag management. Do you have anyt

[2022-07-12 10:22] ulcuber commented on #212
Maybe just replace variables with some Matomo variables resolver code

[2022-07-13 07:22] jr-ewing commented on #488
Firefox 102.0.1 (64-bit) on Linux Mint
Matomo 4.10.1

Sorry - seem to be fixed ....

[2022-07-13 07:33] #488 closed, assigned to nobody

[2022-07-13 23:38] Starker3 opened #511 "Improve Start and end date for Tags handling of timezone"
We had a user that was having issues when configuring a tag with a specific start date and end date.

While investigating this issue, I found that the Start and End time for a Tag that is stored in UTC will be treated as that time in any timezone and not be converted to that visitors timezone.

For example, if we create a Tag such as the following:
![Thursday-14-07-2022 11-24-15](https://user-imag

[2022-07-14 07:12] AltamashShaikh commented on #511
@Starker3 I have checked earlier versions too before VUE migration and its not a regression, we convert and store in UTC and post that we check if the visitor current time is in between the converted start and end datetime

@tsteur Just confirming this is how it is supposed to be right ?

[2022-07-14 07:23] Starker3 commented on #511
@AltamashShaikh
I think this behavior has been the same since it was implemented. But the way it works currently would basically mean the tag would fire for some visitors some of the time.

[2022-07-15 02:37] AltamashShaikh commented on #511
@Starker3 Yes, its the same may be we should convert the visitors local time to UTC to do the comparison and it will be consistent for everyone, as currently the tag will fire/not fire depending upon visitors timezone and it will give a wrong impression on data.

[2022-07-18 13:08] ulcuber opened #512 "FieldVariableTemplate in lookup table"
## Summary

GTM provides whole var for lookup table which allows variables substitution:
![image](https://user-images.githubusercontent.com/32728904/179516939-dc2f079a-fb6e-4d2e-b141-cd2690faf5f5.png)

Maybe also add this ability to Matomo lookup table:
![image](https://user-images.githubusercontent.com/32728904/179517110-a7abb1de-c10a-4ae4-b105-beaf88d82af0.png)

It could be used to create simila

[2022-07-18 15:52] sgiehl commented on #512
@ulcuber Thanks for the suggestion. I'll move this to the tag manager repo.

[2022-07-19 09:59] ChrisjuhNL opened #513 "Preview modus not opening"
Preview mode is not opening on our website (https://www.avg-programma.nl/?mtmPreviewMode=5C94FOGl)

The following error message is displayed:
"Uncaught TypeError: Cannot read properties of null (reading 'addEventListener')  at (index):942:58"

But this is referring to non matomo code.
<img width="1039" alt="Schermafbeelding 2022-07-19 om 11 59 03" src="https://user-images.githubusercontent.com/815

[2022-07-19 10:07] AltamashShaikh commented on #513
@ChrisjuhNL
https://www.avg-programma.nl/?mtmPreviewMode=5C94FOGl&mtmSetDebugFlag=1 should be the url

[2022-07-19 10:10] AltamashShaikh commented on #513
You should ideally load the url to debug via this input
![F1BCA00A-8972-4FB7-ADBD-EF68DCA91003](https://user-images.githubusercontent.com/14902277/179726273-cc1cd006-2b25-4c65-8f8d-aa3dc24bb970.jpeg)

[2022-07-19 10:12] AltamashShaikh commented on #513
@ChrisjuhNL I will close this issue for now

[2022-07-19 10:12] #513 closed, assigned to nobody

[2022-07-20 08:33] ulcuber commented on #212
I have tried to extend `CustomJsFunctionVariable` like:
[code]
Currently I am thinking how to extend `$entity` `joinedVariable` with needed parameters

[2022-07-22 14:21] damzallagmythic opened #517 "Preview Tool not working when looking at more than first event"
Hey Matomo team,

I've been looking to integrate more tags in the tag manager, but I am unable to click on other elements when in the debug mode.  Is this something that you all have seen and have a solution for?

I've attached a screenshare of how the debugger looks when going through this flow.  I'm also unable to go back to the original screen without refreshing the page which wipes all actions

[2022-07-25 03:24] AltamashShaikh commented on #517
@damzallagmythic Can you check this issue - https://github.com/matomo-org/tag-manager/issues/487?
We have fixed this and should be released with Matomo 4.11

[2022-07-25 03:24] #517 closed, assigned to nobody

[2022-07-25 05:53] tsteur commented on #1
@AltamashShaikh this one is done by now maybe?

[2022-07-25 05:54] AltamashShaikh commented on #1
Yes its merged, closing the issue

[2022-07-25 05:54] #1 closed

[2022-07-25 05:55] tsteur commented on #483
ping @peterbo

[2022-07-25 06:02] tsteur commented on #162
@znerol looking at the code I believe this one was fixed a while ago. I'll be closing this. Let me know through a comment if this issue still persists and I'll be happy to reopen it.

[2022-07-25 06:02] #162 closed

[2022-07-25 06:24] peterbo commented on #483
Hey guys, sorry for not reporting back. I tested importing the container on a newer version (4.9.0) and the instance in question was also updated in the meantime. All variables / configuration variables have now been resolved correctly (export -> import). So whatever went wrong, it seems to be fixed already.

[2022-07-25 06:24] #483 closed, assigned to nobody

[2022-07-25 14:11] damzallagmythic commented on #517
Hey @AltamashShaikh I don't actually have Matomo installed on my machine at all since we are trying out Matomo cloud right now.  I've been doing everything through the tools on the website, but we did integrate the code snippet directly into the head of our website for it to work.  I don't see a way to update the tag manager being used or our account or something like that when looking at it right

[2022-07-26 02:24] AltamashShaikh commented on #517
Hey @damzallagmythic I understand your concern, you might have to wait for 4.11 to release and hopefully it will be released soon.

[2022-07-26 05:10] #503 closed, assigned to snake14

[2022-07-26 14:23] damzallagmythic commented on #517
Sounds good thanks @AltamashShaikh .  Do you all have a rough timeline on when that will be released?

[2022-07-27 02:27] AltamashShaikh commented on #517
@damzallagmythic 4.11 should be released by early next week and a week after that may be will plan a upgrade on cloud

[2022-07-27 09:41] ulcuber opened #523 "Import is too slow"
- [x] https://github.com/matomo-org/tag-manager/pull/520
- [ ] https://github.com/matomo-org/tag-manager/pull/521
- [ ] https://github.com/matomo-org/tag-manager/pull/522
- [ ] `deleteContainer*` (Template) methods every time check template references causing loop in loop but EVERY template will be deleted so checking references makes no sense
- [ ] `getContainer*` models methods causes `enrich*`

[2022-07-27 10:56] MatomoForumNotifications commented on #212
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/no-preview-mode-syntaxerror-in-console/46782/2

[2022-07-27 17:33] atom-box commented on #509
In June a user asked:

"Most of the infrastructures I maintain are currently shifting towards server side tag management (to mitigate effects of GDPR, iOS script blocking). I am currently unaware of the Matomo efforts in this field."

[2022-07-28 02:28] AltamashShaikh commented on #509
@atom-box I have added for prioritisation and the product team will take a call on this.

[2022-07-28 03:38] #314 closed, assigned to snake14

[2022-07-28 03:42] AltamashShaikh commented on #212
@ulcuber Ill try to check in couple of days if I can help here in someway

[2022-07-28 03:50] snake14 commented on #314
Hi @heurteph-ei , thank you again for submitting this issue. The fix should be included as part of the release of Matomo version 4.12.

[2022-08-01 05:16] #326 closed, assigned to snake14

[2022-08-01 05:33] snake14 commented on #326
@KarthikRaja1388 Thank you for taking the time to create this issue. When Matomo version 4.12 is released, the fix will be included. It will make it so that scripts that are part of customHtml variables will automatically include the nonce attribute set on the main script element on the page. So, if you enable the Matomo JavaScript using a nonce, it should share that nonce with inline scripts that

[2022-08-01 20:44] snake14 commented on #495
Hi @Chardonneaur Thank you for creating this issue. I think that I've made the change that you requested, but want to confirm. Does the following look like what you were hoping for?
![image](https://user-images.githubusercontent.com/11394099/182243489-9d720e75-2ea5-475e-bf49-5af1711c32cd.png)

[2022-08-02 17:39] mattb123123 opened #529 "Old tag is still being used after version update"
I am having a big problem with matomo and it keeps happening.

This is the specific thing that happened:
I put the Bing ads global tag in the container. It was there for a few version updates. Then I deleted the tag and saved that version. Then I go to my site and see that the global tag is still there. This happened with another tag before.
I think the problem is that there is something wrong wit

[2022-08-02 17:41] AltamashShaikh commented on #529
Hey @mattb123123 did you publish your container?

[2022-08-02 18:20] mattb123123 commented on #529
yes. The explanation of the problem is in full in my post.

[2022-08-03 03:00] AltamashShaikh commented on #529
@mattb123123 I tried replicating the issue and it seems to work as expected for me.
I created 1 `Bing Ads UET Tag` and I was able to see the tag, later I deleted the `Bing Ads UET Tag`  and checked the same page again after a refresh and I can see that the tag is not present.

Is this behaviour consistent for all of your tags or its just `Bing Ads UET Tag` ?

And can you confirm that you are not l

[2022-08-03 07:54] Chardonneaur commented on #495
@snake14 you are exceptionnal this is exactly what I wanted thank you

[2022-08-04 05:41] #495 closed, assigned to snake14

[2022-08-04 20:55] Starker3 commented on #511
@AltamashShaikh Do we know yet if this issue is going to be worked on?

[2022-08-04 21:15] justinvelluppillai commented on #511
@Starker3 We haven't yet prioritised it to be done. If you have other users waiting for this it would be good to let us know in this issue also

[2022-08-04 21:40] Starker3 commented on #511
@justinvelluppillai We currently just have the one user that reported this issue waiting on a fix.
But with what the issue is, it likely impacts every user that makes use of this feature in the tag manager. But with how it is currently, they might not realise it until they look more closely at the data and investigate why some actions are tracked before & after the dates & times set in the tag man

[2022-08-04 22:21] snake14 commented on #495
@Chardonneaur thank you. The changes should be released as part of Matomo version 4.12.

[2022-08-05 16:53] damzallagmythic commented on #517
Hey @AltamashShaikh is there any update on when this will be released on cloud?

[2022-08-08 02:38] snake14 opened #534 "Use translations instead of direct hardcoding"
There are quite a few files that use hard coded strings instead of using translations. We need to audit the entire plugin and convert as many hard coded strings as possible to use translations. For example, the majority of the files in the [tag template directory](https://github.com/matomo-org/tag-manager/tree/4.x-dev/Template/Tag) use hard coded strings.

[2022-08-08 02:54] AltamashShaikh commented on #517
Hey @damzallagmythic We just released 4.11 and would wait for a week to check if it has any regressions before planning a release on cloud, hopefully if we don't have any issues by this week we can have it on cloud by next week may be

[2022-08-11 16:57] dsp76 commented on #294
This is really a problem, as I would like to extend a bit:

Situation "Google Ads" Tag and Event:

Two Triggers:

1. page view, when opted into "marketing"
2. page view, when opted into "marketing" and conversion happened

Two Tags:
1. Google Ads general tag triggered by trigger 1
2. Google Ads event code for conversion triggered by trigger 2 and depending on tag 1

Whatever happened, the 2nd tag

[2022-08-11 22:21] atom-box opened #537 "Enhancement: Make a browser extension preview Tag Tool to audit all tags (similar to the GTM feature)"
Google GTM has a browser exttension, shown here:

 A user has suggested an enhanced tag preview tool for MTM. They want to _"be able to see all the different tags and their values there? As an example, if I need to check that the Google Conversion Tracking code is there on a thank you page with the right conversion ID or if I have to make sure that a purchase event from Facebook is triggered...Can

[2022-08-12 02:52] #249 closed, assigned to snake14

[2022-08-12 03:03] snake14 commented on #249
@peterbo Thank you for taking the time to create this issue and suggest an enhancement. Tags, Triggers, and Variables should have description fields in Matomo version 4.12 forward.

[2022-08-12 03:11] AltamashShaikh commented on #537
@atom-box We can may be change this
![Screenshot from 2022-08-12 08-36-34](https://user-images.githubusercontent.com/14902277/184277706-02f94ea3-e29d-4097-aa7f-07d072fe4eb9.png)

to this.
![Screenshot from 2022-08-12 08-39-40](https://user-images.githubusercontent.com/14902277/184277941-964b6c9c-5046-4a6c-aa80-2c993015aa67.png)

I have added for prioritisation so that our product teams can check a

[2022-08-12 03:12] AltamashShaikh commented on #537
we won't audit the tags here, just update the tag name with ID and Event to make it more readable

[2022-08-12 11:17] santoshyadavdev commented on #476
closing this as we figured it out.

[2022-08-12 11:17] #476 closed, assigned to nobody

[2022-08-15 21:09] dsp76 commented on #294
alternatively a triggered tag may force another tag to be called before (if it wasn't yet). this would solve the issue as well.

[2022-08-18 06:20] #334 closed, assigned to snake14

[2022-08-18 22:56] snake14 commented on #334
@heurteph-ei Thank you for taking the time to create an enhancement request. The applicable changes should be released as part of Matomo version 4.12.

[2022-08-19 02:13] AltamashShaikh opened #539 "Custom variables updated by configuring fields in tags, do not seem to update with new value"
Check the below video explaining the issue. I have checked that its not a VUE regression and similar bug existed in older versions of Angular too.

Also the tags do get updated in the DB, its the issue in displaying the updated values in the modal which opens.

https://user-images.githubusercontent.com/14902277/185527319-602c4ff9-8a20-466f-98d3-cb5437ad7dbd.mp4

[2022-08-22 03:42] #511 closed, assigned to AltamashShaikh

[2022-08-22 03:43] AltamashShaikh commented on #511
@Starker3 Should be fixed with release of Matomo 4.12, we will convert the user datetime to UTC during visit and check if its in the specified period defined and fire accordingly.

[2022-08-22 03:46] Starker3 commented on #511
Thanks @AltamashShaikh !

[2022-08-24 05:24] #539 closed, assigned to snake14

[2022-08-26 13:16] Chardonneaur opened #541 "Add a link to the documentation about the datalayer when the container tracking code is shown"
Hi guys,
It would be great to add a link to the datalayer documentation when the container tracking code is displayed.
Without it people may think that the concept of a datalayer does not exist in Matomo Tag Manager.

[2022-08-28 21:20] snake14 commented on #541
Hi @Chardonneaur ,
Thank you for taking the time to create this issue about a potential improvement. I just want to make sure that I'm understanding your recommendation. Are you thinking that it would be helpful to add a link to the datalayer documentation in this popup that displays the Tag Manager tracking code?
![image](https://user-images.githubusercontent.com/11394099/187094947-36b37af2-f9a4-

[2022-08-29 06:27] Chardonneaur commented on #541
Yes, exactly, nothing fancy, just a short explanation, saying that in addition to the container, one can add a datalayer in order to make data available for the tag manager to collect even more data.

[2022-08-30 20:48] snake14 commented on #541
@Chardonneaur Thank you for the clarification. Since it was a quick change, I went ahead and made it. It should be available in Matomo 4.12 forward.

[2022-08-30 20:48] #541 closed, assigned to snake14

[2022-08-31 16:01] Chardonneaur commented on #541
thank you

[2022-09-02 14:02] N4rfAs commented on #480
I share this idea @Chardonneaur !
I found a workaround by exporting a version and importing it to find again variables, tags and triggers but it could be more friendly. Like a button "replace draft with this version" for example.

[2022-09-02 18:20] christiankaindl commented on #245
I am facing the same issue in my Next.js application. I really can't find out how to trigger a page view manually, even after trying a bunch of things:

Following [the docs](https://developer.matomo.org/guides/spa-tracking#using-matomo-tag-manager-to-track-single-page-application) I initially used the History Change trigger in addition to the Pageview trigger, but that resulted in lots of wrong pa

[2022-09-03 07:25] multikoop opened #543 "Handle Click Events correctly in shadowDOM (web components)"
Hi!

I am facing a scenario in which ClickEvents are not handled as expected.
See also: https://forum.matomo.org/t/event-tracking-inside-webcomponents-shadowdom/47205

After analyzing the scenario I can confirm that when a click occurs on an element (link e.g.) inside the shadowDOM the pushed event occurs on the shadowHost element and not - at least how I would expect from tracking perspective ;)

[2022-09-04 22:00] snake14 commented on #543
Hi @multikoop . Thank you for taking the time to raise this issue. I see that you created a pull request and, at a  glance, it makes sense. I'll make sure that I can reproduce the issue and test your pull request.

[2022-09-05 07:19] AltamashShaikh commented on #245
@christiankaindl `window._mtm.push({'event': 'client-side-navigation'});` works for me

![Screenshot from 2022-09-05 12-48-19](https://user-images.githubusercontent.com/14902277/188390955-a3450832-9e7d-4c23-bd20-25422882eea5.png)
![Screenshot from 2022-09-05 12-48-42](https://user-images.githubusercontent.com/14902277/188390949-25ec2cd1-547f-484d-8976-1bd506021cf4.png)

[2022-09-05 11:05] christiankaindl commented on #245
Thanks for the response @AltamashShaikh! You're right, it does show up in the network tab, just not immediately (switching tabs triggers it sometimes?).

Then it is a different problem: the network request is being done, but I still don't see it registering in my dashboard. In the video below you can see that after some time a network request is registered, but nothing shows up in the dashboard ev

[2022-09-05 19:58] multikoop commented on #543
@snake14 thanks. I am glad this fix/enhancement can be generally useful and the right analytics handling in web apps where web components are used. At least it is what I am experiencing at a current customer usecase/project.

Short term workaround I am thinking about is maybe to create custom Tag Manager plugin including the needed fix. But somehow that approach does not feel right in the long ter

[2022-09-05 21:04] snake14 commented on #543
@multikoop Yeah. In the meantime, you could probably get what you need from the shadow DOM using a Custom JavaScript tag. Long term, I think that your fix will work well as long as it doesn't break backwards compatibility with older browsers.

[2022-09-06 02:29] AltamashShaikh commented on #245
@christiankaindl Thats a Heartbeat ping request.
I can see `window._mtm.push({ event: 'mtm.PageView' })` is not working for you..can you try with `window._mtm.push({'event': 'client-side-navigation'});` for now? I will try to find some time to debug the cause meanwhile

[2022-09-06 07:40] #543 closed, assigned to nobody

[2022-09-06 08:05] christiankaindl commented on #245
@AltamashShaikh Sadly I don't see it working even with my custom event (see video below), otherwise I would gladly use that as a workaround! Again, the initial visit _is_ recorded, but nothing after that shows up in the dashboard (this time in Chrome):

https://user-images.githubusercontent.com/15364860/188578594-ed72db7d-bdb4-43fa-a766-23909976b381.mov

And this is how my Tag is configured:

<img

[2022-09-06 13:23] Laul0 commented on #245
Hi @christiankaindl,

Did you check your event log page? Most of the time, this behavior is linked to a partial loading page. In other words, your page does not refresh completely. If this is the case, you must trigger the event when the content of the page is loaded and not when the page is refreshed.

[2022-09-06 14:12] christiankaindl commented on #245
@Laul0 you're right! After a hard-refresh (`Cmd`+`Shift`+`R`), the custom event started working! omg, thank you! I guess it is true, there are only two hard things in computer science. And one of them is caching... 😅 I think the browser simply used a cached version of the Matomo script.

That makes only `mtm.PageView` not working, but I'm just glad there is a workaround 🙏

[2022-09-07 01:46] Starker3 opened #545 "[Feature request] Add API method that returns specific version number"
Currently the only way to get a specific version ID for a container version is to request the entire list of a containers version using `TagManager.getContainerVersions`

It could be useful for some users that use the API to import and export container version to have an additional method that only returns the specific Version ID when the Version Name is passed in as a variable. Eg. just passing C

[2022-09-14 01:03] Starker3 opened #546 "Add support for element inheritence"
Currently when configuring triggers that use something such as a
`Click Classes contains` or `Click Classes equals` it only works if the element has the class directly applied to it. So for example if we had the following:
[code]
Using a `Click Classes contains myClass` would not work for any clicks on the `<p>` element as it doesn't have the class directly set. This is kind-of supported when usin

[2022-09-19 07:47] acsama commented on #326
Hello @snake14  when is the 4.12 release scheduled?  This feature is going to ease some pains we've having with csp right now in our project.

[2022-09-19 07:57] AltamashShaikh commented on #326
@acsama We do not have an exact ETA, but we just released [4.12-rc1](https://github.com/matomo-org/matomo/releases/tag/4.12.0-rc1) and hopefully if it doesn't have any regressions or issue reported by users, we will soon release `Matomo-4.12`

[2022-09-23 14:30] MatomoForumNotifications commented on #334
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/using-tag-manager-to-track-goals-with-revenue/46060/3

[2022-09-23 14:52] MatomoForumNotifications commented on #326
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/script-in-custom-html-tag-does-not-support-nonce-attribut/47495/2

[2022-09-23 22:22] atom-box commented on #138
UPDATE: I moved this comment to here https://github.com/matomo-org/tag-manager/issues/23

Possibly related, since it is for organizing your existing tags:

_"It would be interesting to have the possibility to make some tags inactive, to be able to send them to a "trash" and then recover them. For example, I need to do a test on several tags without deleting them, but I can't (unless I haven't seen

[2022-09-26 10:04] heurteph-ei commented on #138
@atom-box
I think it is possible (for inactive tags):
![image](https://user-images.githubusercontent.com/79993552/192249757-7b509872-58c7-4e7e-b0fc-9fa440eb3946.png)

[2022-09-29 08:42] MatomoForumNotifications commented on #546
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/really-how-to-track-a-click-on-an-element/47578/2

[2022-09-30 21:20] onairmarc opened #549 "Events in Tag Manager Do Not Appear In Behavior/Events"
Event's in Tag Manager are being logged to the Visits Log but are not appearing in Events report under Behavior (Behavior/Events).
Archiving runs every 15 minutes and has been run multiple times with no success getting events to appear under behavior.
Screenshots attached for reference.

### Visitors Log
![Matomo_Visitors_Log](https://user-images.githubusercontent.com/50760632/193357508-3d74a3d5-7

[2022-10-02 21:00] snake14 commented on #549
Hi @mbeinder . Thank you for taking the time to create this issue. Where you have events setup in Matomo Tag Manager and they're getting recorded, I would expect them to display in the Events page as well. I just confirmed in my local environment that they show up in Behaviour > Events when they get recorded, but I don't have it archiving in batches. I found a similar sounding issue on the [Matomo

[2022-10-02 21:11] onairmarc commented on #549
Thank you for your reply. After several hours, events started showing up under Behavior/Events. I am running the latest version on the stable release branch. I'm not in front of my computer right now but I can get specific information later on to help identify the root cause.

[2022-10-03 12:30] heurteph-ei commented on #549
@mbeinder I think this is the archiving period.
As archiving consumes a lot of time, it is done a few times a day, then there is some delay between the event (in log viewer) and its presence in reports...

[2022-10-03 15:39] onairmarc commented on #549
Currently Running
Matomo Core: 4.11.0
Matomo Tag Manager: Couldn't find a version number.

Archiving runs every 15 minutes but doesn't take a super long time . It's normally complete by the time the next one starts.

[2022-10-03 20:21] snake14 commented on #549
@mbeinder How high do you have your `todayArchiveTimetoLive` value set to? Is it set less than 15 minutes? If not, that could be preventing today's reports from archiving as frequently as you might expect. You can find more details in the [FAQ about setting up archiving](https://matomo.org/faq/on-premise/how-to-set-up-auto-archiving-of-your-reports/#important-tips-for-medium-to-high-traffic-websit

[2022-10-03 21:17] onairmarc commented on #549
@snake14 it's set to 900. So right at 15 minutes.

[2022-10-04 01:28] snake14 commented on #549
Hi @mbeinder . I chatted with one of our support techs and he said that it sounds like the system is working as designed and recommended that you take a look at some of the [global configs](https://github.com/matomo-org/matomo/blob/4.x-dev/config/global.ini.php#L353-L370), especially the date range one, since you were trying to view the Events using a date range. You might also try querying the [M

[2022-10-04 01:28] #549 closed, assigned to nobody

[2022-10-04 14:10] onairmarc commented on #549
@snake14  Thanks for taking the time to look at this! 😄

[2022-10-07 09:24] lneuville opened #552 "Rename Custom JS Variable error + doesn't propagate new name in the other container objects"
Hi guys,

I've experienced a rather painful issue that I've reproduced, so I beleive it's the right place to share it... It may be a bug, or at minima a wording issue in displayed messages ;

Here are the steps :

- context : Matomo Cloud

1 - I have a Custom JS variable that I use in all my Triggers.

![trigger-initial-state-with-variable-name1](https://user-images.githubusercontent.com/46717153/

[2022-10-07 09:32] lneuville commented on #512
+1 for this suggestion ! that would be great !

[2022-10-07 15:57] mbossaton opened #553 "‘Add new’ button on tag & trigger editor pages"
Currently you have to go back to the listing page to add a new tag/trigger.
And this button is at the bottom of the page.
**Would it be possible to add the button at the top of the listing page and directly from an editing page to facilitate the creation of new tags/triggers?**
It would be a very nice UX improvement! Thanks,

[2022-10-09 20:28] snake14 commented on #552
Hi @lneuville . Thank you for taking the time to create this issue. Which version of Matomo are you currently using? Matomo version 4.12 was recently released and this sounds very similar to [an issue that I fixed as part of that release](https://github.com/matomo-org/tag-manager/issues/314). If possible, please upgrade to Matomo version 4.12 and let me know if the issue persists. I'm going to mar

[2022-10-09 20:35] snake14 commented on #553
Hi @mbossaton . Thank you for taking the time to create this issue to suggest a potential improvement. I'm marking this issue to be prioritised by our product team. They will determine how your recommendation fits into our design and current development road map.

[2022-10-10 07:17] lneuville commented on #552
Hi @snake14 . Thanks for you're feedback.
Sorry I wasn't mentioned clearly enough on my post ; It was on Matomo Cloud. So I don't really know which version number is currently running on the cloud service.

[2022-10-10 07:52] AltamashShaikh commented on #552
@lneuville You can check this [FAQ](https://matomo.org/faq/how-to/how-do-i-know-which-version-of-matomo-i-am-using/#matomocloud) to find out which version you are on cloud.

[2022-10-10 09:37] lneuville commented on #552
Ok, It says 4.12.
So I as I reproduced it with the steps described in my first post, I would say the issue is still here.

[2022-10-10 20:22] snake14 commented on #552
@lneuville How long ago did you validate your issue? I only ask because version 4.12 was released mid-week last week and I think it usually takes a few days for cloud to be upgraded. It's possible you tested the issue just before cloud was upgraded. Could you please quickly verify one more time that the issue still exists?

[2022-10-12 21:06] snake14 commented on #552
@lneuville I didn't hear back. Does that mean that things are working correctly now? I tried to reproduce the issue in my local environment, but the variable was correctly renamed in the referencing trigger when I renamed the variable. I'm going to go ahead and close this issue again. Please let me know if you're still experiencing the issue.

[2022-10-13 08:25] lneuville commented on #552
Hi  @snake14
Just tried again. And reproduced.
I also tried another type of Variable (Datalayer variable) and experienced the same issue.

[2022-10-13 20:05] mattmary opened #554 "Class "Piwik\Plugins\ActivityLog\Activity\Activity" not found"
Hello,

I try to generate the documentation for the developer website.

The generator parses the content of the files.
When parsing the tag manager project, it cannot resolve this class:

https://github.com/matomo-org/tag-manager/blob/485dc7c15f761d44e4ae35127502f4ea5791b3f5/Activity/BaseActivity.php#L13
![Screenshot from 2022-10-14 09-01-53](https://user-images.githubusercontent.com/86216084/1956

[2022-10-13 20:07] mattmary commented on #554
The tag manager submodule fetched in the https://github.com/matomo-org/matomo 4.x branch is
`Submodule path 'plugins/TagManager': checked out '2edec7e4ba8b1ae3b7046d0e937436baaa494887'`

[2022-10-13 20:40] snake14 commented on #552
@lneuville That is so strange. I apologise for this continued issue. Are there any errors logged around the time that you try to update the variable name?

Just to be absolutely sure, could you please check what version of Matomo is listed in your instance? You can do that, while logged into Matomo, by going to Administration (Gear icon) > Diagnostic > System Check ({your matomo base url}`/index.p

[2022-10-13 21:12] snake14 commented on #554
@mattmary Have you tried installing the ActivityLog plugin? I thought that plugin was installed by default, but I could be wrong.

[2022-10-13 23:56] mattmary commented on #554
Hi @snake14

If it is embedded in the Matomo tag manager source code, the AcitivtyLog plugin should be defined as a submodule on the Matomo branch. This is not the case for now. Did you forget it?

But for sure, I can test it with the plugin installed and tell you if it solves my problem if you tell me where I can find this plugin sources? (Can't find it so far in our repositories).

[2022-10-14 00:23] snake14 commented on #554
@mattmary That's right. I forgot that the ActivityLog plugin is part of our private repositories in the InnoCraft organisation. I didn't add that reference to the TagManager plugin though. It looks like that reference in the BaseActivity class has been there for quite some time, so I'm not sure why it's suddenly being an issue.

[2022-10-14 00:30] mattmary commented on #554
If you don't want to add a submodule for this plugin, and you consider that the code is fine, then I would have to update my documentation generation process to load this plugin on its own.
Closing this issue, then, I'll find a solution. Thanks, @snake14

[2022-10-14 00:30] #554 closed, assigned to nobody

[2022-10-14 00:35] snake14 commented on #554
@mattmary Sorry about that. I don't think it can be added as a submodule since it's one of our private repositories. I messaged you in Slack about how to install the plugin in your dev environment.

[2022-10-14 10:49] lneuville commented on #552
Hi @snake14
As I was saying before. I'm on the Cloud Version - 4.12
And I don't see a "System Check" option in the Diagnostic section...
![image](https://user-images.githubusercontent.com/46717153/195829503-6b8750cb-2170-468f-a5aa-683c83a8a460.png)

[2022-10-16 20:12] snake14 commented on #552
@lneuville Sorry about that. I'm not very familiar with the cloud configuration yet. Are you seeing any errors in your log when you try to rename a variable and the issue occurs? Since I can't reproduce the issue, I need more information. Any recommendations @AltamashShaikh ?

[2022-10-17 14:05] atom-box commented on #23
_A user comment:_

"It would be interesting to have the possibility to make some tags inactive, to be able to send them to a "trash" and then recover them. For example, I need to do a test on several tags without deleting them, but I can't (unless I haven't seen the feature). Otherwise MTM is cool! Good job."
Source: On-Premise

[2022-10-17 14:08] atom-box commented on #23
Maybe this is the current workaround for this issue:
![image](https://user-images.githubusercontent.com/22874146/196198964-83167567-c17b-4f52-a49a-ffa560ed9d58.png)

[2022-10-17 14:09] atom-box commented on #138
_User comment:_

"Organisational capabilities of tags, triggers and variables. Managing 40+ tag for just one product becomes a bit hard. Good naming convention solves this but some sort of way but being able to categorise on for example folders, tags (autofilled by event category) could be useful."

[2022-10-17 22:25] Starker3 opened #555 ""Create New ..." buttons at bottom of page can be frustrating to use"
For MTM users that have a large number of tags/triggers/variables they have to constantly scroll to the bottom of the list in order to click the "Create New" button. Doing this once or twice is okay, but for users that are often adding tags/triggers/variables it can be quite a frustrating experience.

User can use the "Dashboard" to have easier access to the Create New button, but this isn't pract

[2022-10-17 23:40] snake14 commented on #555
Hi @Starker3 . Thank you for your suggestion. This seems pretty similar to #553 , so I'm going to link the issues and close this one.

[2022-10-17 23:40] #555 closed, assigned to nobody

[2022-10-20 02:57] jmumby opened #557 "Edit tag button produces console error with Matomo 4.12.1"
If you click the Edit Tag button within the tag manager a console error is created and no tags are shown.

![image](https://user-images.githubusercontent.com/4339071/196845795-d1bafea6-1682-4ad7-a80c-cf57be1827a5.png)

![image](https://user-images.githubusercontent.com/4339071/196845468-62873d9c-d2e9-4b57-9010-41d21d22bbff.png)

![image](https://user-images.githubusercontent.com/4339071/196845670-

[2022-10-20 03:05] AltamashShaikh commented on #557
@jmumby Do you mean the issue happens for lower Matomo version or for Matomo 4.12.1?

[2022-10-20 03:07] jmumby commented on #557
Only for 4.12.1, this does not happen for 4.12.0. I do not have earlier versions to test.

[2022-10-20 03:11] Starker3 commented on #557
FYI I get the same issue on 4.12.1, but the error message in the console is slightly different (Possibly just the way FF shows the error):
![image](https://user-images.githubusercontent.com/20905821/196847494-a058fadf-e059-4e8e-b976-3b33b49651a9.png)

[2022-10-20 08:46] svenlewerentz commented on #557
Same here. Can't view and edit tags, triggers and variables since update to 4.12.1.
Preconfigured variables are still shown, but error is displayed in console here as well.

[2022-10-20 08:52] AltamashShaikh commented on #557
Hey everyone we need to release Matomo `4.12.2` to fix this.
To fix it currently you can try this below steps
1. Check the version via this query `SELECT * FROM matomo_option where option_name='version_tagmanager'`
2. Update the `option_value` to `4.11.0` if the above query returns `4.12.0` or `4.12.1`
3. Manually run the migration by executing `./console core:update`, this should create the missi

[2022-10-21 01:19] justinvelluppillai commented on #557
FYI Matomo 4.12.2 has been released

[2022-10-21 02:06] AltamashShaikh commented on #557
Hey everyone, Matomo 4.12.2 was released today and should fix the issue.
Closing the issue for now, please let us know here if you are still facing issues after upgrade

[2022-10-21 02:06] #557 closed, assigned to nobody

[2022-10-21 07:48] svenlewerentz commented on #557
Hi, nothing changed for me. I updated to Matomo 4.12.2 and got the same errors. Tried in different browsers.

[2022-10-21 10:36] AltamashShaikh commented on #557
@svenlewerentz Did you run `./console core:update` after the upgrade?

[2022-10-21 10:46] svenlewerentz commented on #557
No, I used the browser based updater. I will try later and will let you know.

[2022-10-21 11:16] svenlewerentz commented on #557
If I run console core:update the response is "Everything is up to date".

Or should I try the steps you posted earlier?

[2022-10-21 11:17] AltamashShaikh commented on #557
@svenlewerentz yes can you update version and try again ?

[2022-10-21 11:25] svenlewerentz commented on #557
@AltamashShaikh
It works when I performed the steps you mentioned.
![image](https://user-images.githubusercontent.com/351596/197185602-bc5decc2-8b22-401f-b464-cec98dd30cea.png)
Now tags, triggers and custom variables are listed again.

[2022-10-21 12:02] AltamashShaikh commented on #557
Okay👍🏻

[2022-10-23 06:26] LaurentCapelli commented on #557
Thank @svenlewerentz , Your fix works great 👍🏻  for me after updating to 4.12.2

[2022-10-25 02:51] elabuwa commented on #545
@snake14 , to have a quick look

[2022-10-26 13:38] MatomoForumNotifications commented on #557
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/tags-and-triggers-are-no-longer-displayed/47984/3

[2022-10-27 19:40] tsteur opened #559 "Resolve translation key is not loaded error on "Versions" page"
<img width="1377" alt="image" src="https://user-images.githubusercontent.com/273120/198382807-f11583fc-9af2-40fd-8c93-49d1894c49b7.png">

It says

[2022-10-27 20:43] #559 closed, assigned to snake14

[2022-10-27 20:46] snake14 commented on #559
Thank you @tsteur . I have merged that fix to be included in the next release.

[2022-10-31 01:00] mattab commented on #546
Thanks @Starker3 - sounds like this could be an impactful improvement!

-> i have a request, could you please share a list of steps to reproduce this issue?

this will make it easy for the team to reproduce the issue and estimate how much effort it will be to address.

[2022-10-31 01:06] Starker3 commented on #546
To reproduce you can use something such as a div with an anchor element in a page where you have a Tag Manager container:
[code]

Then create a `All Links Click Trigger` with `Click Classes Contain` or `Click Class Equals` `myClass`

Then use Preview mode and click on the "URL Link" element and you'll see in the Matomo Preview window that Matomo doesn't detect any Classes for the clicked anchor el

[2022-11-01 09:19] tomper00 opened #562 "Allow setting a custom cookie timeout"
Right now its hard to set a custom cookie timeout when you are using the TagManager since the setVisitorCookieTimeout() needs to be executed before the trackPageView() and I also tried to set it before the Matomo Tagmanager executes a pageview like this:

var _paq = window._paq = window._paq || [];
_paq.push(['setVisitorCookieTimeout', '1800']);

The solution is to add another setting the the Mato

[2022-11-02 20:46] Starker3 opened #565 "Error regenerating MTM Container during update to 4.12.x"
When updating from an older version of Matomo to a 4.12.x version of Matomo results in the following error during the `core:update`:
[code]

This error is returned after the DB migration for the 4.12.x Tag Manager update are run.

It seems that executing the `tagmanager:regenerate-released-containers` command manually after the update doesn't return the same error.

Steps to reproduce (Not yet tes

[2022-11-02 22:59] snake14 commented on #565
As it would take me a while to try and reproduce this, I glanced at the code. The error appears to be thrown by the `regenerateReleasedContainers` method in `plugins/TagManager/TagManager.php`. That in turn calls `$containerModel->generateContainer`. Looking at the `generateContainer` method in `plugins/TagManager/Model/Container.php`, which leads to the `enrichContainer` method, it looks like som

[2022-11-03 13:08] MatomoForumNotifications commented on #565
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/error-while-upgrading-database-4-4-1-4-12-3/48071/2

[2022-11-03 23:37] Starker3 commented on #565
@snake14 Only the error message was included. We might be able to get more information if we were to setup a 4.3 install for example and enable debug logging before running an update. But we would likely need to also create a container and some tags in such a new install in order to trigger it.

[2022-11-04 00:58] snake14 commented on #565
@elabuwa @justinvelluppillai What's the best course of action here? We need to validate/reproduce the issue, but I don't want to derail my sprint progress by taking the time to setup a Matomo 4.3 install.

[2022-11-04 10:32] MatomoForumNotifications commented on #546
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/selecting-by-css-does-not-work-with-parents/48059/2

[2022-11-07 02:15] AltamashShaikh commented on #440
@peterbo any update on this ?

[2022-11-07 08:57] AltamashShaikh commented on #565
Hey @Starker3
I setup a fresh Matomo 4.3.1 on my local
Generated 1-2 pageviews and setup a TagManager Tags,Variable and Trigger

Update to latest version and later ran `core:update` and I can see it executed successfully
[code]

[2022-11-07 09:02] AltamashShaikh commented on #565
@Starker3 The best thing we can do is ask the user to regenerate the container and check if it still throws the error or the TagManager works as expectedly

[2022-11-08 20:13] Starker3 commented on #565
Thanks for checking Altamash. It's interesting to see that with your update the command to regenerate released containers didn't execute (At least not according to the `core:update` output).
Is there certain circumstances where the `core:update` would have executed the `regenerate-released-containers` command? Maybe it's only reproducible in the case where that would happen.

[2022-11-09 08:56] Chardonneaur opened #569 "Support trackSiteSearch with mtm.push"
Hello,
it is currently not possible to support the trackSiteSearch with mtm.push.
Is there any development planned about it?

Best regards,

[2022-11-09 09:34] sgiehl commented on #569
@Chardonneaur Is this a tagmanager related request?

[2022-11-10 10:06] Chardonneaur commented on #569
@sgiehl maybe it is more a documentation question. In fact, the differences between paq.push and mtm.push is not clear. Is mtm.push only tag manager related or can it be used with any other methods and will substitute all paq.push methods? My clients are saying that mtm.push work for most cases but not for the track site search.

[2022-11-10 10:21] sgiehl commented on #569
I'd say mtm is only tag manager. I'll move the issue there, maybe someone with more tagmanager know how can answer that.

[2022-11-10 15:08] tomper00 opened #570 "Extend Matomo Tag with options for SearchTracking"
Tracking more advanced siteSearch containing keywords and searchCount is a bit tricky right now. It requires you to create a custom HTML Tag.

I think it would be helpful to extend the Matomo Tag with a Search Tracking type called Search.

It would contain the following settings:
keyword, category & searchCount

<img width="725" alt="mtm-searchTracking" src="https://user-images.githubusercontent.c

[2022-11-10 15:33] #562 closed, assigned to nobody

[2022-11-10 20:11] snake14 commented on #569
I wonder if this could potentially be related to an issue where [_paq.push doesn't always work right with MTM](https://github.com/matomo-org/tag-manager/issues/300). I don't think that `trackSiteSearch` will work with `_mtm.push`, but it should work with `_paq.push` while using our tag manager. If it doesn't, it would be related to that existing issue. Anything to add @AltamashShaikh ?

[2022-11-14 06:16] AltamashShaikh commented on #569
@snake14 You are correct, we might need to create an additional tag/option in the existing code to support it or `_paq.push(['trackSiteSearch'keyword, category, searchCount])` can be executed as a custom HTML tag with a combination of Custom Variable having the other required params.

[2022-11-15 03:19] snake14 commented on #545
Created Jira issue PG-1517

[2022-11-17 11:05] BiancaBBBBBBB opened #576 "Matomo Debug Mode isn't showing up"
Hi there,
when I open the debug mode no preview panel is showing up. Tried every tip that I found, but no result. Please help.

## Your Environment

* Matomo Version: 4.12.3
* PHP Version:
* Server Operating System:
* Additionally installed plugins:

* Browser: Chrome & Mozilla
* Operating System: Windows 11

[2022-11-17 21:31] bx80 commented on #576
Hi @BiancaBBBBBBB, thanks for reaching out. Could you provide a bit more information on how you have configured debug mode and what preview panel you are expecting to see?

[2022-11-18 10:19] BiancaBBBBBBB commented on #576
Hi Ben,

thanks for reaching out so quickly.
When I start the debug mode there should be a debug panel as you can see in the picture below. So I can controll when my tags are fired or not.
[Preview-/ Debug-Panel des Matomo Tag Manager dauerhaft anzeigen - Blog]
But no debug panel is showing up when I start the debug mode.

Mit freundlichen Grüßen aus Neutraubling

Bianca Bartosz
Leitung Digitalmar

[2022-11-18 10:38] tomper00 commented on #569
I might have time look into a pull request for this next week.
My suggestion is to add trackSiteSearch as an option in the Matomo Tag as mentioned here:
https://github.com/matomo-org/tag-manager/issues/570

Regarding the implementation the documentation for search suggests you do not track page views when you track search.
I can see the point from an analytics perspective, but are there any other

[2022-11-18 12:04] AltamashShaikh commented on #569
cc @mattab for your view on this

[2022-11-18 13:56] heurteph-ei commented on #576
Hi @BiancaBBBBBBB
I think your question concerns https://github.com/matomo-org/tag-manager/issues then I think the ticket will be moved to it...
Your last post refers some picture, but I think you posted by email, then the picture were not included... Con you re-post the picture directly in GitHub?

[2022-11-19 08:57] tomper00 commented on #569
I just added some code that adds search tracking to the Matomo Tag
https://github.com/matomo-org/tag-manager/pull/575
@mattab

[2022-11-19 09:05] tomper00 commented on #570
Ok so I added a new pull request for this
https://github.com/matomo-org/tag-manager/pull/575

[2022-11-20 10:55] Chardonneaur commented on #569
@tomper00 honestly, if you make it pass, for sure, I would like to interview you for my book dealing with this part.

[2022-11-20 11:55] tomper00 commented on #569
@Chardonneaur it definitely needs some documentation, since everything is kind of connected :)

[2022-11-20 13:13] Chardonneaur commented on #569
@tomper00 I would be very interested into. In fact, so far, contributing thanks to translation, I get it, contributing thanks to developing, I get it. But now, how to contribute by coding to an existing plugin... question mark for me.

[2022-11-21 01:11] bx80 commented on #576
Hi @BiancaBBBBBBB,

Thanks for the extra info. Based on the preview title I'm guessing this is the missing screenshot:

![image](https://user-images.githubusercontent.com/88810029/202937374-2c304595-56c1-43d3-901d-8810791dda28.png)

So this would be tag manager related as @heurteph-ei spotted :+1:

I'll move this issue to the Tag Manager repository where the team may have a better idea about the i

[2022-11-21 02:41] AltamashShaikh commented on #576
@BiancaBBBBBBB Can you please share the URL, where you are unable to see the debug window ?
We can check there or do you see any errors in the console of your website ?

[2022-11-21 07:25] BiancaBBBBBBB commented on #576
Hi,
here is the URL: https://www.stiglmayr-mehrauto.de/
thanks!

Mit freundlichen Grüßen aus Neutraubling

Bianca Bartosz
Leitung Digitalmarketing

Tel.: +49 9401 91171-20
E-Mail: ***@***.******@***.***>

Ihre Fragen sind mir wichtig!
Kontaktieren Sie mich bitte persönlich.

audaris GmbH
Traunreuter Straße 16
D-93073 Neutraubling
https://www.audaris.de<https://www.audaris.de/>

___________________

[2022-11-21 08:01] AltamashShaikh commented on #576
@BiancaBBBBBBB You haven't installed the Matomo Tag Manager code on your website, instead you have installed the Matomo JS code which is different.
Please refer to this [guide](https://developer.matomo.org/guides/tagmanager/embedding) on how to setup Matomo Tag Manager code and you should see the debug window.

If you still face any issue you can comment here and we can help you accordingly.

[2022-11-21 08:01] #576 closed, assigned to nobody

[2022-11-21 23:31] atom-box opened #577 "Enhancement: Warn user if they redundantly double track by having both the standard tracking code & MTM pageview active"
Almost daily the Cloud team gets a Support email from a customer who complains "The Matomo pageviews are higher than Google Analytics. In fact they seem to be double of my pageviews in GA."

Can we warn the user when they are accidentally double tracking by having both the standard tracking code implementation as well as the Matomo Tag Manager with a Pageview tag?

[2022-11-23 06:41] AltamashShaikh commented on #565
@Starker3 I tried again but no luck in reproducing.

@tsteur Do you have any idea why this will fail ?

[2022-11-23 19:26] tsteur commented on #565
@AltamashShaikh no idea why it would fail. Maybe they can share what MySQL they are using, the content of their tag manager tables, and what SQL mode they are using (although maybe we are forcing a specific mode).

We haven't seen similar reports though so this might be an edge case.

[2022-11-24 09:26] AltamashShaikh commented on #565
@Starker3 Can you ask for the details ?

[2022-11-28 03:31] Starker3 commented on #565
I think we had 3 or 4 users in total that reported this error.

I tried as well to quickly reproduce using a fresh install and wasn't able to reproduce the issue.
Since its a temporary issue (The tag manager container would regenerated anyway again) maybe we can close this issue if we're not getting any more reports for it?

[2022-11-28 05:19] AltamashShaikh commented on #565
@Starker3 Closing this ticket for now, we can reopen if we have more such cases

[2022-11-28 05:19] #565 closed, assigned to nobody

[2022-11-29 02:56] Starker3 opened #579 "Add option for custom limits for tag firing frequency"
At present we can limit a tag to fire at the following frequencies:
- Unlimited
- Once per pageview
- Once per 24 hours
- Once per lifetime

It would be quite useful if we were able to set a different limit, for example
- Once per minute
- Once per hour
or a custom limits such as
- Once per X number of seconds